<script src="/javascripts/FileSaver.js"></script>
	<div id="form-content">
	</div>
	<h3>File excel</h3>
	<js-xls onread="read" onerror="error" id="excelfile"></js-xls>
	<br>
	<h3>Test trích xuất file {{name}}</h3>
	<input type="text" title="{{tooltips['dataFlex']}}" name="dataFlex" class="input-form flexdatalist-force" data-min-length='0' multiple='multiple' ng-model="dataFlex" list="dataFlex">
	<datalist id="dataFlex">
		<option value="soHieuBTTNVN">Số hiệu bảo tàng thiên nhiên</option>
		<option value="soHieuThucDia">Số hiệu thực địa</option>
		<option value="kyHieuMauVatKhac">Kí hiệu mẫu vật khác</option>
		<option value="tenTiengAnh">Tên tiếng anh</option>
	</datalist>

	<button type="button" data-id="/content/dong-vat/59153670d01e41313c837dc9?display=docx" ng-click="download()" class="btn btn-default">Dowload</button>
  <div ng-bind="counter"></div>
<!-- <script type="text/javascript" src="asset/js/buttonfile/custom-file-input.js"></script> -->