<div class="" style="margin-top: 60px;" bs-loading-overlay bs-loading-overlay-delay="200">
	<form id="form-content">
		<input type="text" name="id" style="display: none;" ng-model="data.id">
		<center><h2>Chỉnh sửa mẫu dữ liệu thực vật</h2></center>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
					<tr>
						<td><label >Mã đề tài <span class="has-required">(*)</span></label></td>
						<td>
							<input type="text" name="maDeTai" disabled="true" ng-model="data.maDeTai" class="input-form"  required>
						</td>
					</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">SỐ HIỆU</h3>
				<tr>
					<td><label>01.Số hiệu BTTNVN:</label></td>
					<td><input type="text"  title="{{tooltips['soHieuBTTNVN']}}" name="soHieuBTTNVN" ng-model="data.soHieuBTTNVN" class="input-form"></td>
				</tr>
				<tr>
					<td><label>02.Số hiệu bảo tàng cơ sở<span class="has-required">(*)</span>:</label></td>
					<td><input type="text"  title="{{tooltips['soHieuBaoTangCS']}}" name="soHieuBaoTangCS" ng-model="data.soHieuBaoTangCS" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>03.Số hiệu thực địa <span class="has-required">(*)</span>:</label></td>
					<td><input type="text"  title="{{tooltips['soHieuThucDia']}}" name="soHieuThucDia" ng-model="data.soHieuThucDia" class="input-form" required></td>
				</tr>				<tr>
					<td><label>04.Các kí hiệu mẫu vật khác:</label></td>
					<td><input type="text" title="{{tooltips['kyHieuMauVatKhac']}}" name="kyHieuMauVatKhac" ng-model="data.kyHieuMauVatKhac" class="input-form"></td>
				</tr>
				<tr>
					<td><label>05.Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac1']}}" name="thongTinKhac1" ng-model="data.thongTinKhac1" class="input-form"></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">TÊN MẪU VẬT</h3>
				<tr><td><label>06. Tên khoa học (tên latin)</label></td></tr>
				<tr>
					<td>Tên đồng nghĩa:</td>
					<td><input type="text" title="{{tooltips['tenDongNghia']}}" name="tenDongNghia" ng-model="data.tenDongNghia" id="tenDongNghia" class="input-form"></td>
				</tr>
				<tr>
					<td>Giới:</td>
					<td><input type="text" title="{{tooltips['gioi']}}" name="gioi" ng-model="data.gioi" id="gioi" class="input-form"></td>
				</tr>
						<tr>
					<td>Ngành:</td>
					<td><input type="text" title="{{tooltips['nganh']}}" name="nganh" ng-model="data.nganh" id="nganh" class="input-form"></td>
				</tr>
				<tr>
					<td>Lớp <span class="has-required">(*)</span>:</td>
					<td><input type="text" title="{{tooltips['lop']}}" name="lop" ng-model="data.lop" id="lop" class="input-form" required></td>
				</tr>
				<tr>
					<td>Phân lớp:</td>
					<td><input type="text" id="phanLop" ng-model="data.phanLop" title="{{tooltips['phanLop']}}" name="phanLop" class="input-form" ></td>
				</tr>
				<tr>
					<td>Bộ <span class="has-required">(*)</span>:</td>
					<td><input type="text" title="{{tooltips['bo']}}" name="bo" ng-model="data.bo" id="bo" class="input-form" required></td>
				</tr>
				<tr>
					<td>Phân bộ:</td>
					<td><input type="text" title="{{tooltips['phanBo']}}" name="phanBo" ng-model="data.phanBo" id="phanBo" class="input-form"></td>
				</tr>
				<tr>
					<td>Liên họ:</td>
					<td><input type="text" title="{{tooltips['lienHo']}}" name="lienHo" ng-model="data.lienHo" id="lienHo" class="input-form"></td>
				</tr>
				<tr>
					<td>Họ <span class="has-required">(*)</span>:</td>
					<td><input type="text" title="{{tooltips['ho']}}" name="ho" ng-model="data.ho" id="ho" class="input-form" required></td>
				</tr>
				<tr>
					<td>Phân họ:</td>
					<td><input type="text" title="{{tooltips['phanHo']}}" name="phanHo" ng-model="data.phanHo" id="phanHo" class="input-form"></td>
				</tr>
				<tr>
					<td>Tông:</td>
					<td><input type="text" title="{{tooltips['tong']}}" name="tong" ng-model="data.tong" id="tong" class="input-form"></td>
				</tr>
				<tr>
					<td>Chi <span class="has-required">(*)</span>:</td>
					<td><input type="text" title="{{tooltips['chiGiong']}}" name="chiGiong" ng-model="data.chiGiong" id="chiGiong" class="input-form" required></td>
				</tr>
				<tr>
					<td>Phân chi:</td>
					<td><input type="text" title="{{tooltips['phanChiPhanGiong']}}" name="phanChiPhanGiong" ng-model="data.phanChiPhanGiong" id="phanChiPhanGiong" class="input-form"></td>
				</tr>

				<tr>
					<td>Loài (nếu có):</td>
					<td><input type="text" id="loai" ng-model="data.loai" class="input-form" title="{{tooltips['loai']}}" name="loai"></td>
				</tr>
				<tr>
					<td>Dưới loài/phân loài:</td>
					<td><input type="text" title="{{tooltips['duoiLoai']}}" name="duoiLoai" ng-model="data.duoiLoai" class="input-form" id="duoiLoai"></td>
				</tr>
				<tr>
					<td><label>07. Người định tên: </label></td>
					<td><input type="text" title="{{tooltips['nguoiDinhTen']}}" name="nguoiDinhTen" ng-model="data.nguoiDinhTen" class="input-form" ></td>
				</tr>
				<tr>
					<td><label>08. Ngày định tên: </label></td>
					<td><input type="text" class="input-form datepicker" title="{{tooltips['ngayDinhTen']}}" name="ngayDinhTen" ng-model="data.ngayDinhTen" ></td>
				</tr>
				<tr>
					<td><label>09. Tên Việt Nam (phổ thông) <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['tenVietNam']}}" name="tenVietNam" ng-model="data.tenVietNam" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>10. Tên địa phương:</label></td>
					<td><input type="text" title="{{tooltips['tenDiaPhuong']}}" name="tenDiaPhuong" ng-model="data.tenDiaPhuong" class="input-form"></td>
				</tr>
				<tr>
					<td><label>11. Tên Tiếng Anh:</label></td>
					<td><input type="text" title="{{tooltips['tenTiengAnh']}}" name="tenTiengAnh" ng-model="data.tenTiengAnh" class="input-form"></td>
				</tr>
				<tr>
					<td><label>12. Tên theo hệ thống phân loại của BTTNVN:</label></td>
					<td><input type="text" title="{{tooltips['tenTheoBaoTang']}}" name="tenTheoBaoTang" ng-model="data.tenTheoBaoTang" class="input-form"></td>
				</tr>
				<tr>
					<td><label>13. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac2']}}" name="thongTinKhac2" ng-model="data.thongTinKhac2" class="input-form"></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">SỐ LƯỢNG VÀ CHẤT LƯỢNG MẪU VẬT</h3>
				<tr>
					<td><label>14. Số lượng tiêu bản:</label></td>
					<td><input type="number" min = "0" title="{{tooltips['soLuongTieuBan']}}" name="soLuongTieuBan" ng-model="data.soLuongTieuBan" class="input-form"></td>
				</tr>
				<tr>
					<td><label>15. Loại mẫu vật<span class="has-required"> (*)</span>:</label></td>
					<td>
						<input type="text" title="{{tooltips['loaiMauVat']}}" name="loaiMauVat" multiple='multiple' class="input-form flexdatalist flexdatalist-force"  data-min-length='0'  ng-model="data.loaiMauVat" list="loaiMauVat">
						<datalist id="loaiMauVat">
							<option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
							<option value="Mẫu trưng bày">Mẫu trưng bày</option>
							<option value="Mẫu type">Mẫu type</option>
						</datalist>
					</td>
				</tr>
				<tr><td><label>16. Kích thước mẫu vật<span class="has-required"> (*)</span>:</label></td></tr>
				<tr>
					<td>
						<table style="margin-left: 7px;">
							<tr>
							<td><span>Chiều cao: </span></td>
								<td>					    
								    <span class="box">
								      <input type="text" title="{{tooltips['chieuCao']}}" name="chieuCao" ng-model="data.chieuCao" class="datatext" id="datatext">
								      <select class="contentselect" ng-model="data.donVi_chieuCao" name="donVi_chieuCao">
								          <option value="mm">mm</option>
								          <option value="cm">cm</option>
								          <option value="m">m</option>
								       </select>
								    </span>
								</td>
							</tr>
							<tr>
								<td><span>Chiều rộng<span class="has-required"> (*)</span>: </span></td>
								<td>					    
								    <span class="box">
								      <input type="text" title="{{tooltips['chieuRong']}}" name="chieuRong" ng-model="data.chieuRong" class="datatext" id="datatext">
								      <select class="contentselect" ng-model="data.donVi_chieuRong" ng-model="data.chieuCao" name="donVi_chieuRong">
								          <option value="mm">mm</option>
								          <option value="cm">cm</option>
								          <option value="m">m</option>
								       </select>
								    </span>
								</td>
							</tr>
						
							<tr>
								<td><span>Chiều dài<span class="has-required"> (*)</span>: </span></td>
								<td>					    
								    <span class="box">
								      <input type="text" title="{{tooltips['chieuDai']}}" name="chieuDai" ng-model="data.chieuDai" class="datatext" id="datatext">
								      <select class="contentselect" ng-model="data.donVi_chieuDai" name="donVi_chieuDai">
								          <option value="mm">mm</option>
								          <option value="cm">cm</option>
								          <option value="m">m</option>
								       </select>
								    </span>
								</td>
							</tr>
							<tr>
								<td><span>Trọng lượng: </span></td>
								<td>					    
								    <span class="box">
								      <input type="text" title="{{tooltips['trongLuong']}}" name="trongLuong" ng-model="data.trongLuong" class="datatext" id="datatext">
								      <select class="contentselect" ng-model="data.donVi_trongLuong" name="donVi_trongLuong">
											<option value="mg">mg</option>
								         	<option value="g">g</option>
								          	<option value="kg">kg</option>
								       </select>
								    </span>
								</td>
							</tr>
						
							<tr>		
								<td><span>Thể tích</span></td>
								<td>					    
								    <span class="box">
								      <input type="text" title="{{tooltips['theTich']}}" name="theTich" class="datatext" ng-model="data.theTich" id="datatext">
								      <select class="contentselect" ng-model="data.donVi_theTich" name="donVi_theTich">
								          <option value="ml">ml</option>
								          <option value="l">l</option>
								       </select>
								    </span>
								</td>
							</tr>						
						</table>
					</td>
				</tr>
				<tr>
					<td><label>17. Tình trạng mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['tinhTrangMau']}}" name="tinhTrangMau" ng-model="data.tinhTrangMau" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>18. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac3']}}" name="thongTinKhac3" ng-model="data.thongTinKhac3" class="input-form"></td>
				</tr>		
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU THU MẪU</h3>
				<tr>
					<td><label>19. Thời gian thu mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" class="input-form datepicker" title="{{tooltips['thoiGianThuMau']}}" name="thoiGianThuMau" ng-model="data.thoiGianThuMau"  required></td>
				</tr>
				<tr>
					<td><label>20. Người thu mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['nguoiThuMau']}}" name="nguoiThuMau" ng-model="data.nguoiThuMau" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>21. Cơ quan thu mẫu: </label></td>
					<td><input type="text" id="coQuanThuMau" ng-model="data.coQuanThuMau" title="{{tooltips['coQuanThuMau']}}" name="coQuanThuMau" class="input-form"></td>
				</tr>
				<tr>
					<td><label>22. Phương pháp thu mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['phuongPhapThuMau']}}" name="phuongPhapThuMau" ng-model="data.phuongPhapThuMau" class="input-form" required></td>
				</tr>
				<tr><td><label>23. Địa điểm thu mẫu: </label></td></tr>
				<tr>
					<td ng-controller="PlaceController">
						<table>
							<tr>
								<td>Vị trí: </td>
								<td>
									<input type="radio" name="fDiaDiemThuMau" value="dat-lien" ng-model="datLien" ng-checked="true" ng-click="showstar()" id="datLien"> Trên đất liền 
									<input type="radio" name="fDiaDiemThuMau" value="bien" id="trenBien" ng-click="hidestar()" ng-model="trenBien"> Trên đảo
								</td>
							</tr>
							<tr>
								<td>Quốc gia<span class="has-required"> (*)</span>: </td>
								<td>
									<input type="text" list="quocGia" class="input-form flexdatalist" data-min-length='0' ng-model="data.quocGia" title="{{tooltips['quocGia']}}" name="quocGia">
									<datalist id="quocGia">
										<option value="Việt Nam">Việt Nam</option>
									</datalist>
								</td>
							</tr>
							<tr>
								<td>Tỉnh/Thành phố<span ng-show="star" class="has-required"> (*)</span>: </td>
								<td>
									<input type="text" list="tinh" class="input-form flexdatalist" ng-model="data.tinh" ng-change="cityChange()" data-min-length='0' title="{{tooltips['tinh']}}" name="tinh"> 
									<datalist id="tinh">
										<option ng-repeat="city in cities | orderBy: 'name'" id="{{city.name}}" value="{{city.id}}">{{city.name}}</option>
									</datalist>
									<!-- {{tinh}} -->
								</td>
							</tr>
							<tr>
								<td>Huyện<span ng-show="star" class="has-required"> (*)</span>:</td>
								<td>
									<input type="text" class="input-form flexdatalist" title="{{tooltips['huyen']}}" id="render_districts" name="huyen" list="huyen" required ng-model= "data.huyen" ng-change="districtChange()">
									<datalist id="huyen">
										<option ng-repeat="district in districts | customCity: id_tinh | orderBy: 'name'" id="{{district.name}}" value="{{district.id}}">{{district.name}}</option>
									</datalist>
								</td>
							</tr>
							<tr>
								<td>Xã<span ng-show="star" class="has-required"> (*)</span>: </td>
								<td>
									<input type="text" class="input-form flexdatalist" ng-model="data.xa" id="render_wards" title="{{tooltips['xa']}}" name="xa" list="xa" required>
									<datalist id="xa">
										<option ng-repeat="ward in wards | customDistrict: id_huyen | orderBy:'name'" value="{{ward.id}}">{{ward.name}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Thôn/Xóm: </td>
								<td><input type="text" ng-model="data.thon" title="{{tooltips['thon']}}" name="thon" id="thon" class="input-form"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<label>24. Vị trí tọa độ theo hệ tọa độ Việt Nam 2000: </label>
						<input type="radio" name="fViTriToaDo" id="vitri-dms" value="true" ng-click="dms()"><span class="label label-default"> DMS</span>
						<input type="radio" name="fViTriToaDo" id="vitri-dd" value="false" ng-click="dd()"><span class="label label-default"> DD</span>
					</td>
				</tr>
				<tr>
					<td>Vĩ độ N <span class="has-required">(*)</span>:</td>
					<td>
						<input type="text" id="dms" ng-show="!showCoor" title="{{tooltips['viDo']}}" name="viDo" ng-model="data.viDo" class="input-form" required>
						<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['viDo']}}">
							<input type="number" step="1" ng-model= "vido_do" ng-change="latChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> độ
							<input type="number" step="1" ng-model= "vido_phut" ng-change="latChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> phút
							<input type="number" step="1" ng-model= "vido_giay" ng-change="latChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> giây
						</div>
					</td>
				</tr>
				<tr>
					<td>Kinh độ E <span class="has-required">(*)</span>:</td>
					<td>
						<input type="text" id="dms" ng-show="!showCoor" title="{{tooltips['kinhDo']}}" name="kinhDo" ng-model="data.kinhDo" class="input-form" required>
						<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['kinhDo']}}">
							<input type="number" step="1" ng-model="kinhdo_do" ng-change="lonChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> độ
							<input type="number" step="1" ng-model="kinhdo_phut" ng-change="lonChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> phút
							<input type="number" step="1" ng-model="kinhdo_giay" ng-change="lonChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> giây
						</div>
					</td>
					</td>
				</tr>
				<tr>
					<td><label>25. Độ cao (m)<span class="has-required">(*)</span>: </label></td>
					<td><input type="text" title="{{tooltips['doCao']}}" name="doCao" ng-model="data.doCao" class="input-form" required ></td>
				</tr>
				<tr>
					<td><label>26. Độ sâu (m):</label></td>
					<td><input type="number" title="{{tooltips['doSau']}}" name="doSau" ng-model="data.doSau" class="input-form"></td>
				</tr>
				<tr>
					<td><label>27. Vùng biển:</label></td>
					<td><input type="text" title="{{tooltips['vungBien']}}" name="vungBien" ng-model="data.vungBien" class="input-form"></td>
				</tr>
				<tr>
					<td><label>28. Sinh học/sinh thái:</label></td>
					<td><input type="text" title="{{tooltips['sinhHoc']}}" name="sinhHoc" ng-model="data.sinhHoc" class="input-form"></td>
				</tr>
				<tr>
					<td><label>29. Thông tin về dự án, đề tài đợt thu nhập mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['thongTinDuAn']}}" name="thongTinDuAn" ng-model="data.thongTinDuAn" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>30. Ghi chép thực địa <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['ghiChepThucDia']}}" name="ghiChepThucDia" ng-model="data.ghiChepThucDia" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>31. Bản đồ:</label></td>
					<td>
						<input type="file" multiple id="banDo" accept=".zip, .rar" name="banDo" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="banDo" title="{{tooltips['banDo']}}"><span>{{getName(data.banDo)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>32. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac4']}}" name="thongTinKhac4" class="input-form" ng-model="data.thongTinKhac4"></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU PHÂN TÍCH MẪU</h3>
				<tr>
					<td><label>33. Thời gian phân tích/giám định/định loại mẫu:</label></td>
					<td><input type="text" class="input-form datepicker" title="{{tooltips['thoiGianGiamDinh']}}" name="thoiGianGiamDinh" ng-model="data.thoiGianGiamDinh" ></td>
				</tr>
				<tr>
					<td><label>34. Người phân tích/giám định/định loại mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['nguoiGiamDinh']}}" name="nguoiGiamDinh" ng-model="data.nguoiGiamDinh" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>35. Cơ quan/tổ chức phân tích/giám định/phân loại mẫu <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['coQuanToChucGiamDinh']}}" name="coQuanToChucGiamDinh" ng-model="data.coQuanToChucGiamDinh" id="coQuanToChucGiamDinh" class="input-form" required></td>
				</tr>
				<tr><td><label>36. Tài liệu phân tích/giám định/phân loại đi kèm <span class="has-required"> (*)</span>:</label></td></tr>
				<tr>
					<td><input type="text" ng-model="data.taiLieuPhanTichStr" title="{{tooltips['taiLieuPhanTichStr']}}" name="taiLieuPhanTichStr" class="input-form" required></td>
					<td>
						<input type="file" id="taiLieuPhanTichFile" multiple ng-model="data.taiLieuPhanTichFile" name="taiLieuPhanTichFile" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected" max-file-size="10" required>
						<label for="taiLieuPhanTichFile" title="{{tooltips['taiLieuPhanTichFile']}}"><span>{{getName(data.taiLieuPhanTichFile)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr><td><label>37. Mô tả/đặc điểm hình thái <span class="has-required"> (*)</span></label></td></tr>
				<tr>
					<td>
						<input type="text" title="{{tooltips['moTaHinhThaiStr']}}" ng-model="data.moTaHinhThaiStr" name ="moTaHinhThaiStr" class="input-form">		
					</td>
					<td>
						<input type="file" multiple id="moTaHinhThaiFile" accept=".docx, .doc, .pdf" ng-model="data.moTaHinhThaiFile" name ="moTaHinhThaiFile" max-file-size="10" required class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="moTaHinhThaiFile" title="{{tooltips['moTaHinhThaiFile']}}"><span>{{getName(data.moTaHinhThaiFile)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>38. Hình vẽ:</label></td>
					<td>
						<input type="file" multiple ng-model="data.hinhVe" id="hinhVe" name="hinhVe" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
						<label for="hinhVe" title="{{tooltips['hinhVe']}}"><span>{{getName(data.hinhVe)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>39. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac5']}}" name="thongTinKhac5" class="input-form" ng-model="data.thongTinKhac5"></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU HÌNH ẢNH, PHIM, TÀI LIỆU MẪU VẬT</h3>
				<tr>
					<td><label>40. Ảnh mẫu vật <span class="has-required">(*)</span>:</label></td>
					<td>
						<input type="file" multiple id="anhMauVat" ng-model="data.anhMauVat" name="anhMauVat" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="10" required>
						<label for="anhMauVat" title="{{tooltips['anhMauVat']}}"><span>{{getName(data.anhMauVat)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>41. Hình ảnh mẫu ngoài thực địa:</label></td>
					<td>
						<input type="file" multiple id="hinhAnhNgoaiThucDia" accept="image/*" max-file-size="10" ng-model="data.hinhAnhNgoaiThucDia" name="hinhAnhNgoaiThucDia" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="hinhAnhNgoaiThucDia" title="{{tooltips['hinhAnhNgoaiThucDia']}}"><span>{{getName(data.hinhAnhNgoaiThucDia)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>42. Thông tin về phim, video: </label></td>
					<td>
						<input type="text" title="{{tooltips['videoStr']}}" name="videoStr" ng-model="data.videoStr" class="input-form" >
					</td>
					</tr>
				<tr>
					<td><label>43. Đính kèm phim, video:</label></td>
					<td>
						<input type="file" multiple accept="video/*" name ="videoFile" ng-model="data.videoFile" id="videoFile" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="videoFile" title="{{tooltips['videoFile']}}"><span>{{getName(data.videoFile)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr><td><label>44. Xử lý chế tác mẫu vật: </label></td></tr>
				<tr>
					<td>Hình ảnh đính kèm Xử lý chế tác:</td>
					<td>
						<input type="file" multiple id="hinhAnhDinhKem" ng-model="data.hinhAnhDinhKem" name="hinhAnhDinhKem" accept="image/*" max-file-size="5" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="hinhAnhDinhKem" title="{{tooltips['hinhAnhDinhKem']}}"><span>{{getName(data.hinhAnhDinhKem)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td>Đính kèm xử lý chế tác:</td>
					<td>
						<input type="file" multiple ng-model="data.dinhKemXuLyCheTac" id="dinhKemXuLyCheTac" accept=".docx, .doc, .pdf" name="dinhKemXuLyCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="dinhKemXuLyCheTac" title="{{tooltips['dinhKemXuLyCheTac']}}"><span>{{getName(data.dinhKemXuLyCheTac)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td>Phương thức xử lý chế tác:</td>
					<td><input type="text" title="{{tooltips['phuongThucXuLy']}}" name="phuongThucXuLy" ng-model="data.phuongThucXuLy" class="input-form"></td>
				</tr>
				<tr>
					<td>Thuộc tính xử lý chế tác </td>
					<td><input type="text" title="{{tooltips['thuocTinhXuLyCheTac']}}" name="thuocTinhXuLyCheTac" ng-model="data.thuocTinhXuLyCheTac" class="input-form"></td>
				</tr>
				<tr>
					<td>Thời gian xử lý chế tác:</td>
					<td><input type="text" title="{{tooltips['thoiGianXuLy']}}" name="thoiGianXuLy" ng-model="data.thoiGianXuLy" class="input-form datepicker"></td>
				</tr>
				<tr>
					<td>Người xử lý, chế tác:</td>
					<td><input type="text" title="{{tooltips['nguoiXuLy']}}" name="nguoiXuLy" ng-model="data.nguoiXuLy" class="input-form"></td>
				</tr>
				<tr>
					<td>Cơ quan xử lý, chế tác mẫu:</td>
					<td><input type="text" title="{{tooltips['coQuanXuLy']}}" name="coQuanXuLy" ng-model="data.coQuanXuLy" id="coQuanXuLy" class="input-form"></td>
				</tr>
				<tr>
					<td>Ảnh mẫu sau chế tác:</td>
					<td>
						<input type="file" id="anhMauSauCheTac" multiple ng-model="data.anhMauSauCheTac" name="anhMauSauCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
						<label for="anhMauSauCheTac" title="{{tooltips['anhMauSauCheTac']}}"><span>{{getName(data.anhMauSauCheTac)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr><td><label>45. Thông tin DNA</label></td></tr>
				<tr>
					<td>Vị trí lấy mẫu DNA (lá, thân, rễ,...):</td>
					<td><input type="text" id="viTriLayMauDNA" title="{{tooltips['viTriLayMauDNA']}}" name="viTriLayMauDNA" ng-model="data.viTriLayMauDNA" class="input-form"></td>
				</tr>
				<tr>
					<td>Mẫu DNA (khô, nước...):</td>
					<td><input type="text" id="mauDNA" title="{{tooltips['mauDNA']}}" name="mauDNA" ng-model="data.mauDNA" class="input-form"></td>
				</tr>
				<tr>
					<td>Vùng gen phân tích: </td>
					<td><input type="text" id="vungGenPhanTich" title="{{tooltips['vungGenPhanTich']}}" name="vungGenPhanTich" ng-model="data.vungGenPhanTich" class="input-form"></td>
				</tr>
				<tr>
					<td>Trình tự DNA</td>
					<td>
						<input type="file" multiple ng-model="data.dinhKemTrinhTuDNA" id="dinhKemTrinhTuDNA" name="dinhKemTrinhTuDNA" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="dinhKemTrinhTuDNA" title="{{tooltips['dinhKemTrinhTuDNA']}}"><span>{{getName(data.dinhKemTrinhTuDNA)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td>Công bố/thông tin quốc tế (genbank...)</td>
					<td><input type="text" title="{{tooltips['congBoQuocTe']}}" name="congBoQuocTe" ng-model="data.congBoQuocTe" class="input-form"></td>
				</tr>
				<tr>
					<td><label>46. Thông tin mẫu hạt phấn</label></td>
					<td><input type="text" multiple title="{{tooltips['thongTinMauHatPhan']}}" name="thongTinMauHatPhan" ng-model="data.thongTinMauHatPhan" class="input-form"></td>
				</tr>
				<tr>
					<td><label>47. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac5']}}" name="thongTinKhac5" ng-model="data.thongTinKhac5" class="input-form"></td>
				</tr>	
			</table>
			</div>
			<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU PHÂN BỐ VÀ GIÁ TRỊ SỬ DỤNG</h3>
				<tr>
					<td><label>48. Phân bố Việt Nam <span class="has-required">(*)</span>:</label></td>
				</tr>
				<tr>
					<td>
						<input type="text" title="{{tooltips['phanBoVietNamStr']}}" name="phanBoVietNamStr" ng-model="data.phanBoVietNamStr" class="input-form" required>
					</td>
					<td>
						<input type="file" multiple ng-model="data.phanBoVietNamFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" id="phanBoVietNamFile" name ="phanBoVietNamFile">
						<label for="phanBoVietNamFile" title="{{tooltips['phanBoVietNamFile']}}"><span>{{getName(data.phanBoVietNamFile)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>49. Phân bố trên thế giới (nếu có):</label></td>
				</tr>
				<tr>
					<td>
						<input type="text" title="{{tooltips['phanBoTrenTheGioiStr']}}" name="phanBoTrenTheGioiStr" ng-model="data.phanBoTrenTheGioiStr" class="input-form">
					</td>
					<td>
						<input type="file" id="phanBoTrenTheGioiFile" multiple ng-model="data.phanBoTrenTheGioiFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" name ="phanBoTrenTheGioiFile">
						<label for="phanBoTrenTheGioiFile" title="{{tooltips['phanBoTrenTheGioiFile']}}"><span>{{getName(data.phanBoTrenTheGioiFile)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>50. Giá trị sử dụng (tài nguyên)(nếu có):</label></td>
					<td>
						<input type="" title="{{tooltips['giaTriSuDung']}}" name="giaTriSuDung" multiple='multiple' class="input-form flexdatalist"  data-min-length='0'  ng-model="data.giaTriSuDung" list="giaTriSuDung">
						<datalist id="giaTriSuDung">
							<option>Khoa học</option>
							<option>Y học</option>
							<option>Dinh Dưỡng</option>
							<option>Thẩm mĩ</option>
						</datalist>
					</td>
				</tr>
				<tr>
					<td><label>51. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac6']}}" name="thongTinKhac6" ng-model="data.thongTinKhac6" class="input-form"></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU LƯU TRỮ, BẢO QUẢN MẪU</h3>
				<tr>
					<td><label>52. Ngày nhập mẫu: </label></td>
					<td><input type="text" class="input-form datepicker" title="{{tooltips['ngayNhapMau']}}" name="ngayNhapMau" ng-model="data.ngayNhapMau" ></td>
				</tr>
				<tr>
					<td><label>53. Người giao mẫu: </label></td>
					<td><input type="text" title="{{tooltips['nguoiGiao']}}" name="nguoiGiao" ng-model="data.nguoiGiao" class="input-form"></td>
				</tr>
				<tr>
					<td><label>54. Người nhận mẫu</label></td>
					<td><input type="text" title="{{tooltips['nguoiNhan']}}" name="nguoiNhan" ng-model="data.nguoiNhan" class="input-form"></td>
				</tr>
				<tr>
					<td><label>55. Cơ quan nhập mẫu: </label></td>
					<td><input type="text" title="{{tooltips['coQuanNhapVatMau']}}" name="coQuanNhapVatMau" ng-model="data.coQuanNhapVatMau" id="coQuanNhapVatMau" class="input-form"></td>
				</tr>
				<tr>
					<td><label>56. Hình thức nhập mẫu:</label></td>
					<td>
						<input type="text" list="hinhThucNhapMau" class="input-form flexdatalist" data-min-length='0'  title="{{tooltips['hinhThucNhapMau']}}" ng-model="data.hinhThucNhapMau" name="hinhThucNhapMau">
						<datalist id="hinhThucNhapMau">
							<option value="Thu thập">Thu thập</option>
							<option value="Hiến tặng">Hiến tặng</option>
						</datalist>
					</td>
				</tr>

				<tr>
					<td><label>57. Trao đổi mẫu: </label></td>
					<td>
						<select title="{{tooltips['traoDoiMau']}}" name="traoDoiMau" ng-init="" class="select-box" ng-model="data.traoDoiMau">
							<option value=""></option>
							<option value="Có thể">Có thể</option>
							<option value="Không thể">Không thể</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>58. Vay mượn mẫu:</label></td>
					<td>
						<select class="select-box" ng-init="" title="{{tooltips['vayMuon']}}" name="vayMuon" ng-model="data.vayMuon">
							<option value=""></option>
							<option value="Có thể">Có thể</option>
							<option value="Không thể">Không thể</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>59. Nơi lưu trữ:</label></td>
					<td><input type="text" title="{{tooltips['noiLuuTruMau']}}" name="noiLuuTruMau" ng-model="data.noiLuuTruMau" class="input-form"></td>
				</tr>
				<tr>
					<td><label>60. Khu lưu trữ mẫu:</label></td>
				</tr>
				<tr>
					<td>Phòng</td>
					<td><input type="text" title="{{tooltips['phong']}}" name="phong" ng-model="data.phong" class="input-form"></td>
				</tr>
				<tr>
					<td>Tủ, giá</td>
					<td><input type="text" title="{{tooltips['tuGia']}}" name="tuGia" ng-model="data.tuGia" class="input-form"></td>
				</tr>
				<tr>
					<td>Ngăn tủ, ngăn giá</td>
					<td><input type="text" title="{{tooltips['ngan']}}" name="ngan" ng-model="data.ngan" class="input-form"></td>
				</tr>
				<tr>
					<td>Hộp</td>
					<td><input type="text" title="{{tooltips['hop']}}" name="hop" ng-model="data.hop" class="input-form"></td>
				</tr>
				<tr>
					<td><label>61. Giấy phép nhập mẫu:</label></td>
					<td>
						<input type="file" multiple id="giayPhepNhapMau" ng-model="data.giayPhepNhapMau" name="giayPhepNhapMau" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*, .pdf">
						<label for="giayPhepNhapMau" title="{{tooltips['giayPhepNhapMau']}}"><span>{{getName(data.giayPhepNhapMau)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>62. Hồ sơ nhập mẫu vật đi kèm:</label></td>
					<td>
						<input type="file" multiple ng-model="data.hoSoNhapMauVatDiKem" id="hoSoNhapMauVatDiKem" name="hoSoNhapMauVatDiKem" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf">
						<label for="hoSoNhapMauVatDiKem" title="{{tooltips['hoSoNhapMauVatDiKem']}}"><span>{{getName(data.hoSoNhapMauVatDiKem)}}</span><strong>Choose file</strong></label>
					</td>
				</tr>
				<tr>
					<td><label>63. Người lập phiếu mẫu vật <span class="has-required">(*)</span>:</label></td>
					<td><input type="text" title="{{tooltips['nguoiLapPhieuMauVat']}}" name="nguoiLapPhieuMauVat" ng-model="data.nguoiLapPhieuMauVat" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>64. Người nhập thông tin vào phần mềm:</label></td>
					<td><input type="text" title="{{tooltips['nguoiNhapVaoPhanMem']}}" name="nguoiNhapVaoPhanMem" ng-model="data.nguoiNhapVaoPhanMem" class="input-form"></td>
				</tr>
				<tr>
					<td><label>65. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac7']}}" name="thongTinKhac7" ng-model="data.thongTinKhac7" class="input-form"></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU THÔNG TIN KHÁC</h3>
				<tr>
					<td><label>66. Thông tin khác</label></td>
					<td><input type="text" title="{{tooltips['thongTinKhac8']}}" name="thongTinKhac8" ng-model="data.thongTinKhac8" class="input-form"></td>
				</tr>
			</table>
		</div>
		<center><button style="margin-top: 30px;" type="submit" ng-click="updatePost()" class="btn btn-success btn-lg">Cập nhật</button></center>
	</form>
</div>
<!-- Custom input file -->
<script type="text/javascript" src="asset/js/buttonfile/custom-file-input.js"></script>