<div class="container map-detail" style="margin-top: 50px;">
	<form id="form-content">
		<center><h2>Cơ sở dữ liệu mẫu địa chất</h2></center>
		<table>
			<h3 class="h3-title">1. Số hiệu</h3>
			<tr>
				<td><label>Mã bảo tàng(*):</label></td>
				<td><input type="text" name="maBaoTang" class="input-form"  required></td>
			</tr>
			<tr>
				<td><label>Số hiệu thực địa(*):</label></td>
				<td><input type="text" name="soHieuThucDia"  class="input-form"  required></td>
			</tr>
			<tr>
				<td><label>Số hiệu bảo tàng cơ sở:</label></td>
				<td><input type="text" name="soHieuBaoTangCS" class="input-form"  required></td>
			</tr>
			<tr>
				<td><label>Số hiệu BTTNVN(*):</label></td>
				<td><input type="text" name="soHieuBTTNVN" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Mã kí hiệu mẫu vật quốc tế:</label></td>
				<td><input type="text" name="maKyHieuMauVatQuocTe" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Các kí hiệu mẫu vật khác:</label></td>
				<td><input type="text" name="kyHieuMauVatKhac" class="input-form"  value="" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">2. Tên mẫu</h3>
			<tr>
				<td><label>Tên mẫu vật phổ thông:</label></td>
				<td><input type="text" name="tenPhoThong" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Tên mẫu vật theo hệ thống phân loại của Bảo tàng (*):</label></td>
				<td><input type="text" name="tenTheoPLBT" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Tên mẫu vật theo hệ thống phân loại của Quốc tế(*):</label></td>
				<td><input type="text" name="tenTheoPLQT" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Tên khoa học (tên latin) :</label></td>
				<td><input type="text" name="tenKhoaHoc" class="input-form"  value="" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">3. Số lượng và chất lượng mẫu vật</h3>
			<tr>
				<td><label>Số lượng mẫu vật (*):</label></td>
				<td><input type="text" name="soLuongMauVat" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Số lượng tiêu bản (*):</label></td>
				<td><input type="text" name="soLuongTieuBan" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Loại mẫu (*):</label></td>
				<td>
					<select required name="loaiMau">
						<option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
						<option value="Mẫu trưng bày">Mẫu trưng bày</option>
						<option value="Mẫu type">Mẫu type</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Kích thước mẫu (*):</label></td>
				<td><input type="text" name="kichThuocMau" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Tình trạng mẫu (*):</label></td>
				<td><input type="text" name="tinhTrangMau" class="input-form"  value="" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">4. NHÓM DỮ LIỆU THU MẪU</h3>
			<tr>
				<td><label>Thời gian thu mẫu (*):</label></td>
				<td><input type="date" name="thoigianThuMau" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Người thu mẫu (*):</label></td>
				<td><input type="text" name="nguoiThuMau" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Cơ quan thu mẫu:</label></td>
				<td><input type="text" name="coQuanThuMau" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Địa điểm thu mẫu: </label></td>
				<td>
					<select name="quocGia" required>
						<option></option>
					</select>
					<select name="tinh" required ng-change="cityChange()" ng-model= "animalForm.city">
						<option  ng-repeat="place in places" value="{{place.name}}">{{place.name}}</option>
					</select>
					<select name="huyen" required>
						<option ng-repeat="district in districts" value="{{district}}">{{district}}</option>
					</select>
					<select name="xa" required>
						<option></option>
					</select>
					<select name="thon">
						<option></option>
					</select>
				</td>
			</tr>
			<tr><td><h4>Vị trí toạ độ theo hệ toạ độ VN 2000 (*)</h4></td></tr>
			<tr>
				<td><label>Vĩ độ N: </label></td>
				<td><input type="text" name="viDo" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Kinh độ E:</label></td>
				<td><input type="text" name="kinhDo" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Thông tin về Dự án, đề tài/chuyến/đợt thu thập mẫu vật (*):</label></td>
				<td><input type="text" name="thongTinDuAn" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Ghi chép thực địa:</label></td>
				<td><input type="text" name="ghiChepThucDia" class="input-form"  value="" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">5. NHÓM DỮ LIỆU PHÂN TÍCH/GIÁM ĐỊNH MẪU</h3>
			<tr>
				<td><label>Thời gian phân tích/giám định/định loại mẫu:</label></td>
				<td><input type="text" name="thoiGianPhanTich" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Người phân tích/giám định/định loại mẫu (*):</label></td>
				<td><input type="text" name="nguoiPhanTich" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Cơ quan/tổ chức phân tích/giám định/phân loại mẫu (*):</label></td>
				<td><input type="text" name="coQuanToChucPhanTich" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Tài liệu phân tích/giám định/phân loại đi kèm (*):</label></td>
				<td><input type="file" multiple name="taiLieuPhanTich" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Thạch học: </label></td>
				<td><input type="text" name="thachHoc" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Khoáng tướng:</label></td>
				<td><input type="text" multiple name="khoangTuong" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Trọng sa:</label></td>
				<td><input type="text" multiple name="trongSa" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Hóa silicat:</label></td>
				<td><input type="text" multiple name="hoaSilicat" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label> Hóa cơ bản:</label></td>
				<td><input type="text" multiple name="hoaCoBan" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Quang phổ:</label></td>
				<td><input type="text" multiple name="quangPho" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Plassma:</label></td>
				<td><input type="text" multiple name="plassma" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Điện tử quét(microson):</label></td>
				<td><input type="text" multiple name="dienTuQuet" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Tuổi chất:</label></td>
				<td><input type="number" multiple name="tuoiChat" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Loại hình nguồn gốc:</label></td>
				<td><input type="text" multiple name="loaiHinhNguonGoc" class="input-form"  value=""></td>
			</tr>

		</table>
		<table>
			<h3 class="h3-title">6. NHÓM DỮ LIỆU HÌNH ẢNH, PHIM, TÀI LIỆU MẪU VẬT</h3>
			
			<tr>
				<td><label>Ảnh mẫu vật(*):</label></td>
				<td><input type="file" multiple name="loaiHinhNguonGoc" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Hình ảnh mẫu ngoài thực địa:</label></td>
				<td><input type="file" multiple name="hinhAnhNgoaiThucDia" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Thông tin về phim, video:</label></td>
				<td><input type="file" name="thongTinVePhim" class="input-form"  value="" required></td>
			</tr>
			<tr><td><h4>Xử lý chế tác</h4></td></tr>
			<tr>
				<td><label>Hình ảnh đính kèm Xử lý chế tác:</label></td>
				<td><input type="file" multiple name="hinhAnhDinhKem" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Đính kèm Xử lý chế tác:</label></td>
				<td><input type="file" multiple name="dinhKemXuLy" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Thuộc tính Xử lý chế tác:</label></td>
				<td><input type="text" name="thuocTinhXuLy" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Phương thức xử lý chế tác:</label></td>
				<td><input type="text" name="phuongThucXuLy" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Người xử lý, chế tác:</label></td>
				<td><input type="text" name="nguoiXuLy" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Cơ quan xử lý, chế tác mẫu:</label></td>
				<td><input type="text" name="coQuanXuLy" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Ảnh mẫu sau chế tác:</label></td>
				<td><input type="text" name="anhMauSauCheTac" class="input-form"  value=""></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">7. NHÓM DỮ LIỆU ĐẶC ĐIỂM MẪU VẬT</h3>
			<tr>
				<td><label>Loại mẫu:</label></td>
				<td><input type="text" name="loaiMau" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Hình dáng mẫu, dạng tồn tại (*).:</label></td>
				<td><input type="text" name="loaiMau" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Màu sắc (*):</label></td>
				<td><input type="text" name="mauSac" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Kích thước, khối lượng mẫu (*):</label></td>
				<td><input type="text" name="kichThuocKLMau" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Phân loại sử dụng mẫu:</label></td>
				<td><input type="text" name="phanLoaiSuDungMau" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Thành phần khoáng vật (*):</label></td>
				<td><input type="text" name="thanhPhanKhoangVat" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Tính chất vật lý (*):</label></td>
				<td><input type="text" name="tinhChatVatLy" class="input-form"  value="" required></td>
			</tr>
			<tr>
				<td><label>Thành phần hoá học :</label></td>
				<td><input type="text" name="thanhPhanHoaHoc" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Lĩnh vực sử dụng:</label></td>
				<td><input type="text" name="linhVucSuDung" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Đặc điểm phân bố (ở Việt Nam và trên thế giới):</label></td>
				<td><input type="text" name="dacDiemPhanBo" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Công thức hóa học:</label></td>
				<td><input type="text" name="congThucHoaHoc" class="input-form"  value=""></td>
			</tr>
		</table>

		<table>
			<h3 class="h3-title">8. NHÓM DỮ LIỆU LƯU TRỮ, BẢO QUẢN MẪU</h3>
			<tr>
				<td><label>Ngày nhập mẫu: </label></td>
				<td><input type="date" name="ngayNhapMau" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Người giao mẫu: </label></td>
				<td><input type="text" name="nguoiGiao" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Người Nhận mẫu</label></td>
				<td><input type="text" name="nguoiNhan" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Cơ quan nhập mẫu: </label></td>
				<td><input type="text" name="coQuanNhapVatMau" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Hình thức nhập mẫu:</label></td>
				<td>
					<select name="hinhThucNhapMau">
						<option value="thu-nhap">Thu nhập</option>
						<option value="hien-tang">Hiến tặng</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Trao đổi mẫu: </label></td>
				<td>
					<select name="traoDoiMau">
						<option value="co">Có</option>
						<option value="khong">Không</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Vay mượn</label></td>
				<td>
					<select name="vayMuon">
						<option value="con-trong-kho">Còn trong kho</option>
						<option value="cho-muon">Cho mượn</option>
						<option value="mau-muon">Mẫu mượn</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Hiến tặng</label></td>
				<td><input type="text" name="hienTang" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Khu lưu trữ mẫu:</label></td>
				<td><input type="text" name="khuLuuTruMau" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Nơi lưu giữ (*):</label></td>
				<td><input type="text" name="noiLuugiu" class="input-form"  value=""></td>
			</tr>

			<tr>
				<td><label>Giấy phép nhập mẫu:</label></td>
				<td><input type="text" name="giayPhepNhapMau" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Hồ sơ nhập mẫu vật đi kèm:</label></td>
				<td><input type="text" name="hoSoNhapMauVatDiKem" class="input-form"  value="" required="required"></td>
			</tr>
			<tr>
				<td><label> Người lập phiếu mẫu vật (*):</label></td>
				<td><input type="text" name="nguoiLapPhieuMauVat" class="input-form"  value=""></td>
			</tr>
			<tr>
				<td><label>Người nhập vào phần mềm:</label></td>
				<td><input type="file" multiple name="nguoiNhapVaoPhanMem" class="input-form"  value="" required></td>
			</tr>
		</table>

		<table>
			<h3 class="h3-title">9. NHÓM DỮ LIỆU THÔNG TIN KHÁC</h3>
			<tr>
				<td><label>Thông tin khác</label></td>
				<td><input type="text" name="thongTinKhac" class="input-form"></td>
			</tr>
		</table>
	</form>
	<button type="button" ng-click="addPost()" class="btn btn-success btn-lg">Thêm</button>
</div>
