<div class="container map-detail" style="margin-top: 50px;">
	<form id="form-content">
		<center><h2>Thêm mẫu dữ liệu thổ nhưỡng</h2></center>
		<table>
			<h3 class="h3-title">1. Số hiệu</h3>
			<tr>
				<td><label>Số hiệu thực địa (*):</label></td>
				<td><input type="text" maxlength="50" name="soHieuThucDia" class="input-form"  required></td>
			</tr>
			<tr>
				<td><label>Số hiệu bảo tàng cơ sở(*):</label></td>
				<td><input type="text" maxlength="50" name="soHieuBaoTangCS" class="input-form"  required></td>
			</tr>
			<tr>
				<td><label>Số hiệu BTTNVN(*):</label></td>
				<td><input type="text" maxlength="50" name="soHieuBTTNVN"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Mã kí hiệu mẫu vật quốc tế:</label></td>
				<td><input type="text" maxlength="50" name="maKyHieuMauVatQuocTe" class="input-form"></td>
			</tr>

			<tr>
				<td><label>Các kí hiệu mẫu vật khác:</label></td>
				<td><input type="text" name="kyHieuMauVatKhac"  class="input-form" maxlength="50"  required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">2. Tên mẫu</h3>
			<tr>
				<td><label>Tên Việt Nam(phổ thông) (*):</label></td>
				<td><input type="text" maxlength="250" name="tenVietNam"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Tên địa phương:</label></td>
				<td><input type="text" maxlength="250" name="tenDiaPhuong"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Tên Tiếng Anh:</label></td>
				<td><input type="text" maxlength="250" name="tenTiengAnh"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Tên theo hệ thống PL của bảo tàng:</label></td>
				<td><input type="text" maxlength="250" name="tenTheoBaoTang" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Tên theo hệ thống PL của Quốc tế:</label></td>
				<td><input type="text" maxlength="250" name="tenTheoQuocTe" class="input-form"></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">3. Số lượng và chất lượng mẫu vật</h3>
			<tr>
				<td><label>Số lượng mẫu vật:</label></td>
				<td><input type="number" min="0" name="soLuongMauVat"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Số lượng tiêu bản:</label></td>
				<td><input type="number" min = "0" name="soLuongTieuBan"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Loại mẫu vật(*):</label></td>
				<td>
					<select required name="loaiMau">
						<option>Mẫu nghiên cứu</option>
						<option>Mẫu trưng bày</option>
						<option>Mẫu type</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Kích thước mẫu (*):</label></td>
				<td><input type="text" maxlength="50" name="kichThuocMau"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Tình trạng mẫu (*):</label></td>
				<td><input type="text" maxlength="100" name="tinhTrangMau"  class="input-form" required></td>
			</tr>		
		</table>
		<table>
			<h3 class="h3-title">4. NHÓM DỮ LIỆU THU MẪU</h3>
			<tr>
				<td><label>Thời gian thu mẫu (*):</label></td>
				<td><input type="date" name="thoiGianThuMau"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Người thu mẫu (*):</label></td>
				<td><input type="text" name="nguoiThuMau" maxlength="150" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Cơ quan thu mẫu: </label></td>
				<td><input type="text" id="coQuanThuMau" name="coQuanThuMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Địa điểm thu mẫu: </label></td>
				<td ng-controller="PlaceController">
				<table>
					<tr>
						<td>Quốc gia(*): </td>
						<td>
							<select class="select-box" ng-model="quocGia"  name="quocGia" required>
								<option value="VietNam">Việt Nam</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Tỉnh/Thành phố(*): </td>
						<td>
							<select class="select-box" name="tinh" required ng-model= "$parent.tinh" ng-change="cityChange()">
								<option  ng-repeat="(key, city) in cities" value="{{key}}">{{city.type +" " +  city.name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Huyện(*):</td>
						<td>
							<select class="select-box" name="huyen" required ng-model= "$parent.huyen" ng-change="districtChange()">
								<option ng-repeat="(key, district) in districts | customCity: tinh" value="{{key}}">{{district.type + " " + district.name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Xã(*): </td>
						<td>
							<select class="select-box"  ng-model="xa" name="xa" required>
								<option ng-repeat="(key, ward) in wards | customDistrict: huyen" value="{{key}}">{{ward.type+ " " + ward.name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Thôn/Xóm: </td>
						<td><input type="text"  ng-model="thon" name="thon" id="thon" class="input-form"></td>
					</tr>
				</table>
				</td>
			</tr>
			<tr><td><h4>Vị trị tọa độ theo hệ tọa độ Việt Nam 2000</h4></td></tr>
			<tr>
				<td><label>Vĩ độ N (*): </label></td>
				<td><input type="text" name="viDo"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Kinh độ E (*):</label></td>
				<td><input type="text" name="kinhDo"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Thông tin về dự án, đề tài đợt thu nhập mẫu (*):</label></td>
				<td><input type="text" maxlength="250" name="thongTinDuAn"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Mẫu chất ở vị trí thu mẫu (*):</label></td>
				<td><input type="text" maxlength="150" name="mauChatOViTriThuMau"  class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Độ cao (*): </label></td>
				<td><input type="number" min="0" name="doCao"  class="input-form" required ></td>
			</tr>
			<tr>
				<td><label>Độ sâu:</label></td>
				<td><input type="number" name="doSau" min="0"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Độ dốc nơi thu mẫu (*):</label></td>
				<td><input type="number" required min="0" name="doDocNoiThuMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Mực nước ngầm nơi thu mẫu (*):</label></td>
				<td><input type="number" name="mucNuocNgamNoiThuMau" id="mucNuocNgamNoiThuMau" required class="input-form"></td>
			</tr>
			<tr>
				<td><label>Khả năng thoát nước nơi thu mẫu (*):</label></td>
				<td><input type="number" maxlength="150" name="khaNangThoatNuoc" id="khaNangThoatNuoc" required class="input-form"></td>
			</tr>
			<tr>
				<td><label>Thời tiết khi thu mẫu:</label></td>
				<td><input type="number" maxlength="250" name="thoiTietKhiThuMau" id="thoiTietKhiThuMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Dạng địa hình nơi thu mẫu (*):</label></td>
				<td><input type="number" name="dangDiaHinhNoiThuMau" id="dangDiaHinhNoiThuMau" maxlength="250" required class="input-form"></td>
			</tr>
			<tr>
				<td><label>Thảm thực vật hiện tại nơi thu mẫu (*):</label></td>
				<td><input type="number" maxlength="250" name="thamThucVatNoiThuMau" id="thamThucVatNoiThuMau" required class="input-form"></td>
			</tr>
			<tr>
				<td><label>Ghi chép thực địa (*):</label></td>
				<td><input type="text" name="ghiChepThucDia" maxlength="250" class="input-form" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">5. NHÓM DỮ LIỆU PHÂN TÍCH MẪU</h3>
			<tr>
				<td><label>Ngày phân tích mẫu đất:</label></td>
				<td><input type="date" name="ngayPhanTichMauDat" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Hồ sơ phân tích mẫu đất:</label></td>
				<td><input type="file" name="hoSoPhanTichMauDat" accept=".doc, .docx, .pdf" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Kết quả phân tích (*):</label></td>
				<td><input type="text" name="ketQuaPhanTich" id="ketQuaPhanTich" accept=".doc, .docx, .pdf" class="input-form" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">6. NHÓM DỮ LIỆU GIÁM ĐỊNH MẪU</h3>
			<tr>
				<td><label>Thời gian giám định mẫu:</label></td>
				<td><input type="date" name="thoiGianGiamDinhMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Người giám định mẫu (*):</label></td>
				<td><input type="text" name="nguoiGiamDinhMau" id="nguoiGiamDinhMau" class="input-form" maxlength="150" required></td>
			</tr>
			<tr>
				<td><label>Cơ quan/tổ chức giám định mẫu (*):</label></td>
				<td><input type="text" name="coQuanToChucGiamDinh" id="coQuanToChucGiamDinh" class="input-form" required></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">7. NHÓM DỮ LIỆU HÌNH ẢNH, PHIM, TÀI LIỆU MẪU VẬT</h3>
			<tr>
				<td><label>Ảnh mẫu vật (*):</label></td>
				<td><input type="file" multiple name="anhMauVat" class="input-form" accept="image/x-png, image/gif, image/jpeg, .pdf" required></td>
			</tr>
			<tr>
				<td><label>Hình ảnh mẫu ngoài thực địa:</label></td>
				<td><input type="file" accept="image/x-png, image/gif, image/jpeg, .pdf" multiple name="hinhAnhNgoaiThucDia"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Thông tin về phim, video:</label></td>
				<td><input type="file" accept="video/mp4,video/x-m4v,video/*" name="videoFile" class="input-form" required></td>
			</tr>
			<tr><td colspan="2"><h4>Xử lý chế tác mẫu vật: </h4></td></tr>
			<tr>
				<td><label>Hình ảnh đính kèm Xử lý chế tác:</label></td>
				<td><input type="file" multiple name="hinhAnhDinhKem" accept="image/x-png, image/gif, image/jpeg, .pdf" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Đính kèm Xử lý chế tác:</label></td>
				<td><input type="file" multiple name="dinhKemXulyCheTac" accept=".doc, .pdf" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Phương thức xử lý chế tác:</label></td>
				<td><input type="text" name="phuongThucXuLy" maxlength="250" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Người xử lý, chế tác:</label></td>
				<td><input type="text" name="nguoiXuLy" maxlength="250" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Cơ quan xử lý, chế tác mẫu:</label></td>
				<td><input type="text" name="coQuanXuLy" id="coQuanXuLy" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Tài liệu đi kèm:</label></td>
				<td><input type="file" name="taiLieuDiKem" class="input-form" accept=".doc,.docx, .pdf" ></td>
			</tr>
		</table>
		<table>
			<h3 class="h3-title">8. NHÓM DỮ LIỆU PHÂN BỐ VÀ GIÁ TRỊ SỬ DỤNG</h3>
			<tr>
				<td colspan="2"><h4>Phân bố địa lý của taxon định loại  (*)</h4></td>
			</tr>
			<tr>
				<td><label>Phân bố Việt Nam (*):</label></td>
				<td>
					<input type="text" name="phanBoVietNamStr" maxlength="250" class="input-form">
					<input type="file" multiple name="phanBoVietNamFile">
				</td>
			</tr>
			<tr>
				<td><label>Phân bố trên thế giới (nếu có):</label></td>
				<td>
					<input type="text" name="phanBoTrenTheGioiStr" maxlength="250" class="input-form">
					<input type="file" multiple name="phanBoTrenTheGioiFile">
				</td>
			</tr>
			<tr>
				<td><label>Giá trị sử dụng:</label></td>
				<td><input type="text" maxlength="250" name="giaTriSuDung" class="input-form"></td>
			</tr>
			<tr>
		</table>
		<table>
			<h3 class="h3-title">9. NHÓM DỮ LIỆU LƯU TRỮ, BẢO QUẢN MẪU</h3>
			<tr>
				<td><label>Ngày nhập mẫu: </label></td>
				<td><input type="date" name="ngayNhapMau"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Người giao mẫu: </label></td>
				<td><input type="text" maxlength="250" name="nguoiGiao"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Người nhận mẫu</label></td>
				<td><input type="text" maxlength="250" name="nguoiNhan"  class="input-form"></td>
			</tr>
			<tr>
				<td><label>Cơ quan nhập mẫu: </label></td>
				<td><input type="text" name="coQuanNhapVatMau" id="coQuanNhapVatMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Hình thức nhập mẫu:</label></td>
				<td>
					<select class="select-box" name="hinhThucNhapMau">
						<option value="Thu thập">Thu thập</option>
						<option value="Hiến tặng">Hiến Tặng</option>
						<option value="Khác">Khác</option>
					</select>
				</td>
			</tr>

			<tr>
				<td><label>Trao đổi mẫu: </label></td>
				<td>
					<select name="traoDoiMau">
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Vay mượn mẫu:</label></td>
				<td>
					<select class="select-box" name="vayMuon">
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Khu lưu trữ mẫu (*):</label></td>
				<td><input type="text" maxlength="150" name="khuLuuTruMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>Giấy phép nhập mẫu:</label></td>
				<td><input type="file" name="giayPhepNhapMau" class="input-form" accept=".pdf"></td>
			</tr>
			<tr>
				<td><label>Hồ sơ nhập mẫu vật đi kèm:</label></td>
				<td><input type="file" name="hoSoNhapMauVatDiKem" class="input-form" accept=".doc, docx, .pdf" ></td>
			</tr>
			<tr>
				<td><label>Người nhập phiếu mẫu vật (*):</label></td>
				<td><input type="text" maxlength="250" name="nguoiNhapPhieuMauVat" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>Người nhập thông tin vào phần mềm:</label></td>
				<td><input type="text" maxlength="250" name="nguoiNhapVaoPhanMem" class="input-form"></td>
			</tr>
		</table>

		<table>
			<h3 class="h3-title">10. NHÓM DỮ LIỆU THÔNG TIN KHÁC</h3>
			<tr>
				<td><label>Thông tin khác</label></td>
				<td><input type="text" name="thongTinKhac" maxlength="250" class="input-form"></td>
			</tr>
		</table>
	</form>
	<button type="button" ng-click="addPost()" class="btn btn-success btn-lg">Thêm</button>
</div>