<form id="form-content" name="FormData">
	<center><h3>Chỉnh sửa mẫu dữ liệu động vật > Đề tài: {{maDeTai}}</h3></center>
	<div class="container-fluid">
		<input type="text" name="id" id="obId" value="{{data.id}}" style="display: none;" ng-model="data.id">
		<input type="hidden" name="randomStr" value="{{randomStr}}" id="randomStr">
		<input type="hidden" name="sample" value="dong-vat" id="sample">
		<ul class="nav nav-tabs group tabs">
	    	<li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)">Số hiệu</a></li>
	    	<li ng-class="{active: isSet(2)}"><a href ng-click="setTab(2)">Tên mẫu vật</a></li>
	    	<li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)">Số lượng</a></li>
	    	<li ng-class="{active: isSet(4)}"><a href ng-click="setTab(4)">DL thu mẫu</a></li>
	    	<li ng-class="{active: isSet(5)}"><a href ng-click="setTab(5)">Phân tích mẫu</a></li>
	    	<li ng-class="{active: isSet(6)}"><a href ng-click="setTab(6)">Hình ảnh/Phim</a></li>
	    	<li ng-class="{active: isSet(7)}"><a href ng-click="setTab(7)">Phân bố/Giá trị</a></li>
	    	<li ng-class="{active: isSet(8)}"><a href ng-click="setTab(8)">Lưu trữ/Bảo quản</a></li>
	    	<li ng-class="{active: isSet(9)}"><a href ng-click="setTab(9)">Thông tin khác</a></li>
	  	</ul>
		<div class="map-detail form-group" ng-show="isSet(1)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>01. Số hiệu BTTNVN:</label>
					<span><input type="text" title="{{tooltips['soHieuBTTNVN']}}" id="soHieuBTTNVN" name="soHieuBTTNVN" ng-model="data.soHieuBTTNVN" class="input-form form-control"></span>
				</div>
				<div class="col-sm-6">
					<label>02. Số hiệu bảo tàng cơ sở <span class="has-required"> (*)</span>:</label>
					<span><input type="text" title="{{tooltips['soHieuBaoTangCS']}}" name="soHieuBaoTangCS" ng-model="data.soHieuBaoTangCS" class="input-form form-control"  id="soHisoHieuBaoTangCSeuBTTNVN"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>03. Số hiệu thực địa <span class="has-required"> (*)</span>:</label>
					<input type="text" title="{{tooltips['soHieuThucDia']}}" name="soHieuThucDia" ng-model="data.soHieuThucDia" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<label>04. Các kí hiệu mẫu vật khác:</label>
					<input type="text" ng-model="data.kyHieuMauVatKhac" id="kyHieuMauVatKhac" title="{{tooltips['kyHieuMauVatKhac']}}" name="kyHieuMauVatKhac" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac1Str">05. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac1Str" title="{{tooltips['thongTinKhac1Str']}}" name="thongTinKhac1Str" id="thongTinKhac1Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class=" row col-sm-6">
					<input type="file" multiple ng-model="data.thongTinKhac1File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac1File" name ="thongTinKhac1File">
					<label for="thongTinKhac1File" title="{{tooltips['thongTinKhac1File']}}"><span>No file chosen</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac1File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac1File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac1File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(2)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-12">
					<label class="control-label">06. Tên khoa học (tên latin)</label>
				</div>
			</div>
			<div class="container-fluid">
				<div>
					<div class="col-sm-4">
						Tên đồng nghĩa: 
						<input type="text" id="tenDongNghia" ng-model="data.tenDongNghia" title="{{tooltips['tenDongNghia']}}" name="tenDongNghia" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						Giới: 
						<input type="text" id="gioi" ng-model="data.gioi" title="{{tooltips['gioi']}}" name="gioi" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						Ngành: 
						<input type="text" id="nganh" ng-model="data.nganh" title="{{tooltips['nganh']}}" name="nganh" class="input-form form-control">
					</div>
				</div>
				<div>
					<div class="col-sm-3">
						Lớp<span class="has-required"> (*)</span>: 
						<input type="text" id="lop" ng-model="data.lop" title="{{tooltips['lop']}}" name="lop" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Phân lớp: 
						<input type="text" id="phanLop" ng-model="data.phanLop" title="{{tooltips['phanLop']}}" name="phanLop" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Bộ<span class="has-required"> (*)</span>: 
						<input type="text" id="bo" ng-model="data.bo" title="{{tooltips['bo']}}" name="bo" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Phân bộ: 
						<input type="text" id="phanBo" ng-model="data.phanBo" title="{{tooltips['phanBo']}}" name="phanBo" class="input-form form-control">
					</div>
				</div>
				<div>
					<div class="col-sm-3">
						Liên họ: 
						<input type="text" id="lienHo" ng-model="data.lienHo" title="{{tooltips['lienHo']}}" name="lienHo" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Họ<span class="has-required"> (*)</span>: 
						<input type="text" id="ho" ng-model="data.ho" title="{{tooltips['ho']}}" name="ho" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Phân họ: 
						<input type="text" id="phanHo" ng-model="data.phanHo" title="{{tooltips['phanHo']}}" name="phanHo" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Tộc: 
						<input type="text" title="{{tooltips['toc']}}" name="toc" ng-model="data.toc" id="toc" class="input-form form-control">
					</div>
				</div>
				<div>
					<div class="col-sm-3">
						Giống<span class="has-required"> (*)</span>: 
						<input type="text" title="{{tooltips['chiGiong']}}" name="chiGiong" ng-model="data.chiGiong" id="chiGiong" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Phân giống: 
						<input type="text" title="{{tooltips['phanChiPhanGiong']}}" name="phanChiPhanGiong" ng-model="data.phanChiPhanGiong" id="phanChiPhanGiong" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Loài: 
						<input type="text" id="loai" ng-model="data.loai" class="input-form form-control" title="{{tooltips['loai']}}" name="loai">
					</div>
					<div class="col-sm-3">
						Dưới loài/phân loài: 
						<input type="text" id="duoiLoai" ng-model="data.duoiLoai" title="{{tooltips['duoiLoai']}}" name="duoiLoai" class="input-form form-control">
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px">
				<div class="col-sm-4">
					<label class="control-label">07. Người định tên: </label>
					<input type="text" ng-model="data.nguoiDinhTen" title="{{tooltips['nguoiDinhTen']}}" name="nguoiDinhTen" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label class="control-label">08. Ngày định tên: </label>
					<select ng-model="date_ndt" class="select-date">
						<option value="dd/mm/yyyy">Full date</option>
						<option value="yyyy">Year</option>
					</select>
					<input type="text" title="{{tooltips['ngayDinhTen']}}" id="ngayDinhTen" name="ngayDinhTen" ng-model="data.ngayDinhTen" placeholder="{{date_ndt}}" class="input-form form-control datepicker">
				</div>
				<div class="col-sm-4">
					<label class="control-label">09. Tên Việt Nam (phổ thông):</label>
					<input type="text" title="{{tooltips['tenVietNam']}}" name="tenVietNam" ng-model="data.tenVietNam" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label class="control-label">10. Tên địa phương:</label>
					<input type="text" title="{{tooltips['tenDiaPhuong']}}" name="tenDiaPhuong" ng-model="data.tenDiaPhuong" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label class="control-label">11. Tên Tiếng Anh:</label>
					<input type="text" title="{{tooltips['tenTiengAnh']}}" name="tenTiengAnh" ng-model="data.tenTiengAnh" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label class="control-label">12. Tên theo hệ thống PL của bảo tàng:</label>
					<input type="text" title="{{tooltips['tenTheoBaoTang']}}" name="tenTheoBaoTang" ng-model="data.tenTheoBaoTang" class="input-form form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 40px;">
				<div class="col-sm-8">
					<label for="thongTinKhac2Str">13. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac2Str" title="{{tooltips['thongTinKhac2Str']}}" name="thongTinKhac2Str" id="thongTinKhac2Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac2File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac2File" name ="thongTinKhac2File">
					<label for="thongTinKhac2File" title="{{tooltips['thongTinKhac2File']}}"><span>{{getName(data.thongTinKhac2File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac2File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac2File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac2File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(3)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>14. Số lượng tiêu bản:</label>
					<input type="number" min="0" ng-model="data.soLuongTieuBan" title="{{tooltips['soLuongTieuBan']}}" name="soLuongTieuBan" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<label>15. Loại mẫu vật<span class="has-required"> (*)</span>:</label>
					<input type="text" title="{{tooltips['loaiMauVat']}}" name="loaiMauVat" class="input-form flexdatalist flexdatalist-force form-control" data-min-length='0' multiple='multiple' ng-model="data.loaiMauVat" list="loaiMauVat">
					<datalist id="loaiMauVat">
						<option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
						<option value="Mẫu trưng bày">Mẫu trưng bày</option>
						<option value="Mẫu type">Mẫu type</option>
					</datalist>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>16. Kích thước mẫu vật<span class="has-required"> (*)</span>:</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-3">
						<span>Chiều cao: </span>
						<span>
							<input type="text" title="{{tooltips['chieuCao']}}" name="chieuCao" ng-model="data.chieuCao" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_chieuCao" name="donVi_chieuCao">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
								<option value="m">m</option>
							</select>
						</span>
					</div>
					<div class="col-sm-3">
						<span>Chiều rộng: </span>
						<span>
							<input type="text" title="{{tooltips['chieuRong']}}" name="chieuRong" ng-model="data.chieuRong" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_chieuRong" ng-model="data.chieuCao" name="donVi_chieuRong">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
								<option value="m">m</option>
							</select>
						</span>
					</div>
					<div class="col-sm-3">
						<span>Chiều dài: </span>
						<span>
							<input type="text" title="{{tooltips['chieuDai']}}" name="chieuDai" ng-model="data.chieuDai" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_chieuDai" name="donVi_chieuDai">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
								<option value="m">m</option>
							</select>
						</span>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-3">
						<span>Trọng lượng: </span>
						<span>
							<input type="text" title="{{tooltips['trongLuong']}}" name="trongLuong" ng-model="data.trongLuong" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_trongLuong" name="donVi_trongLuong">
								<option value="mg">mg</option>
								<option value="g">g</option>
								<option value="kg">kg</option>
							</select>
						</span>
					</div>
					<div class="col-sm-3">
						<span>Thể tích: </span>
						<br>
						<span>
							<input type="text" title="{{tooltips['theTich']}}" name="theTich" class="datatext" ng-model="data.theTich" id="datatext">
							<select class="contentselect" ng-model="data.donVi_theTich" name="donVi_theTich">
								<option value="ml">ml</option>
								<option value="l">lit</option>
							</select>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>17. Tình trạng mẫu <span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.tinhTrangMau" title="{{tooltips['tinhTrangMau']}}" name="tinhTrangMau" class="input-form form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 40px;">
				<div class="col-sm-8">
					<label for="thongTinKhac3Str">18. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac3Str" title="{{tooltips['thongTinKhac3Str']}}" name="thongTinKhac3Str" id="thongTinKhac3Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac3File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac3File" name ="thongTinKhac3File">
					<label for="thongTinKhac3File" title="{{tooltips['thongTinKhac3File']}}"><span>{{getName(data.thongTinKhac3File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac3File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac3File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac3File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(4)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>19. Thời gian thu mẫu <span class="has-required"> (*)</span>:</label>
					<select ng-model="date_tgtm" class="select-date">
						<option value="dd/mm/yyyy">Full date</option>
						<option value="yyyy">Year</option>
					</select>
					<input type="text" ng-model="data.thoiGianThuMau" title="{{tooltips['thoiGianThuMau']}}" name="thoiGianThuMau" id="thoiGianThuMau" placeholder="{{date_tgtm}}" class="input-form form-control datepicker">
				</div>
				<div class="col-sm-6">
					<label>20. Người thu mẫu <span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.nguoiThuMau" title="{{tooltips['nguoiThuMau']}}" name="nguoiThuMau" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>21. Cơ quan thu mẫu: </label>
					<input type="text" id="coQuanThuMau" ng-model="data.coQuanThuMau" title="{{tooltips['coQuanThuMau']}}" name="coQuanThuMau" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<label>22. Phương pháp thu mẫu <span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.phuongPhapThuMau" title="{{tooltips['phuongPhapThuMau']}}" name="phuongPhapThuMau" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>23. Địa điểm thu mẫu: </label>
				</div>
				<div class="container-fluid" ng-controller="PlaceController">
					<div class="row">
						<div class="col-sm-2">
							<span>Vị trí: </span>
						</div>
						<div class="col-sm-10">
							<input type="radio" name="fDiaDiemThuMau" value="dat-lien" ng-model="datLien" ng-click="starDatLien()" id="datLien"> Trên đất liền
							<input type="radio" name="fDiaDiemThuMau" value="dao" id="dao" ng-click="starDao()" ng-model="trenDao"> Trên đảo
							<input type="radio" name="fDiaDiemThuMau" value="bien" id="trenBien" ng-click="starBien()" ng-model="trenBien"> Trên biển
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							Quốc gia<span class="has-required"> (*)</span>: 
							<input type="text" list="quocGia" class="input-form form-control flexdatalist" data-min-length='0' ng-model="data.quocGia" ng-change="countryChange()" title="{{tooltips['quocGia']}}" name="quocGia">
							<datalist id="quocGia">
								<option value="Việt Nam">Việt Nam</option>
							</datalist>
						</div>
						<div class="col-sm-3">
							Tỉnh/Thành phố<span ng-show="star_tinh" class="has-required"> (*)</span>: 
							<input type="text" list="tinh" class="input-form form-control flexdatalist" ng-model="data.tinh" ng-change="cityChange()" data-min-length='0' title="{{tooltips['tinh']}}" name="tinh">
							<datalist id="tinh">
								<option ng-repeat="city in cities | orderBy: 'name'" id="{{city.name}}" value="{{city.id}}">{{city.name}}</option>
							</datalist>
						</div>
						<div class="col-sm-3">
							Huyện<span ng-show="star" class="has-required"> (*)</span>:
							<input type="text" class="input-form form-control flexdatalist" title="{{tooltips['huyen']}}" id="render_districts" name="huyen" list="huyen" ng-model= "data.huyen" ng-change="districtChange()">
							<datalist id="huyen">
								<option ng-repeat="district in districts | customCity: id_tinh | orderBy: 'name'" id="{{district.name}}" value="{{district.id}}">{{district.name}}</option>
							</datalist>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							Xã<span ng-show="star" class="has-required"> (*)</span>: 
							<input type="text" class="input-form form-control flexdatalist" ng-model="data.xa" id="render_wards" title="{{tooltips['xa']}}" name="xa" list="xa">
							<datalist id="xa">
								<option ng-repeat="ward in wards | customDistrict: id_huyen | orderBy:'name'" value="{{ward.id}}">{{ward.name}}</option>
							</datalist>
						</div>
						<div class="col-sm-3">
							Thôn/bản: 
							<input type="text" ng-model="data.thon" title="{{tooltips['thon']}}" name="thon" id="thon" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Thông tin khác: 
							<input type="text" ng-model="data.tinhKhac" title="{{tooltips['tinhKhac']}}" name="tinhKhac" id="tinhKhac" class="input-form form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<label>24. Vị trí tọa độ theo hệ tọa độ Việt Nam 2000: </label>
				</div>
				<div class="col-sm-7">
					<input type="radio" name="fViTriToaDo" id="vitri-dms" ng-checked="'true'" value="true" ng-click="dms()"><span class="label label-default"> DMS</span>
					<input type="radio" name="fViTriToaDo" id="vitri-dd" value="false" ng-click="dd()"><span class="label label-default"> DD</span>
				</div>

				<div class="container-fluid col-sm-12">
					<div class="col-sm-6">
						Vĩ độ N <span class="has-required">(*)</span>:
						<input type="text" id="dms" ng-init="showCoor = 'false'; data.viDo=''" ng-show="!showCoor" title="{{tooltips['viDo']}}" name="viDo" ng-model="data.viDo" class="input-form form-control">
						<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['viDo']}}">
							<input type="number" step="1" ng-model= "vido_do" ng-change="latChange()" class = "coordinates" name=""> độ
							<input type="number" step="1" ng-model= "vido_phut" ng-change="latChange()" class = "coordinates" name=""> phút
							<input type="number" step="1" ng-model= "vido_giay" ng-change="latChange()" class = "coordinates" name=""> giây
						</div>
					</div>
					<div class="col-sm-6">
						Kinh độ E <span class="has-required">(*)</span>:
						<input type="text" id="dms" ng-show="!showCoor" title="{{tooltips['kinhDo']}}" name="kinhDo" ng-model="data.kinhDo" class="input-form form-control">
						<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['kinhDo']}}">
							<input type="number" step="1" ng-model="kinhdo_do" ng-change="lonChange()" class = "coordinates" name=""> độ
							<input type="number" step="1" ng-model="kinhdo_phut" ng-change="lonChange()" class = "coordinates" name=""> phút
							<input type="number" step="1" ng-model="kinhdo_giay" ng-change="lonChange()" class = "coordinates" name=""> giây
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>25. Độ cao (m) <span class="has-required"> (*)</span>: </label>
					<input type="number" min="0" ng-model="data.doCao" title="{{tooltips['doCao']}}" name="doCao" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>26. Độ sâu (m):</label>
					<input type="number" min="0" ng-model="data.doSau" title="{{tooltips['doSau']}}" name="doSau" class="input-form form-control">
				</div>
				<div class="col-sm-4">								
					<label>27. Vùng biển:</label>
					<input type="text" ng-model="data.vungBien" title="{{tooltips['vungBien']}}" name="vungBien" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>28. Sinh học/sinh thái:</label>
					<input type="text" ng-model="data.sinhHoc" title="{{tooltips['sinhHoc']}}" name="sinhHoc" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<label>29. Thông tin về Dự án, đề tài/chuyến/đợt thu thập mẫu vật<span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.thongTinDuAn" title="{{tooltips['thongTinDuAn']}}" name="thongTinDuAn" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<label>30. Ghi chép thực địa<span class="has-required"> (*)</span>:</label>
					<textarea ng-model="data.ghiChepThucDia" title="{{tooltips['ghiChepThucDia']}}" name="ghiChepThucDia" class="input-form form-control" rows="3"></textarea>
				</div>
				<div class="col-sm-5">
					<label>31. Bản đồ:</label></br>
					<input type="file" multiple id="banDo" name="banDo" ng-model="data.banDo" class="inputfile" data-multiple-caption="{count} file is selected">
					<label for="banDo" title="{{tooltips['banDo']}}"><span>{{getName(data.banDo)}}</span><strong>Đính kèm file</strong></label><ul id="ul_banDo" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.banDo" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'banDo')"></span>
	, key						</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac4Str">32. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac4Str" title="{{tooltips['thongTinKhac4Str']}}" name="thongTinKhac4Str" id="thongTinKhac4Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac4File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac4File" name ="thongTinKhac4File">
					<label for="thongTinKhac4File" title="{{tooltips['thongTinKhac4File']}}"><span>{{getName(data.thongTinKhac4File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac4File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac4File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac4File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(5)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>33. Thời gian phân tích/giám định/định loại mẫu:</label>
					<select ng-model="date_tgpt" class="select-date">
						<option value="dd/mm/yyyy">Full date</option>
						<option value="yyyy">Year</option>
					</select>
					<input type="text" ng-model="data.thoiGianGiamDinh" title="{{tooltips['thoiGianGiamDinh']}}" name="thoiGianGiamDinh" placeholder="{{date_tgpt}}" id="thoiGianGiamDinh" class="input-form form-control datepicker">
				</div>
				<div class="col-sm-6">
					<label>34. Người phân tích/giám định/định loại mẫu <span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.nguoiGiamDinh" title="{{tooltips['nguoiGiamDinh']}}" name="nguoiGiamDinh" class="input-form form-control" required>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>35. Cơ quan/tổ chức phân tích/giám định/phân loại mẫu <span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.coQuanToChucGiamDinh" title="{{tooltips['coQuanToChucGiamDinh']}}" name="coQuanToChucGiamDinh" id="coQuanToChucGiamDinh" class="input-form form-control" required>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>36. Tài liệu phân tích/giám định/phân loại đi kèm <span class="has-required"> (*)</span>:</label>
				</div>
				<div class="col-sm-6">
						<input type="text" ng-model="data.taiLieuPhanTichStr" title="{{tooltips['taiLieuPhanTichStr']}}" name="taiLieuPhanTichStr" class="input-form form-control" required>
				</div>
				<div class="col-sm-6">
						<input type="file" id="taiLieuPhanTichFile" multiple ng-model="data.taiLieuPhanTichFile" name="taiLieuPhanTichFile" accept=".doc, .docx, .pdf" class="inputfile" data-multiple-caption="{count} file is selected" max-file-size="10" required>
						<label for="taiLieuPhanTichFile" title="{{tooltips['taiLieuPhanTichFile']}}"><span>{{getName(data.taiLieuPhanTichFile)}}</span><strong>Đính kèm file</strong></label>
						<ul id="ul_taiLieuPhanTichFile" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.taiLieuPhanTichFile" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'taiLieuPhanTichFil, keye')"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>37. Mô tả/đặc điểm hình thái <span class="has-required"> (*)</span></label>
				</div>
				<div class="col-sm-6">
					<input type="text" title="{{tooltips['moTaHinhThaiStr']}}" ng-model="data.moTaHinhThaiStr" name ="moTaHinhThaiStr" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<input type="file" multiple id="moTaHinhThaiFile" accept=".docx, .doc, .pdf" ng-model="data.moTaHinhThaiFile" name ="moTaHinhThaiFile" max-file-size="10" required class="inputfile" data-multiple-caption="{count} file is selected">
					<label for="moTaHinhThaiFile" title="{{tooltips['moTaHinhThaiFile']}}"><span>{{getName(data.moTaHinhThaiFile)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_moTaHinhThaiFile" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.moTaHinhThaiFile" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'moTaHinhThaiFile'), key"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>38. Giới tính, giống: </label>
					<select name="gioiTinh" title="{{tooltips['gioiTinh']}}" ng-model="data.gioiTinh" class="input-form form-control">
						<option value="M">M (đực)</option>
						<option value="F">F (cái)</option>
						<option value="H">H (lưỡng tính)</option>
						<option value="I">I (không xác định)</option>
						<option value="U">U (không biết)</option>
						<option value="T">T (chuyển đổi)</option>
						<option value="B">B (cả đực và cái)</option>
					</select>
				</div>
				<div class="col-sm-4">
					<label>39. Giai đoạn sống trong vòng đời: </label>
					<input type="text" title="{{tooltips['giaiDoanSong']}}" name ="giaiDoanSong" ng-model="data.giaiDoanSong" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>40. Hình vẽ:</label></br>
					<input type="file" multiple ng-model="data.hinhVe" id="hinhVe" name="hinhVe" class="inputfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
					<label for="hinhVe" title="{{tooltips['hinhVe']}}"><span>{{getName(data.hinhVe)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_hinhVe" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.hinhVe" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'hinhVe')"></span>
, key							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac5Str">41. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac5Str" title="{{tooltips['thongTinKhac5Str']}}" name="thongTinKhac5Str" id="thongTinKhac5Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac5File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac5File" name ="thongTinKhac5File">
					<label for="thongTinKhac5File" title="{{tooltips['thongTinKhac5File']}}"><span>{{getName(data.thongTinKhac5File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac5File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac5File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac5File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(6)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
						<label>42. Ảnh mẫu vật<span class="has-required"> (*)</span>:</label></br>
						<input type="file" multiple id="anhMauVat" ng-model="data.anhMauVat" name="anhMauVat" class="inputfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="10" required>
						<label for="anhMauVat" title="{{tooltips['anhMauVat']}}"><span>{{getName(data.anhMauVat)}}</span><strong>Đính kèm file</strong></label>
						<ul id="ul_anhMauVat" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.anhMauVat" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'anhMauVat')"></spa, keyn>
							</span>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<label>43. Hình ảnh mẫu ngoài thực địa:</label></br>
					<input type="file" multiple id="hinhAnhNgoaiThucDia" accept="image/*" max-file-size="10" ng-model="data.hinhAnhNgoaiThucDia" name="hinhAnhNgoaiThucDia" class="inputfile" data-multiple-caption="{count} file is selected">
					<label for="hinhAnhNgoaiThucDia" title="{{tooltips['hinhAnhNgoaiThucDia']}}"><span>{{getName(data.hinhAnhNgoaiThucDia)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_hinhAnhNgoaiThucDia" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.hinhAnhNgoaiThucDia" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'hinhAnhNgoaiThucDi, keya')"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>44. Thông tin về phim, video: </label>	
					<input type="text" title="{{tooltips['videoStr']}}" name="videoStr" ng-model="data.videoStr" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<label>45. Đính kèm phim, video:</label></br>
					<input type="file" multiple accept="video/*" name ="videoFile" ng-model="data.videoFile" id="videoFile" class="inputfile" data-multiple-caption="{count} file is selected" max-file-size="100">
					<label for="videoFile" title="{{tooltips['videoFile']}}"><span>{{getName(data.videoFile)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_videoFile" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.videoFile" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'videoFile')"></spa, keyn>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>46. Xử lý chế tác mẫu vật</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-4">
						Hình ảnh đính kèm Xử lý chế tác:
						<input type="file" multiple id="hinhAnhDinhKem" ng-model="data.hinhAnhDinhKem" name="hinhAnhDinhKem" accept="image/*" max-file-size="5" class="inputfile" data-multiple-caption="{count} file is selected">
						<label for="hinhAnhDinhKem" title="{{tooltips['hinhAnhDinhKem']}}"><span>{{getName(data.hinhAnhDinhKem)}}</span><strong>Đính kèm file</strong></label>
						<ul id="ul_hinhAnhDinhKem" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.hinhAnhDinhKem" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'hinhAnhDinhKem')">, key</span>
							</span>
						</li>
					</ul>
					</div>
					<div class="col-sm-4">
						Đính kèm Xử lý chế tác:
						<input type="file" multiple ng-model="data.dinhKemXuLyCheTac" id="dinhKemXuLyCheTac" accept=".docx, .doc, .pdf" name="dinhKemXuLyCheTac" class="inputfile" data-multiple-caption="{count} file is selected">
						<label for="dinhKemXuLyCheTac" title="{{tooltips['dinhKemXuLyCheTac']}}"><span>{{getName(data.dinhKemXuLyCheTac)}}</span><strong>Đính kèm file</strong></label>
						<ul id="ul_dinhKemXuLyCheTac" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.dinhKemXuLyCheTac" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'dinhKemXuLyCheTac', key)"></span>
							</span>
						</li>
					</ul>
					</div>
					<div class="col-sm-4">
						Thuộc tính Xử lý chế tác:
						<input type="text" ng-model="data.thuocTinhXuLyCheTac" title="{{tooltips['thuocTinhXuLyCheTac']}}" name="thuocTinhXuLyCheTac" class="input-form form-control">
					</div>
					<div class="col-sm-6">
						Phương thức xử lý chế tác:
						<input type="text" ng-model="data.phuongThucXuLy" title="{{tooltips['phuongThucXuLy']}}" name="phuongThucXuLy" class="input-form form-control">
					</div>
					<div class="col-sm-6">
						Thời gian xử lý chế tác:
						<select ng-model="date_tgct" class="select-date">
							<option value="dd/mm/yyyy">Full date</option>
							<option value="yyyy">Year</option>
						</select>
						<input type="text" id="thoiGianXuLy" title="{{tooltips['thoiGianXuLy']}}" name="thoiGianXuLy" ng-model="data.thoiGianXuLy" placeholder="{{date_tgct}}" class="input-form form-control datepicker">
					</div>
					<div class="col-sm-4">
						Người xử lý, chế tác:
						<input type="text" ng-model="data.nguoiXuLy" title="{{tooltips['nguoiXuLy']}}" name="nguoiXuLy" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						Cơ quan xử lý, chế tác mẫu:
						<input type="text" ng-model="data.coQuanXuLy" title="{{tooltips['coQuanXuLy']}}" name="coQuanXuLy" class="input-form form-control" id="coQuanXuLy">
					</div>
					<div class="col-sm-4">
						Ảnh mẫu sau chế tác:
						<input type="file" id="anhMauSauCheTac" multiple ng-model="data.anhMauSauCheTac" name="anhMauSauCheTac" class="inputfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
						<label for="anhMauSauCheTac" title="{{tooltips['anhMauSauCheTac']}}"><span>{{getName(data.anhMauSauCheTac)}}</span><strong>Đính kèm file</strong></label>
						<ul id="ul_anhMauSauCheTac" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.anhMauSauCheTac" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'anhMauSauCheTac')", key></span>
							</span>
						</li>
					</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>47. Thông tin DNA</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-4">
						Bộ phận lấy mẫu DNA (da, lông, máu, xương...):
						<input type="text" ng-model="data.boPhanLayMauDNA" id="boPhanLayMauDNA" title="{{tooltips['boPhanLayMauDNA']}}" name="boPhanLayMauDNA" class="input-form form-control">
					</div>
					<div class="col-sm-4">	
						Trạng thái giữ mẫu DNA (khô, nước...):
						<input type="text" ng-model="data.trangThaiGiuMauDNA" id="trangThaiGiuMauDNA" title="{{tooltips['trangThaiGiuMauDNA']}}" name="trangThaiGiuMauDNA" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						Vùng gen phân tích
						<input type="text" ng-model="data.vungGenPhanTich" multiple title="{{tooltips['vungGenPhanTich']}}" name="vungGenPhanTich" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Trình tự DNA</br>
						<input type="file" multiple ng-model="data.dinhKemTrinhTuDNA" id="dinhKemTrinhTuDNA" name="dinhKemTrinhTuDNA" accept=".doc, .docx, .pdf" class="inputfile" data-multiple-caption="{count} file is selected">
						<label for="dinhKemTrinhTuDNA" title="{{tooltips['dinhKemTrinhTuDNA']}}"><span>{{getName(data.dinhKemTrinhTuDNA)}}</span><strong>Đính kèm file</strong></label>
						<ul id="ul_dinhKemTrinhTuDNA" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.dinhKemTrinhTuDNA" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'dinhKemTrinhTuDNA', key)"></span>
							</span>
						</li>
					</ul>
					</div>
					<div class="col-sm-5">
						Công bố/thông tin quốc tế (genbank...)
						<input type="text" ng-model="data.congBoQuocTe" title="{{tooltips['congBoQuocTe']}}" name="congBoQuocTe" class="input-form form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac6Str">48. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac6Str" title="{{tooltips['thongTinKhac6Str']}}" name="thongTinKhac6Str" id="thongTinKhac6Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac6File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac6File" name ="thongTinKhac6File">
					<label for="thongTinKhac6File" title="{{tooltips['thongTinKhac6File']}}"><span>{{getName(data.thongTinKhac6File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac6File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac6File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac6File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(7)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-12">
					<label>49. Phân bố Việt Nam <span class="has-required"> (*)</span>:</label>
				</div>
				<div class="col-sm-6">
					<input type="text" ng-model="data.phanBoVietNamStr" class="input-form form-control" title="{{tooltips['phanBoVietNamStr']}}" name="phanBoVietNamStr" required>
				</div>
				<div class="col-sm-6">
					<input type="file" multiple ng-model="data.phanBoVietNamFile" class="inputfile" data-multiple-caption="{count} file is selected" id="phanBoVietNamFile" name ="phanBoVietNamFile">
					<label for="phanBoVietNamFile" title="{{tooltips['phanBoVietNamFile']}}"><span>{{getName(data.phanBoVietNamFile)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_phanBoVietNamFile" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.phanBoVietNamFile" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'phanBoVietNamFile', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>50. Phân bố trên thế giới (nếu có):</label>
				</div>
				<div class="col-sm-6">
					<input type="text" ng-model="data.phanBoTrenTheGioiStr" title="{{tooltips['phanBoTrenTheGioiStr']}}" name="phanBoTrenTheGioiStr" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<input type="file" id="phanBoTrenTheGioiFile" multiple ng-model="data.phanBoTrenTheGioiFile" class="inputfile" data-multiple-caption="{count} file is selected" name ="phanBoTrenTheGioiFile">
					<label for="phanBoTrenTheGioiFile" title="{{tooltips['phanBoTrenTheGioiFile']}}"><span>{{getName(data.phanBoTrenTheGioiFile)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_phanBoTrenTheGioiFile" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.phanBoTrenTheGioiFile" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'phanBoTrenTheGioiF, keyile')"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>51. Giá trị sử dụng: </label>
					<input type="" id="giaTriSuDung" title="{{tooltips['giaTriSuDung']}}" name="giaTriSuDung" multiple='multiple' class="input-form form-control flexdatalist" data-min-length='0' ng-model="data.giaTriSuDung">
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac7Str">52. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac7Str" title="{{tooltips['thongTinKhac7Str']}}" name="thongTinKhac7Str" id="thongTinKhac7Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac7File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac7File" name ="thongTinKhac7File">
					<label for="thongTinKhac7File" title="{{tooltips['thongTinKhac7File']}}"><span>{{getName(data.thongTinKhac7File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac7File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac7File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac7File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="map-detail form-group" ng-show="isSet(8)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-3">
					<label>53. Ngày nhập mẫu: </label>
					<select ng-model="date_nnm" class="select-date">
						<option value="dd/mm/yyyy">Full date</option>
						<option value="yyyy">Year</option>
					</select>
					<input type="text" ng-model="data.ngayNhapMau" title="{{tooltips['ngayNhapMau']}}" id="ngayNhapMau" name="ngayNhapMau" placeholder="{{date_nnm}}" class="input-form form-control datepicker">
				</div>
				<div class="col-sm-3">
					<label>54. Người giao mẫu: </label>
					<input type="text" ng-model="data.nguoiGiao" title="{{tooltips['nguoiGiao']}}" name="nguoiGiao" class="input-form form-control">
				</div>
				<div class="col-sm-3">
					<label>55. Người nhận mẫu</label>
					<input type="text" ng-model="data.nguoiNhan" title="{{tooltips['nguoiNhan']}}" name="nguoiNhan" class="input-form form-control">
				</div>
				<div class="col-sm-3">
					<label>56. Cơ quan nhập mẫu vật: </label>
					<input type="text" ng-model="data.coQuanNhapVatMau" title="{{tooltips['coQuanNhapVatMau']}}" name="coQuanNhapVatMau" class="input-form form-control" id="coQuanNhapVatMau">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label>57. Hình thức nhập mẫu:</label>
					<input type="text" list="hinhThucNhapMau" class="input-form form-control flexdatalist" data-min-length='0' ng-model="data.hinhThucNhapMau" title="{{tooltips['hinhThucNhapMau']}}" name="hinhThucNhapMau">
					<datalist id="hinhThucNhapMau">
						<option value="Thu thập">Thu thập</option>
						<option value="Hiến tặng">Hiến tặng</option>
					</datalist>
				</div>
				<div class="col-sm-3">
					<label>58. Trao đổi mẫu: </label>
					<select class="form-control" title="{{tooltips['traoDoiMau']}}" ng-model="data.traoDoiMau" name="traoDoiMau">
						<option value=""></option>
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</div>
				<div class="col-sm-3">
					<label>59. Vay mượn mẫu:</label>
					<select class="form-control" title="{{tooltips['vayMuon']}}" ng-model="data.vayMuon" name="vayMuon">
						<option value=""></option>
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</div>
				<div class="col-sm-3">
					<label>60. Nơi lưu trữ mẫu:</label>
					<input type="text" ng-model="data.noiLuuTruMau" title="{{tooltips['noiLuuTruMau']}}" name="noiLuuTruMau" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>61. Khu lưu trữ mẫu:</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-3">
						Phòng
						<input type="text" title="{{tooltips['phong']}}" name="phong" ng-model="data.phong" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Tủ, giá
						<input type="text" title="{{tooltips['tuGia']}}" name="tuGia" ng-model="data.tuGia" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Ngăn tủ, ngăn giá
						<input type="text" title="{{tooltips['ngan']}}" name="ngan" ng-model="data.ngan" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Hộp
						<input type="text" title="{{tooltips['hop']}}" name="hop" ng-model="data.hop" class="input-form form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label>62. Giấy phép nhập mẫu:</label>
					<input type="file" multiple id="giayPhepNhapMau" ng-model="data.giayPhepNhapMau" name="giayPhepNhapMau" class="inputfile" data-multiple-caption="{count} file is selected" accept="image/*, .pdf">
					<label for="giayPhepNhapMau" title="{{tooltips['giayPhepNhapMau']}}"><span>{{getName(data.giayPhepNhapMau)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_giayPhepNhapMau" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.giayPhepNhapMau" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'giayPhepNhapMau')", key></span>
							</span>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<label>63. Hồ sơ nhập mẫu vật đi kèm:</label>
					<input type="file" multiple ng-model="data.hoSoNhapMauVatDiKem" id="hoSoNhapMauVatDiKem" name="hoSoNhapMauVatDiKem" class="inputfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf">
					<label for="hoSoNhapMauVatDiKem" title="{{tooltips['hoSoNhapMauVatDiKem']}}"><span>{{getName(data.hoSoNhapMauVatDiKem)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_hoSoNhapMauVatDiKem" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.hoSoNhapMauVatDiKem" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'hoSoNhapMauVatDiKe, keym')"></span>
							</span>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<label>64. Người lập phiếu mẫu vật<span class="has-required"> (*)</span>:</label>
					<input type="text" ng-model="data.nguoiLapPhieuMauVat" title="{{tooltips['nguoiLapPhieuMauVat']}}" name="nguoiLapPhieuMauVat" class="input-form form-control" required>
				</div>
				<div class="col-sm-3">
					<label>65. Người nhập vào phần mềm:</label>
					<input type="text" ng-model="data.nguoiNhapVaoPhanMem" title="{{tooltips['nguoiNhapVaoPhanMem']}}" name="nguoiNhapVaoPhanMem" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac8Str">66. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac8Str" title="{{tooltips['thongTinKhac8Str']}}" name="thongTinKhac8Str" id="thongTinKhac8Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac8File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac8File" name ="thongTinKhac8File">
					<label for="thongTinKhac8File" title="{{tooltips['thongTinKhac8File']}}"><span>{{getName(data.thongTinKhac8File)}}</span><strong>Đính kèm file</strong></label>
					<ul id="ul_thongTinKhac8File" class="list-group">
						<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac8File" style="overflow: auto;">{{file.fileName}}
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac8File', key)"></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="map-detail form-group" ng-show="isSet(9)" style="padding-top: 30px;">
			<label for="thongTinKhac9Str">67. Thông tin khác: </label>
			<textarea type="text" ng-model="data.thongTinKhac9Str" title="{{tooltips['thongTinKhac9Str']}}" id="thongTinKhac9Str" name="thongTinKhac9Str" class="form-control input-form" rows="5"></textarea>
			<input type="file" multiple ng-model="data.thongTinKhac9File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac9File" name ="thongTinKhac9File">
			<label for="thongTinKhac9File" title="{{tooltips['thongTinKhac9File']}}"><span>{{getName(data.thongTinKhac9File)}}</span><strong>Đính kèm file</strong></label>
			<ul id="ul_thongTinKhac9File" class="list-group">
				<li class="list-group-item" ng-repeat="(key, file) in data.thongTinKhac9File" style="overflow: auto;">{{file.fileName}}
					<span class="pull-right">
						<span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deleteTmpFile(file, 'thongTinKhac9File', key)"></span>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div style="height: 20px;"></div>
	<div class="bottom-nav">
		<center>
			<button type="submit" ng-click="updatePost()" class="btn btn-primary">
				<span class="glyphicon glyphicon-pencil"></span> Cập nhật mẫu
			</button>
		<!-- 	<button type="button" ng-click="saveAs()" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-saved"></span> Lưu mẫu mới
			</button> -->
			<div class="pull-right">
				<button id="back-to-top" type="button" class="btn btn-circle btn-default"><span class="glyphicon glyphicon-chevron-up"></span> Top</button>
			</div>
		</center>	
</form>
<!-- Custom input file -->
<script type="text/javascript" src="asset/js/buttonfile/custom-file-input.js"></script>