<form id="form-content">
	<input type="text" name="id" id="obId" style="display: none;" ng-model="data.id">
	<input type="hidden" name="randomStr" value="{{randomStr}}" id="randomStr">
	<input type="hidden" name="sample" value="dong-vat" id="sample">
	<center><h3>Chỉnh sửa mẫu dữ liệu thực vật > Đề tài: {{maDeTai}}</h3></center>
	<div class="container-fluid">
		<ul class="nav nav-tabs group tabs">
	    	<li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)">Số hiệu</a></li>
	    	<li ng-class="{active: isSet(2)}"><a href ng-click="setTab(2)">Tên mẫu vật</a></li>
	    	<li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)">Số lượng</a></li>
	    	<li ng-class="{active: isSet(4)}"><a href ng-click="setTab(4)">DL thu mẫu</a></li>
	    	<li ng-class="{active: isSet(5)}"><a href ng-click="setTab(5)">Phân tích mẫu</a></li>
	    	<li ng-class="{active: isSet(6)}"><a href ng-click="setTab(6)">Hình ảnh/Phim</a></li>
	    	<li ng-class="{active: isSet(7)}"><a href ng-click="setTab(7)">Phân bố/Giá trị</a></li>
	    	<li ng-class="{active: isSet(8)}"><a href ng-click="setTab(8)">Lưu trữ/Bảo quản</a></li>
	    	<li ng-class="{active: isSet(9)}"><a href ng-click="setTab(9)">Thông tin khác</a></li>
	  	</ul>

		<div class="map-detail form-group" ng-show="isSet(1)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>01. Số hiệu BTTNVN:</label>
					<span><input type="text" title="{{tooltips['soHieuBTTNVN']}}" id="soHieuBTTNVN" name="soHieuBTTNVN" ng-model="data.soHieuBTTNVN" class="input-form form-control form-control"></span>
				</div>
				<div class="col-sm-6">
					<label>02. Số hiệu bảo tàng cơ sở <span class="has-required"> (*)</span>:</label>
					<span><input type="text" title="{{tooltips['soHieuBaoTangCS']}}" name="soHieuBaoTangCS" ng-model="data.soHieuBaoTangCS" class="input-form form-control form-control"  id="soHieuBaoTangCS"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>03. Số hiệu thực địa <span class="has-required"> (*)</span>:</label>
					<input type="text" title="{{tooltips['soHieuThucDia']}}" name="soHieuThucDia" ng-model="data.soHieuThucDia" class="input-form form-control form-control">
				</div>
				<div class="col-sm-6">
					<label>04. Các kí hiệu mẫu vật khác:</label>
					<input type="text" ng-model="data.kyHieuMauVatKhac" id="kyHieuMauVatKhac" title="{{tooltips['kyHieuMauVatKhac']}}" name="kyHieuMauVatKhac" class="input-form form-control form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac1Str">05. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac1Str" title="{{tooltips['thongTinKhac1Str']}}" name="thongTinKhac1Str" id="thongTinKhac1Str" class="input-form form-control form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac1File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac1File" name ="thongTinKhac1File">
					<label for="thongTinKhac1File" title="{{tooltips['thongTinKhac1File']}}"><span>{{getName(data.thongTinKhac1File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(2)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-12">
					<label>06. Tên khoa học (tên latin)</label>
				</div>
				<div>
					<div class="col-sm-3">
						Tên đồng nghĩa:
						<input type="text" title="{{tooltips['tenDongNghia']}}" name="tenDongNghia" ng-model="data.tenDongNghia" id="tenDongNghia" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Giới:
						<input type="text" title="{{tooltips['gioi']}}" name="gioi" ng-model="data.gioi" id="gioi" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Ngành:
						<input type="text" title="{{tooltips['nganh']}}" name="nganh" ng-model="data.nganh" id="nganh" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Lớp <span class="has-required">(*)</span>:
						<input type="text" title="{{tooltips['lop']}}" name="lop" ng-model="data.lop" id="lop" class="input-form form-control">
					</div>
				</div>
				<div>
					<div class="col-sm-3">
						Phân lớp:
						<input type="text" id="phanLop" ng-model="data.phanLop" title="{{tooltips['phanLop']}}" name="phanLop" class="input-form form-control" >
					</div>
					<div class="col-sm-3">
						Bộ <span class="has-required">(*)</span>:
						<input type="text" title="{{tooltips['bo']}}" name="bo" ng-model="data.bo" id="bo" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Phân bộ:
						<input type="text" title="{{tooltips['phanBo']}}" name="phanBo" ng-model="data.phanBo" id="phanBo" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Liên họ:
						<input type="text" title="{{tooltips['lienHo']}}" name="lienHo" ng-model="data.lienHo" id="lienHo" class="input-form form-control">
					</div>
				</div>
				<div>
					<div class="col-sm-3">
						Họ <span class="has-required">(*)</span>:
						<input type="text" title="{{tooltips['ho']}}" name="ho" ng-model="data.ho" id="ho" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Phân họ:
						<input type="text" title="{{tooltips['phanHo']}}" name="phanHo" ng-model="data.phanHo" id="phanHo" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Tông:
						<input type="text" title="{{tooltips['tong']}}" name="tong" ng-model="data.tong" id="tong" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Chi <span class="has-required">(*)</span>:
						<input type="text" title="{{tooltips['chiGiong']}}" name="chiGiong" ng-model="data.chiGiong" id="chiGiong" class="input-form form-control">
					</div>
				</div>
				<div>
					<div class="col-sm-3">
						Phân chi:
						<input type="text" title="{{tooltips['phanChiPhanGiong']}}" name="phanChiPhanGiong" ng-model="data.phanChiPhanGiong" id="phanChiPhanGiong" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Loài (nếu có):
						<input type="text" id="loai" ng-model="data.loai" class="input-form form-control" title="{{tooltips['loai']}}" name="loai">
					</div>
					<div class="col-sm-3">
						Dưới loài/phân loài:
						<input type="text" title="{{tooltips['duoiLoai']}}" name="duoiLoai" ng-model="data.duoiLoai" class="input-form form-control" id="duoiLoai">
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-4">
					<label>07. Người định tên: </label>
					<input type="text" title="{{tooltips['nguoiDinhTen']}}" name="nguoiDinhTen" ng-model="data.nguoiDinhTen" class="input-form form-control" >
				</div>
				<div class="col-sm-4">
					<label>08. Ngày định tên: </label>
					<select ng-model="date_ndt" class="select-date">
                        <option value="dd/mm/yyyy">Full date</option>
                        <option value="yyyy">Year</option>
                    </select>
					<input type="text" class="input-form form-control datepicker" id="ngayDinhTen" title="{{tooltips['ngayDinhTen']}}" placeholder="{{date_ndt}}" name="ngayDinhTen" ng-model="data.ngayDinhTen" >
				</div>
				<div class="col-sm-4">
					<label>09. Tên Việt Nam (phổ thông):</label>
					<input type="text" title="{{tooltips['tenVietNam']}}" name="tenVietNam" ng-model="data.tenVietNam" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>10. Tên địa phương:</label>
					<input type="text" title="{{tooltips['tenDiaPhuong']}}" name="tenDiaPhuong" ng-model="data.tenDiaPhuong" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>11. Tên Tiếng Anh:</label>
					<input type="text" title="{{tooltips['tenTiengAnh']}}" name="tenTiengAnh" ng-model="data.tenTiengAnh" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>12. Tên theo hệ thống phân loại của BTTNVN:</label>
					<input type="text" title="{{tooltips['tenTheoBaoTang']}}" name="tenTheoBaoTang" ng-model="data.tenTheoBaoTang" class="input-form form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-8">
					<label for="thongTinKhac2Str">13. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac2Str" title="{{tooltips['thongTinKhac2Str']}}" name="thongTinKhac2Str" id="thongTinKhac2Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac2File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac2File" name ="thongTinKhac2File">
					<label for="thongTinKhac2File" title="{{tooltips['thongTinKhac2File']}}"><span>{{getName(data.thongTinKhac2File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(3)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>14. Số lượng tiêu bản:</label>
					<input type="number" min="0" title="{{tooltips['soLuongTieuBan']}}" name="soLuongTieuBan" ng-model="data.soLuongTieuBan" class="input-form form-control">
				</div>
				<div class="col-sm-6">
					<label>15. Loại mẫu vật<span class="has-required"> (*)</span>:</label>
					<input type="text" title="{{tooltips['loaiMauVat']}}" name="loaiMauVat" multiple='multiple' class="input-form form-control flexdatalist flexdatalist-force"  data-min-length='0' ng-model="data.loaiMauVat" list="loaiMauVat">
					<datalist id="loaiMauVat">
						<option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
						<option value="Mẫu trưng bày">Mẫu trưng bày</option>
						<option value="Mẫu type">Mẫu type</option>
					</datalist>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-12">
					<label>16. Kích thước mẫu vật<span class="has-required"> (*)</span>:</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-3">
						<span>Chiều cao: </span>
						<span>
							<input type="text" title="{{tooltips['chieuCao']}}" name="chieuCao" ng-model="data.chieuCao" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_chieuCao" name="donVi_chieuCao">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
								<option value="m">m</option>
							</select>
						</span>
					</div>
					<div class="col-sm-3">
						<span>Chiều rộng: </span>
						<span>
							<input type="text" title="{{tooltips['chieuRong']}}" name="chieuRong" ng-model="data.chieuRong" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_chieuRong" ng-model="data.chieuCao" name="donVi_chieuRong">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
								<option value="m">m</option>
							</select>
						</span>
					</div>
					<div class="col-sm-3">
						<span>Chiều dài: </span>
						<span>
							<input type="text" title="{{tooltips['chieuDai']}}" name="chieuDai" ng-model="data.chieuDai" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_chieuDai" name="donVi_chieuDai">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
								<option value="m">m</option>
							</select>
						</span>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-3">
						<span>Trọng lượng: </span>
						<span>
							<input type="text" title="{{tooltips['trongLuong']}}" name="trongLuong" ng-model="data.trongLuong" class="datatext" id="datatext">
							<select class="contentselect" ng-model="data.donVi_trongLuong" name="donVi_trongLuong">
								<option value="mg">mg</option>
								<option value="g">g</option>
								<option value="kg">kg</option>
							</select>
						</span>
					</div>
					<div class="col-sm-3">
						<span>Thể tích: </span>
						<span>
							<input type="text" title="{{tooltips['theTich']}}" name="theTich" class="datatext" ng-model="data.theTich" id="datatext">
							<select class="contentselect" ng-model="data.donVi_theTich" name="donVi_theTich">
								<option value="ml">ml</option>
								<option value="l">lit</option>
							</select>
						</span>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-sm-8">
					<label>17. Tình trạng mẫu  <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['tinhTrangMau']}}" name="tinhTrangMau" ng-model="data.tinhTrangMau" class="input-form form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-sm-8">
					<label for="thongTinKhac3Str">18. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac3Str" title="{{tooltips['thongTinKhac3Str']}}" name="thongTinKhac3Str" id="thongTinKhac3Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac3File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac3File" name ="thongTinKhac3File">
					<label for="thongTinKhac3File" title="{{tooltips['thongTinKhac3File']}}"><span>{{getName(data.thongTinKhac3File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(4)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-4">
					<label>19. Thời gian thu mẫu <span class="has-required">(*)</span>:</label>
					<select ng-model="date_tgtm" class="select-date">
                        <option value="dd/mm/yyyy">Full date</option>
                        <option value="yyyy">Year</option>
                    </select>
					<input type="text" class="input-form form-control datepicker" id="thoiGianThuMau" title="{{tooltips['thoiGianThuMau']}}" name="thoiGianThuMau" placeholder="{{date_tgtm}}" ng-model="data.thoiGianThuMau" >
				</div>
				<div class="col-sm-4">
					<label>20. Người thu mẫu <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['nguoiThuMau']}}" name="nguoiThuMau" ng-model="data.nguoiThuMau" class="input-form form-control">
				</div>			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>21. Cơ quan thu mẫu: </label>
					<input type="text" id="coQuanThuMau" ng-model="data.coQuanThuMau" title="{{tooltips['coQuanThuMau']}}" name="coQuanThuMau" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>22. Phương pháp thu mẫu <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['phuongPhapThuMau']}}" name="phuongPhapThuMau" ng-model="data.phuongPhapThuMau" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>23. Địa điểm thu mẫu: </label>
				</div>
				<div class="container-fluid" ng-controller="PlaceController">
					<div class="row">
						<div class="col-sm-2">
							<span>Vị trí: </span>
						</div>
						<div class="col-sm-10">
							<input type="radio" name="fDiaDiemThuMau" value="dat-lien" ng-model="datLien" ng-click="starDatLien()" id="datLien"> Trên đất liền
							<input type="radio" name="fDiaDiemThuMau" value="dao" id="dao" ng-click="starDao()" ng-model="trenDao"> Trên đảo
							<input type="radio" name="fDiaDiemThuMau" value="bien" id="trenBien" ng-click="starBien()" ng-model="trenBien"> Trên biển
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							Quốc gia<span class="has-required"> (*)</span>: 
							<input type="text" list="quocGia" class="input-form form-control flexdatalist" data-min-length='0' ng-model="data.quocGia" ng-change="countryChange()" title="{{tooltips['quocGia']}}" name="quocGia">
							<datalist id="quocGia">
								<option value="Việt Nam">Việt Nam</option>
							</datalist>
						</div>
						<div class="col-sm-3">
							Tỉnh/Thành phố<span ng-show="star_tinh" class="has-required"> (*)</span>: 
							<input type="text" list="tinh" class="input-form form-control flexdatalist" ng-model="data.tinh" ng-change="cityChange()" data-min-length='0' title="{{tooltips['tinh']}}" name="tinh">
							<datalist id="tinh">
								<option ng-repeat="city in cities | orderBy: 'name'" id="{{city.name}}" value="{{city.id}}">{{city.name}}</option>
							</datalist>
						</div>
						<div class="col-sm-3">
							Huyện<span ng-show="star" class="has-required"> (*)</span>:
							<input type="text" class="input-form form-control flexdatalist" title="{{tooltips['huyen']}}" id="render_districts" name="huyen" list="huyen" ng-model= "data.huyen" ng-change="districtChange()">
							<datalist id="huyen">
								<option ng-repeat="district in districts | customCity: id_tinh | orderBy: 'name'" id="{{district.name}}" value="{{district.id}}">{{district.name}}</option>
							</datalist>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							Xã<span ng-show="star" class="has-required"> (*)</span>: 
							<input type="text" class="input-form form-control flexdatalist" ng-model="data.xa" id="render_wards" title="{{tooltips['xa']}}" name="xa" list="xa">
							<datalist id="xa">
								<option ng-repeat="ward in wards | customDistrict: id_huyen | orderBy:'name'" value="{{ward.id}}">{{ward.name}}</option>
							</datalist>
						</div>
						<div class="col-sm-3">
							Thôn/bản: 
							<input type="text" ng-model="data.thon" title="{{tooltips['thon']}}" name="thon" id="thon" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Thông tin khác: 
							<input type="text" ng-model="data.tinhKhac" title="{{tooltips['tinhKhac']}}" name="tinhKhac" id="tinhKhac" class="input-form form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<label>24. Vị trí tọa độ theo hệ tọa độ Việt Nam 2000: </label>
				</div>
				<div class="col-sm-7">
					<input type="radio" name="fViTriToaDo" id="vitri-dms" ng-checked="'true'" value="true" ng-click="dms()"><span class="label label-default"> DMS</span>
					<input type="radio" name="fViTriToaDo" id="vitri-dd" value="false" ng-click="dd()"><span class="label label-default"> DD</span>
				</div>

				<div class="container-fluid col-sm-12">
					<div class="col-sm-6">
						Vĩ độ N <span class="has-required">(*)</span>:
						<input type="text" id="dms" ng-init="showCoor = 'false'; data.viDo=''" ng-show="!showCoor" title="{{tooltips['viDo']}}" name="viDo" ng-model="data.viDo" class="input-form form-control">
						<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['viDo']}}">
							<input type="number" step="1" ng-model= "vido_do" ng-change="latChange()" class = "coordinates" name=""> độ
							<input type="number" step="1" ng-model= "vido_phut" ng-change="latChange()" class = "coordinates" name=""> phút
							<input type="number" step="1" ng-model= "vido_giay" ng-change="latChange()" class = "coordinates" name=""> giây
						</div>
					</div>
					<div class="col-sm-6">
						Kinh độ E <span class="has-required">(*)</span>:
						<input type="text" id="dms" ng-show="!showCoor" title="{{tooltips['kinhDo']}}" name="kinhDo" ng-model="data.kinhDo" class="input-form form-control">
						<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['kinhDo']}}">
							<input type="number" step="1" ng-model="kinhdo_do" ng-change="lonChange()" class = "coordinates" name=""> độ
							<input type="number" step="1" ng-model="kinhdo_phut" ng-change="lonChange()" class = "coordinates" name=""> phút
							<input type="number" step="1" ng-model="kinhdo_giay" ng-change="lonChange()" class = "coordinates" name=""> giây
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-3">
					<label>25. Độ cao (m) <span class="has-required">(*)</span>: </label>
					<input type="text" title="{{tooltips['doCao']}}" name="doCao" ng-model="data.doCao" class="input-form form-control" >
				</div>
				<div class="col-sm-3">
					<label>26. Độ sâu (m):</label>
					<input type="number" title="{{tooltips['doSau']}}" name="doSau" ng-model="data.doSau" class="input-form form-control">
				</div>
				<div class="col-sm-3">
					<label>27. Vùng biển:</label>
					<input type="text" title="{{tooltips['vungBien']}}" name="vungBien" ng-model="data.vungBien" class="input-form form-control">
				</div>
				<div class="col-sm-3">
					<label>28. Sinh học/sinh thái:</label>
					<input type="text" title="{{tooltips['sinhHoc']}}" name="sinhHoc" ng-model="data.sinhHoc" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>29. Thông tin về dự án, đề tài đợt thu nhập<span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['thongTinDuAn']}}" name="thongTinDuAn" ng-model="data.thongTinDuAn" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>30. Ghi chép thực địa <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['ghiChepThucDia']}}" name="ghiChepThucDia" ng-model="data.ghiChepThucDia" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>31. Bản đồ:</label><br>
					<input type="file" multiple id="banDo"  name="banDo" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="banDo" title="{{tooltips['banDo']}}"><span>{{getName(data.banDo)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-8">
					<label for="thongTinKhac4Str">32. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac4Str" title="{{tooltips['thongTinKhac4Str']}}" name="thongTinKhac4Str" id="thongTinKhac4Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac4File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac4File" name ="thongTinKhac4File">
					<label for="thongTinKhac4File" title="{{tooltips['thongTinKhac4File']}}"><span>{{getName(data.thongTinKhac4File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(5)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<label>33. Thời gian phân tích/giám định/định loại mẫu:</label>
					<select ng-model="date_tgpt" class="select-date">
                        <option value="dd/mm/yyyy">Full date</option>
                        <option value="yyyy">Year</option>
                    </select>
					<input type="text" class="input-form form-control datepicker" id="thoiGianGiamDinh" title="{{tooltips['thoiGianGiamDinh']}}" name="thoiGianGiamDinh" placeholder="{{date_tgpt}}" ng-model="data.thoiGianGiamDinh" >
				</div>
				<div class="col-sm-6">
					<label>34. Người phân tích/giám định/định loại mẫu <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['nguoiGiamDinh']}}" name="nguoiGiamDinh" ng-model="data.nguoiGiamDinh" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>35. Cơ quan/tổ chức phân tích/giám định/phân loại mẫu <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['coQuanToChucGiamDinh']}}" name="coQuanToChucGiamDinh" ng-model="data.coQuanToChucGiamDinh" id="coQuanToChucGiamDinh" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>36. Tài liệu phân tích/giám định/phân loại đi kèm <span class="has-required"> (*)</span>:</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-4">
						<input type="text" ng-model="data.taiLieuPhanTichStr" title="{{tooltips['taiLieuPhanTichStr']}}" name="taiLieuPhanTichStr" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<input type="file" id="taiLieuPhanTichFile" multiple ng-model="data.taiLieuPhanTichFile" name="taiLieuPhanTichFile" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected" max-file-size="10">
						<label for="taiLieuPhanTichFile" title="{{tooltips['taiLieuPhanTichFile']}}"><span>{{getName(data.taiLieuPhanTichFile)}}</span><strong>Đính kèm file</strong></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>37. Mô tả/đặc điểm hình thái <span class="has-required"> (*)</span></label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-4">
						<input type="text" title="{{tooltips['moTaHinhThaiStr']}}" ng-model="data.moTaHinhThaiStr" name ="moTaHinhThaiStr" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<input type="file" multiple id="moTaHinhThaiFile" accept=".docx, .doc, .pdf" ng-model="data.moTaHinhThaiFile" name ="moTaHinhThaiFile" max-file-size="10" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="moTaHinhThaiFile" title="{{tooltips['moTaHinhThaiFile']}}"><span>{{getName(data.moTaHinhThaiFile)}}</span><strong>Đính kèm file</strong></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>38. Hình vẽ:</label><br>
					<input type="file" multiple ng-model="data.hinhVe" id="hinhVe" name="hinhVe" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
					<label for="hinhVe" title="{{tooltips['hinhVe']}}"><span>{{getName(data.hinhVe)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-8">
					<label for="thongTinKhac5Str">39. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac5Str" title="{{tooltips['thongTinKhac5Str']}}" name="thongTinKhac5Str" id="thongTinKhac5Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac5File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac5File" name ="thongTinKhac5File">
					<label for="thongTinKhac5File" title="{{tooltips['thongTinKhac5File']}}"><span>{{getName(data.thongTinKhac5File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(6)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-3">
					<label>40. Ảnh mẫu vật <span class="has-required">(*)</span>:</label>
					<input type="file" multiple id="anhMauVat" ng-model="data.anhMauVat" name="anhMauVat" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="10">
					<label for="anhMauVat" title="{{tooltips['anhMauVat']}}"><span>{{getName(data.anhMauVat)}}</span><strong>Đính kèm file</strong></label>
				</div>
				<div class="col-sm-3">
					<label>41. Hình ảnh mẫu ngoài thực địa:</label>
					<input type="file" multiple id="hinhAnhNgoaiThucDia" accept="image/*" max-file-size="10" ng-model="data.hinhAnhNgoaiThucDia" name="hinhAnhNgoaiThucDia" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="hinhAnhNgoaiThucDia" title="{{tooltips['hinhAnhNgoaiThucDia']}}"><span>{{getName(data.hinhAnhNgoaiThucDia)}}</span><strong>Đính kèm file</strong></label>
				</div>
				<div class="col-sm-3">
					<label>42. Thông tin về phim, video: </label>
					<input type="text" title="{{tooltips['videoStr']}}" name="videoStr" ng-model="data.videoStr" class="input-form form-control" >
				</div>
				<div class="col-sm-3">
					<label>43. Đính kèm phim, video:</label>
					<input type="file" multiple accept="video/*" name ="videoFile" ng-model="data.videoFile" id="videoFile" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="videoFile" title="{{tooltips['videoFile']}}"><span>{{getName(data.videoFile)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>44. Xử lý chế tác mẫu vật: </label>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-3">
							Hình ảnh đính kèm Xử lý chế tác:
							<input type="file" multiple id="hinhAnhDinhKem" ng-model="data.hinhAnhDinhKem" name="hinhAnhDinhKem" accept="image/*" max-file-size="5" class="inputfile customfile" data-multiple-caption="{count} file is selected">
							<label for="hinhAnhDinhKem" title="{{tooltips['hinhAnhDinhKem']}}"><span>{{getName(data.hinhAnhDinhKem)}}</span><strong>Đính kèm file</strong></label>
						</div>
						<div class="col-sm-3">
							Đính kèm xử lý chế tác:
							<input type="file" multiple ng-model="data.dinhKemXuLyCheTac" id="dinhKemXuLyCheTac" accept=".docx, .doc, .pdf" name="dinhKemXuLyCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected">
							<label for="dinhKemXuLyCheTac" title="{{tooltips['dinhKemXuLyCheTac']}}"><span>{{getName(data.dinhKemXuLyCheTac)}}</span><strong>Đính kèm file</strong></label>
						</div>
						<div class="col-sm-3">
							Thuộc tính xử lý chế tác 
							<input type="text" title="{{tooltips['thuocTinhXuLyCheTac']}}" name="thuocTinhXuLyCheTac" ng-model="data.thuocTinhXuLyCheTac" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Phương thức xử lý chế tác:
							<input type="text" title="{{tooltips['phuongThucXuLy']}}" name="phuongThucXuLy" ng-model="data.phuongThucXuLy" class="input-form form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							Thời gian xử lý chế tác:
							<select ng-model="date_tgct" class="select-date">
		                        <option value="dd/mm/yyyy">Full date</option>
		                        <option value="yyyy">Year</option>
		                    </select>
							<input type="text" title="{{tooltips['thoiGianXuLy']}}" id="thoiGianXuLy" name="thoiGianXuLy" ng-model="data.thoiGianXuLy" placeholder="{{date_tgct}}" class="input-form form-control datepicker">
						</div>
						<div class="col-sm-3">
							Người xử lý, chế tác:
							<input type="text" title="{{tooltips['nguoiXuLy']}}" name="nguoiXuLy" ng-model="data.nguoiXuLy" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Cơ quan xử lý, chế tác mẫu:
							<input type="text" title="{{tooltips['coQuanXuLy']}}" name="coQuanXuLy" ng-model="data.coQuanXuLy" id="coQuanXuLy" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Ảnh mẫu sau chế tác:
							<input type="file" id="anhMauSauCheTac" multiple ng-model="data.anhMauSauCheTac" name="anhMauSauCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
							<label for="anhMauSauCheTac" title="{{tooltips['anhMauSauCheTac']}}"><span>{{getName(data.anhMauSauCheTac)}}</span><strong>Đính kèm file</strong></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>45. Thông tin DNA</label>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-3">
							Vị trí lấy mẫu DNA (lá, thân, rễ,...):
							<input type="text" id="viTriLayMauDNA" title="{{tooltips['viTriLayMauDNA']}}" name="viTriLayMauDNA" ng-model="data.viTriLayMauDNA" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Mẫu DNA (khô, nước...):
							<input type="text" id="mauDNA" title="{{tooltips['mauDNA']}}" name="mauDNA" ng-model="data.mauDNA" class="input-form form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							Vùng gen phân tích: 
							<input type="text" id="vungGenPhanTich" title="{{tooltips['vungGenPhanTich']}}" name="vungGenPhanTich" ng-model="data.vungGenPhanTich" class="input-form form-control">
						</div>
						<div class="col-sm-3">
							Trình tự DNA<br>
							<input type="file" multiple ng-model="data.dinhKemTrinhTuDNA" id="dinhKemTrinhTuDNA" name="dinhKemTrinhTuDNA" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected">
							<label for="dinhKemTrinhTuDNA" title="{{tooltips['dinhKemTrinhTuDNA']}}"><span>{{getName(data.dinhKemTrinhTuDNA)}}</span><strong>Đính kèm file</strong></label>
						</div>
						<div class="col-sm-3">
							Công bố/thông tin quốc tế (genbank...)
							<input type="text" title="{{tooltips['congBoQuocTe']}}" name="congBoQuocTe" ng-model="data.congBoQuocTe" class="input-form form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>46. Thông tin mẫu hạt phấn</label>
					<input type="text" multiple title="{{tooltips['thongTinMauHatPhan']}}" name="thongTinMauHatPhan" ng-model="data.thongTinMauHatPhan" class="input-form form-control">
				</div>
			</div>

			<div class="row" style="margin-top: 40px;">
				<div class="col-sm-8">
					<label for="thongTinKhac6Str">47. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac6Str" title="{{tooltips['thongTinKhac6Str']}}" name="thongTinKhac6Str" id="thongTinKhac6Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac6File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac6File" name ="thongTinKhac6File">
					<label for="thongTinKhac6File" title="{{tooltips['thongTinKhac6File']}}"><span>{{getName(data.thongTinKhac6File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(7)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-12">
					<label>48. Phân bố Việt Nam <span class="has-required">(*)</span>:</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-6">
						<input type="text" title="{{tooltips['phanBoVietNamStr']}}" name="phanBoVietNamStr" ng-model="data.phanBoVietNamStr" class="input-form form-control">
					</div>
					<div class="col-sm-6">
						<input type="file" multiple ng-model="data.phanBoVietNamFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" id="phanBoVietNamFile" name ="phanBoVietNamFile">
						<label for="phanBoVietNamFile" title="{{tooltips['phanBoVietNamFile']}}"><span>{{getName(data.phanBoVietNamFile)}}</span><strong>Đính kèm file</strong></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>49. Phân bố trên thế giới (nếu có):</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-6">
						<input type="text"  title="{{tooltips['phanBoTrenTheGioiStr']}}" name="phanBoTrenTheGioiStr" ng-model="data.phanBoTrenTheGioiStr" class="input-form form-control">
					</div>
					<div class="col-sm-6">
						<input type="file" id="phanBoTrenTheGioiFile" multiple ng-model="data.phanBoTrenTheGioiFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" name ="phanBoTrenTheGioiFile">
						<label for="phanBoTrenTheGioiFile" title="{{tooltips['phanBoTrenTheGioiFile']}}"><span>{{getName(data.phanBoTrenTheGioiFile)}}</span><strong>Đính kèm file</strong></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>50. Giá trị sử dụng (tài nguyên)(nếu có):</label>
					<input type="" title="{{tooltips['giaTriSuDung']}}" name="giaTriSuDung" multiple='multiple' class="input-form form-control flexdatalist"  data-min-length='0'  ng-model="data.giaTriSuDung" list="giaTriSuDung">
					<datalist id="giaTriSuDung">
						<option>Khoa học</option>
						<option>Y học</option>
						<option>Dinh Dưỡng</option>
						<option>Thẩm mĩ</option>
					</datalist>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-8">
					<label for="thongTinKhac7Str">51. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac7Str" title="{{tooltips['thongTinKhac7Str']}}" name="thongTinKhac7Str" id="thongTinKhac7Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac7File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac7File" name ="thongTinKhac7File">
					<label for="thongTinKhac7File" title="{{tooltips['thongTinKhac7File']}}"><span>{{getName(data.thongTinKhac7File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(8)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-3">
					<label>52. Ngày nhập mẫu: </label>
					<select ng-model="date_nnm" class="select-date">
                        <option value="dd/mm/yyyy">Full date</option>
                        <option value="yyyy">Year</option>
                    </select>
					<input type="text" class="input-form form-control datepicker" id="ngayNhapMau" title="{{tooltips['ngayNhapMau']}}" placeholder="{{date_nnm}}" name="ngayNhapMau" ng-model="data.ngayNhapMau" >
				</div>
				<div class="col-sm-3">
					<label>53. Người giao mẫu: </label>
					<input type="text" title="{{tooltips['nguoiGiao']}}" name="nguoiGiao" ng-model="data.nguoiGiao" class="input-form form-control">
				</div>
				<div class="col-sm-3">
					<label>54. Người nhận mẫu</label>
					<input type="text" title="{{tooltips['nguoiNhan']}}" name="nguoiNhan" ng-model="data.nguoiNhan" class="input-form form-control">
				</div>
				<div class="col-sm-3">
					<label>55. Cơ quan nhập mẫu: </label>
					<input type="text" title="{{tooltips['coQuanNhapVatMau']}}" name="coQuanNhapVatMau" ng-model="data.coQuanNhapVatMau" id="coQuanNhapVatMau" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label>56. Hình thức nhập mẫu:</label>
					<input type="text" list="hinhThucNhapMau" class="input-form form-control flexdatalist" data-min-length='0'  title="{{tooltips['hinhThucNhapMau']}}" ng-model="data.hinhThucNhapMau" name="hinhThucNhapMau">
					<datalist id="hinhThucNhapMau">
						<option value="Thu thập">Thu thập</option>
						<option value="Hiến tặng">Hiến tặng</option>
					</datalist>
				</div>
				<div class="col-sm-3">
					<label>57. Trao đổi mẫu: </label>
					<select title="{{tooltips['traoDoiMau']}}" ng-model="data.traoDoiMau" name="traoDoiMau" class="form-control">
						<option value=""></option>
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</div>
				<div class="col-sm-3">
					<label>58. Vay mượn mẫu:</label>
					<select class="form-control" title="{{tooltips['vayMuon']}}" ng-model="data.vayMuon" name="vayMuon">
						<option value=""></option>
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</div>
				<div class="col-sm-3">
					<label>59. Nơi lưu trữ:</label>
					<input type="text" title="{{tooltips['noiLuuTruMau']}}" name="noiLuuTruMau" ng-model="data.noiLuuTruMau" class="input-form form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>60. Khu lưu trữ mẫu:</label>
				</div>
				<div class="container-fluid">
					<div class="col-sm-3">
						Phòng
						<input type="text" title="{{tooltips['phong']}}" name="phong" ng-model="data.phong" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Tủ, giá
						<input type="text" title="{{tooltips['tuGia']}}" name="tuGia" ng-model="data.tuGia" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Ngăn tủ, ngăn giá
						<input type="text" title="{{tooltips['ngan']}}" name="ngan" ng-model="data.ngan" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						Hộp
						<input type="text" title="{{tooltips['hop']}}" name="hop" ng-model="data.hop" class="input-form form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>61. Giấy phép nhập mẫu:</label><br>
					<input type="file" multiple id="giayPhepNhapMau" ng-model="data.giayPhepNhapMau" name="giayPhepNhapMau" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*, .pdf">
					<label for="giayPhepNhapMau" title="{{tooltips['giayPhepNhapMau']}}"><span>{{getName(data.giayPhepNhapMau)}}</span><strong>Đính kèm file</strong></label>
				</div>
				<div class="col-sm-4">
					<label>62. Hồ sơ nhập mẫu vật đi kèm:</label>
					<input type="file" multiple ng-model="data.hoSoNhapMauVatDiKem" id="hoSoNhapMauVatDiKem" name="hoSoNhapMauVatDiKem" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf">
					<label for="hoSoNhapMauVatDiKem" title="{{tooltips['hoSoNhapMauVatDiKem']}}"><span>{{getName(data.hoSoNhapMauVatDiKem)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>63. Người lập phiếu mẫu vật <span class="has-required">(*)</span>:</label>
					<input type="text" title="{{tooltips['nguoiLapPhieuMauVat']}}" name="nguoiLapPhieuMauVat" ng-model="data.nguoiLapPhieuMauVat" class="input-form form-control">
				</div>
				<div class="col-sm-4">
					<label>64. Người nhập thông tin vào phần mềm:</label>
					<input type="text" title="{{tooltips['nguoiNhapVaoPhanMem']}}" name="nguoiNhapVaoPhanMem" ng-model="data.nguoiNhapVaoPhanMem" class="input-form form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-8">
					<label for="thongTinKhac8Str">65. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac8Str" title="{{tooltips['thongTinKhac8Str']}}" name="thongTinKhac8Str" id="thongTinKhac8Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac8File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac8File" name ="thongTinKhac8File">
					<label for="thongTinKhac8File" title="{{tooltips['thongTinKhac8File']}}"><span>{{getName(data.thongTinKhac8File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
		<div class="form-group map-detail" ng-show="isSet(9)" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-8">
					<label for="thongTinKhac9Str">66. Thông tin khác:</label>
					<textarea type="text" ng-model="data.thongTinKhac9Str" title="{{tooltips['thongTinKhac9Str']}}" name="thongTinKhac9Str" id="thongTinKhac9Str" class="input-form form-control" rows="5"></textarea>
				</div>
				<div class="col-sm-12">
					<input type="file" multiple ng-model="data.thongTinKhac9File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac9File" name ="thongTinKhac9File">
					<label for="thongTinKhac9File" title="{{tooltips['thongTinKhac9File']}}"><span>{{getName(data.thongTinKhac9File)}}</span><strong>Đính kèm file</strong></label>
				</div>
			</div>
		</div>
	</div>

	<div style="height: 20px;"></div>
	<div class="bottom-nav">
		<center>
			<button type="submit" ng-click="updatePost()" class="btn btn-primary">
				<span class="glyphicon glyphicon-pencil"></span> Cập nhật mẫu
			</button>
			<!-- <button type="button" ng-click="saveAs()" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-saved"></span> Lưu mẫu mới
			</button> -->
			<div class="pull-right">
				<button id="back-to-top" type="button" class="btn btn-circle btn-default">
					<span class="glyphicon glyphicon-chevron-up"></span> Top
				</button>
			</div>
		</center>
	</div>
</form>
<!-- Custom input file -->
<script type="text/javascript" src="asset/js/buttonfile/custom-file-input.js"></script>