node_modules
config/config.js
config/acl.json
config/roles.json
public/uploads
tmp/
app/service.js
*.log
*.sublime-workspace
*.sublime-project
deploygit.bat
data.json
npm-debug.log.*
out.html
