<div class="navbar-custom-menu">
	<ul class="nav navbar-nav">
		
		<!-- User Account: style can be found in dropdown.less -->
		<li class="dropdown user user-menu">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<img src="/admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
				<span class="hidden-xs"><%= user.fullname %></span>
			</a>
			<ul class="dropdown-menu">
				<!-- User image -->
				<li class="user-header">
					<img src="/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

					<p>
						<%= user.fullname %>
						<small><%= 'Admin' %></small>
						<!--<small>Member since Nov. 2012</small>-->
					</p>

				</li>
				
				<!-- Menu Footer-->
				<li class="user-body bg-success">
					<div class="pull-left">
						<a href="/home" class="btn btn-success btn-flat">Home</a>
					</div>
					<div class="pull-right">
						<a href="/auth/logout" class="btn btn-warning btn-flat">Sign out</a>
					</div>
				</li>
			</ul>
		</li>
		<!-- Control Sidebar Toggle Button -->
		<li>
			<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
		</li>
	</ul>
</div>