<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include header %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/checkbox.min.css">
    <style>
    #redirectBack{
    margin-left: 0px;
    margin-top: 0px;
    }
    </style>
  </head>
</head>
<body ng-app="myApp">
  <div class="container" ng-controller="myCtrl">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4 class="">
      Forgot your password?
      </h4>
      <form accept-charset="UTF-8" role="form" name="userForm" method="post" ng-submit="submitForm()" novalidate>
        <fieldset>
          <span class="help-block">
            Nhập email mà bạn dùng để đăng nhập.
            <br>
            Chúng tôi sẽ gửi cho bạn một email để đặt lại mật khẩu.
          </span>
          <p style="color: red;">{{message}}</p>

          <div class="form-group input-group">
            <span class="input-group-addon">
              @
            </span>
            <input class="form-control" placeholder="Email" name="email" type="email" ng-model="email" required="">
          </div>
          <button type="submit" class="btn btn-primary" id="btn-olvidado">
          Continue
          </button>
          <!-- <p class="help-block">
            <a class="text-muted" href="#" id="acceso"><small>Account Access</small></a>
          </p> -->
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $scope.submitForm = function(){
      if($scope.userForm.$valid){
        $http({
            method : "POST",
            url : "/auth/forgot-password",
            data : {email : $scope.email}
        }).then(function mySucces(res) {
          // let data = JSON.parse(res.data);
          $scope.message = res.data.message;
        }, function myError(res) {
            $scope.message = res.statusText + " - Có lỗi xảy ra!";
        });
      }
      else {
        $scope.message = 'Email bạn nhập không đúng rồi!';
      }
      console.log($scope.email);
    }
});
</script>