<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include header %>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
      function onSubmit(token) {
        console.log(token);
         document.getElementById("forgot-password-form").submit();
      }
    </script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/checkbox.min.css">
    <style>
    #redirectBack{
    margin-left: 0px;
    margin-top: 0px;
    }
    </style>
  </head>
</head>
<body>
  <div class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4 class="">
      Quên mật khẩu?
      </h4>
      <form id="forgot-password-form" accept-charset="UTF-8" role="form" method="post" action="">
        <fieldset>
          <span class="help-block">
            Nhập email mà bạn dùng để đăng nhập.
            <br>
            Chúng tôi sẽ gửi cho bạn một email để đặt lại mật khẩu.
          </span>
          <!-- <p style="color: red;">{{message}}</p> -->

          <div class="form-group input-group">
            <span class="input-group-addon">
              @
            </span>
            <input class="form-control" placeholder="Email" name="email" type="email" ng-model="email" required="">
          </div>
          <button
            class="g-recaptcha btn btn-primary"
            data-sitekey="<%= sitekey %>"
            data-callback="onSubmit">
            Tiếp tục
          </button>
            
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>