<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
	</head>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
					<% include nav %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
					<h2 class="text-success">Bấm <a href="/app">Nhập liệu</a> để nhập liệu</h2>
					<h5 class="text-danger">Nếu sau khi bấm vào liên kết trên, bạn được chuyển hướng lại chính trang này, liên hệ chủ nhiệm đề tài để cập nhật quyền hạn cho tài khoản của bạn.</h5>
				</div>
			</div>
		</div>
	</body>
</html>
