<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
	</head>
	</head>
	<body>
		<h2>Home</h2>
		<a href="/app">App</a>
		<a href="/auth/logout">Log out</a>
		<a href="/config">Config</a>
	</body>
</html>
