<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
	</head>
	</head>
	<body>
		<% include nav %>
		<div class="container-fluid" style="margin-top: 100px">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
					<h2 class="text-success">Bấm vào các nút tương ứng bên trên để nhập liệu</h2>
					<h5 class="text-danger">Nếu sau khi bấm, form nhập liệu không hiện ra, liên hệ chủ nhiệm đề tài để cập nhật quyền hạn cho tài khoản của bạn.</h5>
				</div>
			</div>
		</div>
	</body>
</html>
