<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
	</head>
	</head>
	<body>
		<div class="container">
			<% include nav %>
			<h2 class="text-success">Bấm <a href="/app">Nhập liệu</a> để nhập liệu</h2>
			<h5 class="text-danger">Nếu sau khi bấm vào liên kết trên, bạn được chuyển hướng lại chính trang này, liên hệ <a href="mailto:ngocdon127@gmail.com">ngocdon127@gmail.com</a> để cập nhật quyền hạn cho tài khoản của bạn.</h5>
		</div>
	</body>
</html>
