<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
	</head>
	</head>
	<body>
		<div class="container">
			<% include nav %>
			<h2 class="text-success">Click <a href="/app">here</a> to view demo form</h2>
		</div>
	</body>
</html>
