<!DOCTYPE html>
<html>
	<head>
		<title>Log</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
	</head>
	</head>
	<body>
		<% include nav %>
		<h2>Log</h2>
	</body>
</html>
