<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
		<link rel="stylesheet" href="/stylesheets/checkbox.min.css">
		<style>
			#redirectBack{
				margin-left: 0px;
				margin-top: 0px;
			}
		</style>
	</head>
	</head>
	<body>
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Đăng nhập</h1>
					<br>
					<form method="post" onsubmit="handleSubmit()">
						<input type="text" name="email" id="email" value="<%= oldEmail %>" placeholder="Email">
						<input type="password" name="password" id="password" placeholder="Password">
						<input type="hidden" name="redirectBack" id="redirectBack">
						<% if (message) { %>
							<span class="text-danger"><%= message %></span>
						<% } %>
						<div class="ui toggle checkbox">
							<input type="checkbox" id="redirectBack" onchange="handleChange(this)">
							<label style="font-size: 15px; padding-top: 0px; padding-bottom: 0px">Truy cập trang quản trị</label>
						</div>
						<input type="submit" name="login" id="btnSubmit" class="login loginmodal-submit" value="Đăng nhập">
					</form>
					<div class="login-help">
						<a href="/auth/signup">Đăng ký</a>
					</div>
					<div class="login-help">
						<a href="/auth/forgot-password">Quên mật khẩu</a>
					</div>
				</div>
				
			</div>
		</div>
		<script type="text/javascript">
			$('#login-modal').modal({
				backdrop: 'static',
				keyboard: false
			});
			$('#login-modal').modal('show');
			function ob (x) {
				return document.getElementById(x);
			}

			ob('email').focus();
			
			function handleSubmit () {
				var plainPass = ob('password').value;
				var i = 0;
				while (i < 1000){
					plainPass = CryptoJS.MD5(plainPass).toString();
					i++;
				}
				ob('password').value = plainPass;
				// $('#btnSubmit').click();
			}
			var checkbox = false;
			function handleChange(element) {
				checkbox = !checkbox;
				ob('redirectBack').value = checkbox ? '/admin' : ''
			}
		</script>
		<script src="/javascripts/checkbox.min.js"></script>
	</body>
</html>
