<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Trang chủ</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<% if (typeof(user) != 'undefined') { %>
				<ul class="nav navbar-nav">
					<!--<% if ((typeof(path) != 'undefined') && !(path.localeCompare('/app'))) { %>
						<li class="active"><a href="/app">Nhập liệu</a></li>
					<% } else { %>
						<li><a href="/app">Nhập liệu</a></li>
					<% } %>

					<% if (typeof(path) != 'undefined' && !path.localeCompare('/config')) { %>
						<li class="active"><a href="/config">Cài đặt</a></li>
					<% } else { %>
						<li><a href="/config">Cài đặt</a></li>
					<% } %>

					<% if (typeof(path) != 'undefined' && !path.localeCompare('/log/')) { %>
						<li class="active"><a href="/log/all">Lịch sử</a></li>
					<% } else { %>
						<li><a href="/log/all">Lịch sử</a></li>
					<% } %>-->
					<li><a href="/app/#!/co-sinh">Cổ sinh</a></li>
					<li><a href="/app/#!/dia-chat">Địa chất</a></li>
					<li><a href="/app/#!/dong-vat">Động vật</a></li>
					<li><a href="/app/#!/tho-nhuong">Thổ nhưỡng</a></li>
					<li><a href="/app/#!/thuc-vat">Thực vật</a></li>
				</ul>
			<% } %>
		<% if (user) { %>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.fullname %> </a>
					<ul class="dropdown-menu">
						<li><a href="/log/all">Lịch sử</a></li>
						<li><a href="/app/#!/quan-ly-mau">Quản lý mẫu vật</a></li>
						<li><a href="/admin">Quản lý tài khoản</a></li>
						<li><a href="/users">Trang cá nhân</a></li>
						<li><a href="/auth/logout">Đăng xuất</a></li>
					</ul>
				</li>
			</ul>
			
		<% } else { %>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/auth/login">Đăng nhập</a>
				</li>
				<li>
					<a href="/auth/signup">Đăng ký</a>
				</li>
			</ul>
			

		<% } %>
			
		</div><!-- /.navbar-collapse -->
	</div>
</nav>

