<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include header %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/checkbox.min.css">
    <style>
    #redirectBack{
    margin-left: 0px;
    margin-top: 0px;
    }
    </style>
  </head>
</head>
<body ng-app="myApp">
  <div class="container" ng-controller="myCtrl">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4 class="">
      Đặt lại mật khẩu cho tại khoản <%= username %>
      </h4>
      <form accept-charset="UTF-8" role="form" name="userForm" method="post" ng-submit="submitForm()" novalidate>
        <fieldset>
          <span class="help-block">
            Chọn mật khẩu mới.
            <br>
          </span>
          <p style="color: red;">{{message}}</p>
          
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Mật khẩu mới</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="new_password" type="password" name="new_password" required="">
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Xác nhận mật khẩu</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="confirm_password" type="password" name="confirm_password" required="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
            </div>
          </div>
          
          <!-- <p class="help-block">
            <a class="text-muted" href="#" id="acceso"><small>Account Access</small></a>
          </p> -->
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http, $window, $timeout) {
  $scope.submitForm = function(){
    if($scope.new_password == $scope.confirm_password){
      var plainPass = $scope.new_password;
      var i = 0;
      while (i < 1000){
        plainPass = CryptoJS.MD5(plainPass).toString();
        i++;
      }
      $http({
        method : "POST",
        url : "/auth/reset",
        data : {username : "<%= username %>", key: "<%= key %>", password : plainPass}
      }).then(function mySucces(res) {
        // let data = JSON.parse(res.data);
        $scope.message = res.data.message;
        if(!res.data.err){
          $timeout($window.open('/auth/login', "_self"), 10000);
        }
      }, function myError(res) {
        $scope.message = res.statusText + " - Có lỗi xảy ra!";
      });
    }
    else {
      $scope.message = 'Mật khẩu nhập không trùng nhau';
    }
  }
});
</script>


