<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<% include header %>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2">
					<% include nav %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2">
					
					<div class="container-fluid">
						<form class="form" name="form" method="post" onsubmit="handleRegister()">
							<div class="row" >
								<label>Họ tên</label><input name="fullname" id="fullname" class="form-control" required="">
							</div>
							<div class="row" >
								<label>Email</label><input type="email" name="email" id="email" class="form-control" required="">
							</div>
							<div class="row">
								<label>Mật khẩu</label><input type="password" name="password" id="password" class="form-control">
							</div>
							<div class="row">
								<button class="btn btn-inverse btn-lg btn-login" style="margin-top:10px" type="submit" id="btnSubmit">Đăng ký</button>
							</div>
							<hr>
							<% if (message) { %>
								<div class="col-sm-12">
									<span class="text-danger"><%= message %></span>
								</div>
							<% } %>
							<script type="text/javascript">
								function ob (x) {
									return document.getElementById(x);
								}

								ob('fullname').focus();
								
								function handleRegister () {
									var plainPass = ob('password').value;
									var i = 0;
									while (i < 1000){
										plainPass = CryptoJS.MD5(plainPass).toString();
										i++;
									}
									ob('password').value = plainPass;
									// $('#btnSubmit').click();
								}
							</script>
						</form>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</body>
</html>
