<style>
    #header {
        width: 100%;
        /* background-color: gray; */
        background-image: url("asset/image/header-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .img {
        width: 100%;
        height: 180px !important;
    }

    .caption {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tem-file{
        /*padding: 30px;*/
        max-width: 130px;
        text-align: center;
    }
    p{
        /*text-indent: 40px;*/
        text-align: justify;
    }
</style>

<div id="header" class="jumbotron">
    <div class="container">
        <h2>Bộ Sưu Tập Mẫu Vật Quốc Gia</h2>
         <h3>Về Thiên Nhiên Việt Nam</h3>
    </div>
</div>
<div class="container col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3">
    <center><h3>Giới thiệu</h3></center>
    <div>
        <p style="text-indent: 40px;">Bảo tàng Thiên nhiên Việt Nam được thành lập theo Nghị định 27/NĐ-CP, ngày 16/01/2004 (nay là Nghị định 60/2017/NĐ-CP ngày 15/5/2017) của Chính phủ. Chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Bảo tàng được quy định tại Quyết định số 305/QĐ-KHCNVN, ngày 10/03/2006 (nay là Quyết định số 1738/QĐ-VHL ngày 09/8/2017) của Chủ tịch Viện Hàn lâm Khoa học và Công nghệ Việt Nam.</p>
        <img src="asset/image/MG_7665.jpg" class="img-responsive" alt="Image" style="width:100%">

        <p style="text-indent: 40px;" style="margin: 15px 0px;">Trong những năm qua, tuy còn rất nhiều khó khăn, nhưng được sự quan tâm của Đảng, Nhà nước, Viện Hàn lâm Khoa học và Công nghệ Việt Nam và sự giúp đỡ của các bộ, ngành, địa phương, cơ quan, bảo tàng, tập thể và các cá nhân trong và ngoài nước, Bảo tàng Thiên nhiên Việt Nam đã từng bước phát triển và đạt được nhiều thành tích trong nghiên cứu, sưu tầm, bảo quản và chế tác, thiết kế và trưng bày các mẫu vật về thiên nhiên Việt Nam.</p>
    </div>
    <div>
        <h4>Giám đốc Bảo tàng Thiên nhiên Việt Nam được bổ nhiệm trong các giai đoạn:</h4>
        <ul class="list-group">
            <li style="text-indent: 50px;" class="list-group-item">+ Từ 2006-8/2012 là PGS.TS. Phạm Văn Lực.</li>
            <li style="text-indent: 50px;" class="list-group-item">+ Từ 8/2012 đến hết tháng 5/2014 là GS.TSKH Nguyễn Đình Công</li>
        </ul>
        <h4>Ban lãnh đạo Bảo tàng hiện nay gồm:</h4>
        <ul class="list-group">
            <li style="text-indent: 50px;" class="list-group-item">+Tổng Giám đốc: PGS.TS Nguyễn Trung Minh</li>
            <li style="text-indent: 50px;" class="list-group-item">
                + Các Phó Tổng Giám đốc:PGS.TS. Vũ Văn Liên, TS. Phan Kế Long
            </li>
        </ul>
        <h4>Chủ tịch Hội đồng Khoa học: </h4>
    </div>
    <div>
        <p style="text-indent: 40px;">Bảo tàng Thiên nhiên Việt Nam có 64 cán bộ gồm: 05 phó giáo sư, 16 tiến sĩ, 22 thạc sĩ,  24 cử nhân và kỹ sư, 2 kỹ thuật viên và nhân viên.</p>

        <p style="text-indent: 40px;">Bảo tàng còn có đội ngũ cộng tác viên với hơn 150 người là các nhà khoa học, quản lý ở các viện nghiên cứu, trường đại học, các cơ quan bộ, ngành trong cả nước.</p>
    </div>
    <div style="margin-bottom: 50px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <center><h3>Tài liệu</h3></center>
            
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <h4>Mẫu file nhập liệu từ excel</h4>
                <div class="col-sm-2 col-xs-3 tem-file">
                    <img src="asset/image/xlsx.png" class="img-responsive img-thumbnail" style="width:100%" alt="Mẫu cổ sinh">
                    <div class="tem-file-title">
                        <p>Cổ sinh</p>
                        <a href="asset/template/pal.xlsx" download="template-co-sinh.xlsx">Tải xuống</a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-3 tem-file">
                    <img src="asset/image/xlsx.png" class="img-responsive img-thumbnail" style="width:100%" alt="Mẫu địa chất">
                    <div class="tem-file-title">
                        <p>Địa chất</p>
                        <a href="asset/template/geo.xlsx" download="template-dia-chat.xlsx">Tải xuống</a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-3 tem-file">
                    <img src="asset/image/xlsx.png" class="img-responsive img-thumbnail" style="width:100%" alt="Mẫu động vật">
                    <div class="tem-file-title">
                        <p>Động vật</p>
                        <a href="asset/template/ani.xlsx" download="template-dong-vat.xlsx">Tải xuống</a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-3 tem-file">
                    <img src="asset/image/xlsx.png" class="img-responsive img-thumbnail" style="width:100%" alt="Mẫu thổ nhưỡng">
                    <div class="tem-file-title">
                        <p>Thổ nhưỡng</p>
                        <a href="asset/template/soil.xlsx" download="template-tho-nhuong.xlsx">Tải xuống</a>
                    </div>
                </div>
                 <div class="col-sm-2 col-xs-3 tem-file">
                    <img src="asset/image/xlsx.png" class="img-responsive img-thumbnail" style="width:100%" alt="Mẫu thực vật">
                    <div class="tem-file-title">
                        <p>Thực vật</p>
                        <a href="asset/template/veg.xlsx" download="template-thuc-vat.xlsx">Tải xuống</a>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 15px;">
                <h3 class="panel-title">Phần mềm được xây dựng và thiết kế theo chuẩn MVC dựa trên Nodejs phía server và Angularjs phía client. Hướng dẫn sử dụng có thể xem <center><a href="asset/document/Huong-dan-nhap-lieu.pdf" download="Huong-dan-nhap-lieu.pdf">tại đây</a></center></h3>
            </div>
        </div>
    </div>
</div>
