<style>
	footer {
		/* margin-top: 5px; */
		background-color: #333;
		padding: 30px 0;
		color: white;
		position: absolute; 
		width: 100%;
	}
	.footer-content {
		display: flex;
    	justify-content:space-between; 
	}
</style>
<div class="clear"></div>
<footer>
	<div class="container">
		<div class="footer-content">
			<div class="col-md-4 col-xs-12">
				<p>{{"footer.lienHe" | translate }}</p>
				<p>{{"footer.diaChi" | translate }}</p>
				<p>{{"footer.dienThoai" | translate }}: (+84-24) 3756 8328 - Fax: (+84-24) 3756 8328</p>
				<p>Email: vnmn@vnmn.vast.vn - Facebook: www.facebook.com/baotangthiennhien/</p>
			</div>
			<div class="col-md-4 col-xs-12 text-center">
				<img src="asset/image/logo.png" />
				<br>
				<p style="text-transform: uppercase;">{{"tenBaoTang" | translate }}</p>
			</div>
		</div>
	</div>
</footer>