<style>
    #header {
        width: 100%;
        /* background-color: gray; */
        background-image: url("asset/image/header-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .img {
        width: 100%;
        height: 180px !important;
    }

    .caption {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div id="header" class="jumbotron">
    <div class="container">
        <h2>{{"tieude" | translate }}</h2>
         <h3>{{"tieudecon" | translate }}</h3>
         <!-- <div style="padding: 10px"></div> -->
    </div>
</div>
<div class="container content">
    <div class="row">
        <div ng-repeat="img in images" class="col-md-3 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a ng-href="{{img.url + '?display=html'}}" title="{{img.caption}}">
                    <img ng-src="{{img.imgUrl + '?dim=290'}}" alt="{{img.caption}}" class="img">
                </a>
                <div class="caption">
                    <p>{{img.caption}}</p>
                </div>
            </div>
        </div>
    </div>