<link rel="stylesheet" type="text/css" href="asset/css/search.css">
<!-- <link rel="stylesheet" type="text/css" href="asset/js/angularjs-slider/rzslider.css"> -->
<div class="wrapper" ng-controller="SearchController">
	<nav id="sidebar">
		<div class="sidebar-header">
			<form role="search">
				<div class="input-group">
					<input type="text" class="search-input" ng-model="searchContent.q" placeholder="Tìm kiếm...">
					<span class="input-group-btn">
						<a ui-sref="tim-kiem" ng-click="searchSample()" class="btn btn-default">
							<span class=" glyphicon glyphicon-search "></span>
						</a>
					</span>
				</div>
			</form>
		</div>

	  	<div class="panel-group" id="accordion" style="margin-bottom: 50px;">
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion1" href=".collapse1">Nhóm mẫu vật</a>
					</h4>
			  	</div>
			  	<div id="collapse1" class="collapse1 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="checkbox" name="model" id="cosinh" ng-click="sampleClick('Cổ sinh')" ng-model="searchSample.cosinh" value="co-sinh"> Cổ sinh<br>
							<input type="checkbox" name="model" id="diachat" ng-click="sampleClick('Địa chất')" ng-model="searchSample.diachat" value="dia-chat"> Địa chất<br>
							<input type="checkbox" name="model" id="dongvat" ng-click="sampleClick('Động vật')" ng-model="searchSample.dongvat" value="dong-vat"> Động vật<br>
							<input type="checkbox" name="model" id="thonhuong" ng-click="sampleClick('Thổ nhưỡng')" ng-model="searchSample.thonhuong" value="tho-nhuong"> Thổ nhưỡng<br>
							<input type="checkbox" name="model" id="thucvat" ng-click="sampleClick('Thực vật')" ng-model="searchSample.thucvat" value="thuc-vat"> Thực vật<br>
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion2" href=".collapse2">Số hiệu BTTNVN</a>
					</h4>
			  	</div>
			  	<div id="collapse2" class="collapse2 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.soHieuBTTNVN" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion3" href=".collapse3">Số hiệu bảo tàng cơ sở</a>
					</h4>
			  	</div>
			  	<div id="collapse3" class="collapse3 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.soHieuBaoTangCS" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion4" href=".collapse4">Số hiệu thực địa</a>
					</h4>
			  	</div>
			  	<div id="collapse4" class="collapse4 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.soHieuThucDia" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion5" href=".collapse5">Tên khoa học</a>
					</h4>
			  	</div>
			  	<div id="collapse5" class="collapse5 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.tenDongNghia" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion6" href=".collapse6">Người định tên</a>
					</h4>
			  	</div>
			  	<div id="collapse6" class="collapse6 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.nguoiDinhTen" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion7" href=".collapse7">Năm định tên</a>
					</h4>
			  	</div>
			  	<div id="collapse7" class="collapse7 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<!-- <b>1000</b> <input id="ex2" type="text" class="" value="" data-slider-min="1000" data-slider-max="3000" data-slider-step="1" data-slider-value="[1000,2017]"/> <b>3000</b> -->
							<!-- <div id="slider-range"></div> -->
							 <!-- <input type="text" id="amount" ng-model="searchContent.ngayDinhTen" ng-change="yearChange()" style="border: 0px; color:#f6931f; font-weight:bold;"> -->
							<!-- <div id="slider-range"></div> -->
                            <div class="form-group">
                                <label for="start">Từ:</label>
                                <input type="number" class="form-control" ng-model="startYearNDT" ng-change="ndtChange()" id="startTGTM" placeholder="1000" name="startTGTM">
                            </div>
                            <div class="form-group">
                                <label for="stop">đến:</label>
                                <input type="number" class="form-control" ng-model="stopYearNDT" ng-change="ndtChange()" id="stopTGTM" placeholder="2017" name="stopTGTM">
                            </div>
                            <!-- <button type="submit" class="btn btn-default">Tìm kiếm</button> -->
							<!-- <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" ng-model="searchContent.ngayDinhTen" ng-change="yearChange()" rz-slider-options="minRangeSlider.options"></rzslider> -->
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion8" href=".collapse8">Tên Việt Nam</a>
					</h4>
			  	</div>
			  	<div id="collapse8" class="collapse8 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.tenVietNam" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion9" href=".collapse9">Tên địa phương</a>
					</h4>
			  	</div>
			  	<div id="collapse9" class="collapse9 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchContent()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.tenDiaPhuong" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion10" href=".collapse10">Tên Tiếng Anh</a>
					</h4>
			  	</div>
			  	<div id="collapse10" class="collapse10 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.tenTiengAnh" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion11" href=".collapse11">Địa điểm thu mẫu</a>
					</h4>
			  	</div>
			  	<div id="collapse11" class="collapse11 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							{{"ani.quocGia" | translate }}: 
							<input type="text" list="quocGia" class="input-form form-control" ng-model="searchContent.quocGia" title="{{tooltips['quocGia']}}" name="quocGia">
						</form>
						<form ng-submit="searchSample()">
							{{"ani.tinh" | translate }}: 
							<input type="text" class="input-form form-control" ng-model="searchContent.tinh" title="{{tooltips['tinh']}}" name="tinh">
						</form>
						<form ng-submit="searchSample()">
							{{"ani.huyen" | translate }}:
							<input type="text" class="input-form form-control" title="{{tooltips['huyen']}}" name="huyen" ng-model= "searchContent.huyen">
						</form>
						<form ng-submit="searchSample()">
							{{"ani.xa" | translate }}: 
							<input type="text" class="input-form form-control" ng-model="searchContent.xa" title="{{tooltips['xa']}}" name="xa">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion12" href=".collapse12" ng-click="openmap()">Vị trí tọa độ</a>
					</h4>
			  	</div>
			  	<div id="collapse12" class="collapse12 panel-collapse collapse">
					<div class="panel-body" style="padding: 0px;">
						<leaflet lf-center="map.center" lf-draw="map.drawOptions" layers="map.layers" watch-options='map.watchOptions' defaults="defaults"  height="200px" width="100%">
						</leaflet>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion13" href=".collapse13">Năm thu mẫu</a>
					</h4>
			  	</div>
			  	<div id="collapse13" class="collapse13 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<!-- <input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.thoiGianThuMau" class="input-form-search"> -->
							<div class="form-group">
                                <label for="start">Từ:</label>
                                <input type="number" class="form-control" ng-model="startYearTGTM" ng-change="tgtmChange()" id="startTGTM" placeholder="1000" name="startTGTM">
                            </div>
                            <div class="form-group">
                                <label for="stop">đến:</label>
                                <input type="number" class="form-control" ng-model="stopYearTGTM" ng-change="tgtmChange()" id="stopTGTM" placeholder="2017" name="stopTGTM">
                            </div>
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion14" href=".collapse14">Người thu mẫu</a>
					</h4>
			  	</div>
			  	<div id="collapse14" class="collapse14 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.nguoiThuMau" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion15" href=".collapse15">Nơi lưu giữ mẫu</a>
					</h4>
			  	</div>
			  	<div id="collapse15" class="collapse15 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.noiLuuTruMau" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h4 class="panel-title">
				  		<a data-toggle="collapse" data-parent="#accordion16" href=".collapse16">Người lập phiếu MV</a>
					</h4>
			  	</div>
			  	<div id="collapse16" class="collapse16 panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="searchSample()">
							<input type="text" placeholder="Tìm kiếm" name="" ng-model="searchContent.nguoiLapPhieuMauVat" class="input-form-search">
						</form>
					</div>
			  	</div>
			</div>
	  	</div>
        <!-- <div ></div> -->
	</nav>

	<!-- Page Content Holder -->
	<div id="content">
		<div id="download-progress-bar-container" style="margin-bottom: 10px; margin-top: 20px; margin-left: 0px; display: none">
			<div class="container-fluid" style="padding-left: 0px;">
				<div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
					<div id="circle-progress"></div>
				</div>
				<div class="col-lg-10 col-md-10 col-xs-12 col-sm-10">
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
							aria-valuemax="100" style="width:100%" id="download-progress-bar">
							70%
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar1 navbar-default">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" id="sidebarCollapse" class="btn btn-info navbar1-btn">
						<i class="glyphicon glyphicon-align-left"></i>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<center>
						<h3>Kết quả tìm kiếm | {{searchResult}}</h3>
					</center>
				</div>
			</div>
		</nav>
		<table>
			<col width="120">
			<col width="250">
			<thread>
				<tr>
					<th>
						Xem 
						<select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
							<option value="3">3</option>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select> mẫu.
					</th>
					<th>
						<button class="btn btn-sm btn-success" style="cursor: pointer; float: right; border-radius: 0px;" ng-click="selectAll()"><span class="glyphicons glyphicons-ok"></span> Select all</button>

						<div class="dropdown" style="float: right;">
							<button class="btn btn-sm btn-primary" style="border-radius: 0px;"><span class="glyphicon glyphicon-export"></span> Trích xuất <b class="caret"></b></button>
							<!-- <input type="hidden" name="link" ng-bind="link" id="input" class="form-control" value=""> -->
							<div class="dropdown-content">
									<a ng-click="export('pdf')"><span class="glyphicon glyphicon-download"></span> Xuất pdf</a>
									<a ng-click="export('docx')"><span class="glyphicon glyphicon-download"></span> Xuất docx</a>
									<a ng-click="export('zip')"><span class="glyphicon glyphicon-download"></span> Xuất zip</a>
							</div>
						</div>
					</th>
				</tr>
			</thread>
		</table>
		<div class="table-scroll">
			<table id="managerpost" class="table table-hover table-bordered">
				<col width="130">
				<col width="130">
				<col width="130">
				<col width="150">
				<col width="130">
				<col width="130">
				<col width="130">
				<col width="130">
				<col width="130">
				<col width="150">
				<col width="130">
				<col width="130">
				<col width="130">
				<col width="130">
				<col width="160">
				<col width="130">
				<col width="130">
				<thead>
					<tr>
						<th ng-click="sort('tenVietNam')" style="cursor: pointer;">
							Tên Việt Nam
							<span ng-show="sortKey == 'tenVietNam' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'tenVietNam' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('soHieuBTTNVN')" style="cursor: pointer;">
							Số hiệu BTTNVN
							<span ng-show="sortKey == 'soHieuBTTNVN' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'soHieuBTTNVN' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('soHieuBaoTangCS')" style="cursor: pointer;">
							Số hiệu BTCS
							<span ng-show="sortKey == 'soHieuBaoTangCS' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'soHieuBaoTangCS' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('soHieuThucDia')" style="cursor: pointer;">
							Số hiệu thực địa
							<span ng-show="sortKey == 'soHieuThucDia' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'soHieuThucDia' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('model')" style="cursor: pointer;">
							Loại mẫu
							<span ng-show="sortKey == 'model' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'model' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('nguoiDinhTen')" style="cursor: pointer;">
							Người định tên
							<span ng-show="sortKey == 'nguoiDinhTen' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'nguoiDinhTen' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('ngayDinhTen')" style="cursor: pointer;">
							Ngày định tên
							<span ng-show="sortKey == 'ngayDinhTen' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'ngayDinhTen' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('tenDiaPhuong')" style="cursor: pointer;">
							Tên địa phương
							<span ng-show="sortKey == 'tenDiaPhuong' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'tenDiaPhuong' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('tenTiengAnh')" style="cursor: pointer;">
							Tên tiếng Anh
							<span ng-show="sortKey == 'tenTiengAnh' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'tenTiengAnh' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('thoiGianThuMau')" style="cursor: pointer;">
							Thời gian thu mẫu
							<span ng-show="sortKey == 'thoiGianThuMau' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'thoiGianThuMau' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('nguoiThuMau')" style="cursor: pointer;">
							Người thu mẫu
							<span ng-show="sortKey == 'nguoiThuMau' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'nguoiThuMau' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('quocGia')" style="cursor: pointer;">
							Quốc gia
							<span ng-show="sortKey == 'quocGia' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'quocGia' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('viTriToaDo')" style="cursor: pointer;">
							Vị trí tọa độ
							<span ng-show="sortKey == 'viTriToaDo' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'viTriToaDo' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('noiLuuTruMau')" style="cursor: pointer;">
							Nơi lưu giữ mẫu
							<span ng-show="sortKey == 'noiLuuTruMau' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'noiLuuTruMau' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('nguoiLapPhieuMauVat')" style="cursor: pointer;">
							Người lập phiếu MV
							<span ng-show="sortKey == 'nguoiLapPhieuMauVat' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'nguoiLapPhieuMauVat' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('created_at')" style="cursor: pointer;">
							Ngày đăng
							<span ng-show="sortKey == 'created_at' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'created_at' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th ng-click="sort('fApproved')" style="cursor: pointer;">
							Trạng thái
							<span ng-show="sortKey == 'fApproved' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortKey == 'fApproved' && sortReverse" class="fa fa-caret-up"></span>
						</th>
					</tr>
				</thead>
				<tbody class="search-table-body">
					<tr dir-paginate="(key, post) in data | orderBy:sortKey:sortReverse | filter:searchData|itemsPerPage:viewby" current-page="currentPage">
						<td>
							<input type="checkbox" class="check-box" style="margin: 0px;" ng-model="post.selected" data-id='/content/{{modelMapping[post.model]}}/{{post._id}}?display='>
							<a class="tenvietnam" style="text-decoration: none" href="/content/{{modelMapping[post.model]}}/{{post._id}}?display=html">{{post.tenVietNam ? post.tenVietNam : "Mẫu vật"}}</a>
						</td>
						<td>
							{{post.soHieuBTTNVN}}
						</td>
						<td>
							{{post.soHieuBaoTangCS}}
						</td>
						<td>
							{{post.soHieuThucDia}}
						</td>
						<td>
							{{post.model}}
						</td>
						<td>
							{{post.nguoiDinhTen}}
						</td>
						<td>
							{{post.ngayDinhTen | date: "yyyy-MM-dd" }}
						</td>
						<td>
							{{post.tenDiaPhuong}}
						</td>
						<td>
							{{post.tenTiengAnh}}
						</td>
						<td>
							{{post.thoiGianThuMau | date: "yyyy-MM-dd"}}
						</td>
						<td>
							{{post.nguoiThuMau}}
						</td>
						<td>
							{{post.quocGia}}
						</td>
						<td>
							{{post.kinhDo +", "+ post.viDo}}
						</td>
						<td>
							{{post.noiLuuTruMau}}
						</td>
						<td>
							{{post.nguoiLapPhieuMauVat}}
						</td>
						<td>
							{{post.created_at | date: "yyyy-MM-dd"}}
						</td>
						<td>
							<label class="label label-{{post.fApproved ? 'success' : 'warning'}}">{{post.fApproved ? ' Đã phê duyệt' : ' Chưa phê duyệt'}}</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<dir-pagination-controls
			max-size="5"
			direction-links="true"
			boundary-links="true" >
		</dir-pagination-controls>
	</div>
</div>
<script src="/javascripts/FileSaver.js"></script>
<script src="/javascripts/circle-progress/circle-progress.min.js"></script>
<!-- <script type="text/javascript" src="asset/js/Bootstrap-slider/bootstrap-slider.js"></script> -->
 <script type="text/javascript">
	$(document).ready(function () {
		// fit height screen browser
		// $('#sidebar').css({ height: $(window).innerHeight() })

		$('#sidebarCollapse').on('click', function () {
			$('#sidebar').toggleClass('active');
			if ($('#sidebar').hasClass('active')) {
				$('.table-scroll').css('max-width', '100%');
			} else {
				$('.table-scroll').css('max-width', '80%');
			}
		});

		// $("#ex2").bootstrapSlider({});

		// $("#slider-range").slider({
	 //      	orientation: "horizontal",
	 //      	range: true,
	 //      	max: 3000, 
	 //      	min: 1000,
	 //      	values: [1000, 2017],
	 //      	slide: function(event, ui) {
	 //        	$("#amount").val(ui.values[0] + "," + ui.values[1]);
	 //        }
	 //    });
	 //    $("#amount").val($("#slider-range").slider("values", 0) + "," + $("#slider-range").slider("values",1)).trigger('input');
	});
 </script>
