<!-- <div id="loading-bar-container"></div> -->
<div style="margin-top: 60px;" bs-loading-overlay bs-loading-overlay-delay="200">
	<form id="form-content" name="FormContent" ng-submit="addPost(FormContent, form)" novalidate>
		<center><h2>Thêm mẫu dữ liệu động vật</h2></center>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<tr>
				<td><label >Mã đề tài <span class="has-required"> (*)</span>: </label></td>
				<td>
					<input type="text" name="maDeTai" disabled="true" ng-model="data.maDeTai" class="input-form" required>
				</td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">SỐ HIỆU</h3>
			<tr>
				<td><label>01. Số hiệu BTTNVN:</label></td>
				<td><input type="text" title="{{tooltips['soHieuBTTNVN']}}" name="soHieuBTTNVN" ng-model="data.soHieuBTTNVN" class="input-form"></td>
			</tr>
			
			<tr>
				<td><label>02. Số hiệu bảo tàng cơ sở <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" title="{{tooltips['soHieuBaoTangCS']}}" name="soHieuBaoTangCS" ng-model="data.soHieuBaoTangCS" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>03. Số hiệu thực địa <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" title="{{tooltips['soHieuThucDia']}}" name="soHieuThucDia" ng-model="data.soHieuThucDia" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>04. Các kí hiệu mẫu vật khác:</label></td>
				<td><input type="text" ng-model="data.kyHieuMauVatKhac" title="{{tooltips['kyHieuMauVatKhac']}}" name="kyHieuMauVatKhac" class="input-form"></td>
			</tr>
			<tr>
				<td><label>05. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips['thongTinKhac1']}}" name="thongTinKhac1" ng-model="data.thongTinKhac1" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">TÊN MẪU</h3>
			<tr><td><label>06. Tên khoa học (tên latin)</label></td></tr>
			<tr>
				<td>Tên đồng nghĩa: </td>
				<td><input type="text" id="tenDongNghia" ng-model="data.tenDongNghia" title="{{tooltips['tenDongNghia']}}" name="tenDongNghia" class="input-form"></td>
			</tr>
			<tr>
				<td>Giới: </td>
				<td><input type="text" id="gioi" ng-model="data.gioi" title="{{tooltips['gioi']}}" name="gioi" class="input-form"></td>
			</tr>
					<tr>
				<td>Ngành: </td>
				<td><input type="text" id="nganh" ng-model="data.nganh" title="{{tooltips['nganh']}}" name="nganh" class="input-form"></td>
			</tr>
			<tr>
				<td>Lớp<span class="has-required"> (*)</span>: </td>
				<td><input type="text" id="lop" ng-model="data.lop" title="{{tooltips['lop']}}" name="lop" class="input-form" required></td>
			</tr>
			<tr>
				<td>Phân lớp: </td>
				<td><input type="text" id="phanLop" ng-model="data.phanLop" title="{{tooltips['phanLop']}}" name="phanLop" class="input-form"></td>
			</tr>
			<tr>
				<td>Bộ<span class="has-required"> (*)</span>: </td>
				<td><input type="text" id="bo" ng-model="data.bo" title="{{tooltips['bo']}}" name="bo" class="input-form" required</td>
			</tr>
			<tr>
				<td>Phân bộ: </td>
				<td><input type="text" id="phanBo" ng-model="data.phanBo" title="{{tooltips['phanBo']}}" name="phanBo" class="input-form"></td>
			</tr>
			<tr>
				<td>Liên họ: </td>
				<td><input type="text" id="lienHo" ng-model="data.lienHo" title="{{tooltips['lienHo']}}" name="lienHo" class="input-form"></td>
			</tr>
			<tr>
				<td>Họ<span class="has-required"> (*)</span>: </td>
				<td><input type="text" id="ho" ng-model="data.ho" title="{{tooltips['ho']}}" name="ho" class="input-form" required></td>
			</tr>
			<tr>
				<td>Phân họ: </td>
				<td><input type="text" id="phanHo" ng-model="data.phanHo" title="{{tooltips['phanHo']}}" name="phanHo" class="input-form"></td>
			</tr>
			<tr>
				<td>Tộc: </td>
				<td><input type="text" title="{{tooltips['toc']}}" name="toc" ng-model="data.toc" id="toc" class="input-form"></td>
			</tr>
			<tr>
				<td>Giống<span class="has-required"> (*)</span>: </td>
				<td><input type="text" title="{{tooltips['chiGiong']}}" name="chiGiong" ng-model="data.chiGiong" id="chiGiong" class="input-form" required></td>
			</tr>
			<tr>
				<td>Phân giống: </td>
				<td><input type="text" title="{{tooltips['phanChiPhanGiong']}}" name="phanChiPhanGiong" ng-model="data.phanChiPhanGiong" id="phanChiPhanGiong" class="input-form" required></td>
			</tr>
			<tr>
				<td>Loài: </td>
				<td><input type="text" id="loai" ng-model="data.loai" class="input-form" title="{{tooltips['loai']}}" name="loai"></td>
			</tr>
			<tr>
				<td>Dưới loài/phân loài: </td>
				<td><input type="text" id="duoiLoai" ng-model="data.duoiLoai" title="{{tooltips['duoiLoai']}}" name="duoiLoai" class="input-form"></td>
			</tr>
			<tr>
				<td><label>07. Người định tên: </label></td>
				<td><input type="text" ng-model="data.nguoiDinhTen" title="{{tooltips['nguoiDinhTen']}}" name="nguoiDinhTen" class="input-form"></td>
			</tr>
			<tr>
				<td><label>08. Ngày định tên: </label></td>
				<td><input type="text" title="{{tooltips['ngayDinhTen']}}" name="ngayDinhTen" ng-model="data.ngayDinhTen" class="input-form datepicker"></td>
			</tr>
			<tr>
				<td><label>09. Tên Việt Nam (phổ thông) <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" title="{{tooltips['tenVietNam']}}" name="tenVietNam" ng-model="data.tenVietNam" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>10. Tên địa phương:</label></td>
				<td><input type="text" title="{{tooltips['tenDiaPhuong']}}" name="tenDiaPhuong" ng-model="data.tenDiaPhuong" class="input-form"></td>
			</tr>
			<tr>
				<td><label>11. Tên Tiếng Anh:</label></td>
				<td><input type="text" title="{{tooltips['tenTiengAnh']}}" name="tenTiengAnh" ng-model="data.tenTiengAnh" class="input-form"></td>
			</tr>
			<tr>
				<td><label>12. Tên theo hệ thống PL của bảo tàng:</label></td>
				<td><input type="text" title="{{tooltips['tenTheoBaoTang']}}" name="tenTheoBaoTang" ng-model="data.tenTheoBaoTang" class="input-form"></td>
			</tr>
			<tr>
				<td><label>13. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac2" title="{{tooltips['thongTinKhac2']}}" name="thongTinKhac2" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">SỐ LƯỢNG VÀ CHẤT LƯỢNG MẪU VẬT</h3>
			<tr>
				<td><label>14. Số lượng tiêu bản:</label></td>
				<td><input type="number" min="0" ng-model="data.soLuongTieuBan" title="{{tooltips['soLuongTieuBan']}}" name="soLuongTieuBan" class="input-form"></td>
			</tr>
			<tr>
				<td><label>15. Loại mẫu vật<span class="has-required"> (*)</span>:</label></td>
				<td>
					<input type="text" title="{{tooltips['loaiMauVat']}}" name="loaiMauVat" class="input-form flexdatalist flexdatalist-force" data-min-length='0' multiple='multiple' ng-model="data.loaiMauVat" list="loaiMauVat"> 
					<datalist id="loaiMauVat">
						<option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
						<option value="Mẫu trưng bày">Mẫu trưng bày</option>
						<option value="Mẫu type">Mẫu type</option>
					</datalist>
				</td>
				
			</tr>
			<tr><td><label>16. Kích thước mẫu vật<span class="has-required"> (*)</span>:</label></td></tr>
			<tr>
				<td>
					<table style="margin-left: 7px;">
						<tr>
						<td><span>Chiều cao: </span></td>
							<td>
								<span class="box">
								 <input type="text" title="{{tooltips['chieuCao']}}" name="chieuCao" ng-model="data.chieuCao" class="datatext" id="datatext">
								 <select class="contentselect" ng-model="data.donVi_chieuCao" name="donVi_chieuCao">
									 <option value="mm">mm</option>
									 <option value="cm">cm</option>
									 <option value="m">m</option>
								 </select>
								</span>
							</td>
						</tr>
						<tr>
							<td><span>Chiều rộng: </span></td>
							<td>
								<span class="box">
								 <input type="text" title="{{tooltips['chieuRong']}}" name="chieuRong" ng-model="data.chieuRong" class="datatext" id="datatext">
								 <select class="contentselect" ng-model="data.donVi_chieuRong" ng-model="data.chieuCao" name="donVi_chieuRong">
									 <option value="mm">mm</option>
									 <option value="cm">cm</option>
									 <option value="m">m</option>
								 </select>
								</span>
							</td>
						</tr>
					
						<tr>
							<td><span>Chiều dài: </span></td>
							<td>
								<span class="box">
								 <input type="text" title="{{tooltips['chieuDai']}}" name="chieuDai" ng-model="data.chieuDai" class="datatext" id="datatext">
								 <select class="contentselect" ng-model="data.donVi_chieuDai" name="donVi_chieuDai">
									 <option value="mm">mm</option>
									 <option value="cm">cm</option>
									 <option value="m">m</option>
								 </select>
								</span>
							</td>
						</tr>
						<tr>
							<td><span>Trọng lượng: </span></td>
							<td>
								<span class="box">
								 <input type="text" title="{{tooltips['trongLuong']}}" name="trongLuong" ng-model="data.trongLuong" class="datatext" id="datatext">
								 <select class="contentselect" ng-model="data.donVi_trongLuong" name="donVi_trongLuong">
										<option value="mg">mg</option>
										<option value="g">g</option>
										<option value="kg">kg</option>
								 </select>
								</span>
							</td>
						</tr>
					
						<tr>		
							<td><span>Thể tích</span></td>
							<td>
								<span class="box">
								 <input type="text" title="{{tooltips['theTich']}}" name="theTich" class="datatext" ng-model="data.theTich" id="datatext">
								 <select class="contentselect" ng-model="data.donVi_theTich" name="donVi_theTich">
									 <option value="ml">ml</option>
									 <option value="l">l</option>
								 </select>
								</span>
							</td>
						</tr>						
					</table>
				</td>
			</tr>
			<tr>
				<td><label>17. Tình trạng mẫu <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.tinhTrangMau" title="{{tooltips['tinhTrangMau']}}" name="tinhTrangMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>18. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac3" title="{{tooltips['thongTinKhac3']}}" name="thongTinKhac3" class="input-form"></td>
			</tr>	
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU THU MẪU</h3>
			<tr>
				<td><label>19. Thời gian thu mẫu <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.thoiGianThuMau" title="{{tooltips['thoiGianThuMau']}}" name="thoiGianThuMau" class="input-form datepicker" required></td>
			</tr>
			<tr>
				<td><label>20. Người thu mẫu <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.nguoiThuMau" title="{{tooltips['nguoiThuMau']}}" name="nguoiThuMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>21. Cơ quan thu mẫu: </label></td>
				<td><input type="text" id="coQuanThuMau" ng-model="data.coQuanThuMau" title="{{tooltips['coQuanThuMau']}}" name="coQuanThuMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>22. Phương pháp thu mẫu <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.phuongPhapThuMau" title="{{tooltips['phuongPhapThuMau']}}" name="phuongPhapThuMau" class="input-form" required></td>
			</tr>
			<tr><td><label>23. Địa điểm thu mẫu: </label></td></tr>
			<tr>
				<td ng-controller="PlaceController">
					<table>
						<tr>
							<td>Vị trí: </td>
							<td>
								<input type="radio" name="fDiaDiemThuMau" value="dat-lien" ng-model="datLien" ng-checked="true" ng-click="showstar()" id="datLien"> Trên đất liền 
								<input type="radio" name="fDiaDiemThuMau" value="bien" id="trenBien" ng-click="hidestar()" ng-model="trenBien"> Trên đảo
							</td>
						</tr>
						<tr>
							<td>Quốc gia<span class="has-required"> (*)</span>: </td>
							<td>
								<input type="text" list="quocGia" class="input-form flexdatalist" data-min-length='0' ng-model="data.quocGia" ng-change="countryChange()" title="{{tooltips['quocGia']}}" name="quocGia">
								<datalist id="quocGia">
									<option value="Việt Nam">Việt Nam</option>
								</datalist>
							</td>
						</tr>
						<tr>
							<td>Tỉnh/Thành phố<span ng-show="star" class="has-required"> (*)</span>: </td>
							<td>
								<input type="text" list="tinh" class="input-form flexdatalist" ng-model="data.tinh" ng-change="cityChange()" data-min-length='0' title="{{tooltips['tinh']}}" name="tinh"> 
								<datalist id="tinh">
									<option ng-repeat="city in cities | orderBy: 'name'" id="{{city.name}}" value="{{city.id}}">{{city.name}}</option>
								</datalist>
								<!-- {{tinh}} -->
							</td>
						</tr>
						<tr>
							<td>Huyện<span ng-show="star" class="has-required"> (*)</span>:</td>
							<td>
								<input type="text" class="input-form flexdatalist" title="{{tooltips['huyen']}}" id="render_districts" name="huyen" list="huyen" required ng-model= "data.huyen" ng-change="districtChange()">
								<datalist id="huyen">
									<option ng-repeat="district in districts | customCity: id_tinh | orderBy: 'name'" id="{{district.name}}" value="{{district.id}}">{{district.name}}</option>
								</datalist>
							</td>
						</tr>
						<tr>
							<td>Xã<span ng-show="star" class="has-required"> (*)</span>: </td>
							<td>
								<input type="text" class="input-form flexdatalist" ng-model="data.xa" id="render_wards" title="{{tooltips['xa']}}" name="xa" list="xa" required>
								<datalist id="xa">
									<option ng-repeat="ward in wards | customDistrict: id_huyen | orderBy:'name'" value="{{ward.id}}">{{ward.name}}</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Thôn/Xóm: </td>
							<td><input type="text" ng-model="data.thon" title="{{tooltips['thon']}}" name="thon" id="thon" class="input-form"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<label>24. Vị trí tọa độ theo hệ tọa độ Việt Nam 2000: </label>
					<input type="radio" name="fViTriToaDo" ng-checked="'true'" value="true" ng-click="dms()"><span class="label label-default"> DMS</span>
					<input type="radio" name="fViTriToaDo" value="false" ng-click="dd()"><span class="label label-default"> DD</span>
				</td>
			</tr>
			<tr>
				<td>Vĩ độ N <span class="has-required">(*)</span>:</td>
				<td>
					<input type="text" id="dms" ng-init="showCoor = 'false'; data.viDo=''" ng-show="!showCoor" title="{{tooltips['viDo']}}" name="viDo" ng-model="data.viDo" class="input-form" required>
					<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['viDo']}}">
						<input type="number" step="1" ng-model= "vido_do" ng-change="latChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> độ
						<input type="number" step="1" ng-model= "vido_phut" ng-change="latChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> phút
						<input type="number" step="1" ng-model= "vido_giay" ng-change="latChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> giây
					</div>
				</td>
			</tr>
			<tr>
				<td>Kinh độ E <span class="has-required">(*)</span>:</td>
				<td>
					<input type="text" id="dms" ng-show="!showCoor" title="{{tooltips['kinhDo']}}" name="kinhDo" ng-model="data.kinhDo" class="input-form" required>
					<div id="dd" ng-show="showCoor" style="margin-top: 5px;" title="{{tooltips['kinhDo']}}">
						<input type="number" step="1" ng-model="kinhdo_do" ng-change="lonChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> độ
						<input type="number" step="1" ng-model="kinhdo_phut" ng-change="lonChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> phút
						<input type="number" step="1" ng-model="kinhdo_giay" ng-change="lonChange()" style="width: 40px; border-width: 1px; border-radius: 3px;" name=""> giây
					</div>
				</td>
			</tr>

			<tr>
				<td><label>25. Độ cao (m) <span class="has-required"> (*)</span>: </label></td>
				<td><input type="number" min="0" ng-model="data.doCao" title="{{tooltips['doCao']}}" name="doCao" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>26. Độ sâu (m):</label></td>
				<td><input type="number" min="0" ng-model="data.doSau" title="{{tooltips['doSau']}}" name="doSau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>27. Vùng biển:</label></td>
				<td><input type="text" ng-model="data.vungBien" title="{{tooltips['vungBien']}}" name="vungBien" class="input-form"></td>
			</tr>
			<tr>
				<td><label>28. Sinh học/sinh thái:</label></td>
				<td><input type="text" ng-model="data.sinhHoc" title="{{tooltips['sinhHoc']}}" name="sinhHoc" class="input-form"></td>
			</tr>
			<tr>
				<td><label>29. Thông tin về Dự án, đề tài/chuyến/đợt thu thập mẫu vật<span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.thongTinDuAn" title="{{tooltips['thongTinDuAn']}}" name="thongTinDuAn" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>30. Ghi chép thực địa<span class="has-required"> (*)</span>:</label></td>
				<td><textarea ng-model="data.ghiChepThucDia" title="{{tooltips['ghiChepThucDia']}}" name="ghiChepThucDia" class="input-form" rows="3" required></textarea></td>
			</tr>
			<tr>
				<td><label>31. Bản đồ:</label></td>
				<td>
					<input type="file" multiple id="banDo" accept=".zip, .rar" name="banDo" ng-model="data.banDo" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="banDo" title="{{tooltips['banDo']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>32. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac4" title="{{tooltips['thongTinKhac4']}}" name="thongTinKhac4" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU PHÂN TÍCH MẪU</h3>
			<tr>
				<td><label>33. Thời gian phân tích/giám định/định loại mẫu:</label></td>
				<td><input type="text" ng-model="data.thoiGianGiamDinh" title="{{tooltips['thoiGianGiamDinh']}}" name="thoiGianGiamDinh" class="input-form datepicker"></td>
			</tr>
			<tr>
				<td><label>34. Người phân tích/giám định/định loại mẫu <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.nguoiGiamDinh" title="{{tooltips['nguoiGiamDinh']}}" name="nguoiGiamDinh" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>35. Cơ quan/tổ chức phân tích/giám định/phân loại mẫu <span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.coQuanToChucGiamDinh" title="{{tooltips['coQuanToChucGiamDinh']}}" name="coQuanToChucGiamDinh" id="coQuanToChucGiamDinh" class="input-form" required></td>
			</tr>
			<tr><td><label>36. Tài liệu phân tích/giám định/phân loại đi kèm <span class="has-required"> (*)</span>:</label></td></tr>
			<tr>
				<td>
					<input type="text" ng-model="data.taiLieuPhanTichStr" title="{{tooltips['taiLieuPhanTichStr']}}" name="taiLieuPhanTichStr" class="input-form" required>
				</td>
				<td>
					<input type="file" id="taiLieuPhanTichFile" multiple ng-model="data.taiLieuPhanTichFile" name="taiLieuPhanTichFile" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected" max-file-size="10" required>
					<label for="taiLieuPhanTichFile" title="{{tooltips['taiLieuPhanTichFile']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr><td><label>37. Mô tả/đặc điểm hình thái <span class="has-required"> (*)</span></label></td></tr>
			<tr>
				<td>
					<input type="text" title="{{tooltips['moTaHinhThaiStr']}}" ng-model="data.moTaHinhThaiStr" name ="moTaHinhThaiStr" class="input-form">		
				</td>
				<td>
					<input type="file" multiple id="moTaHinhThaiFile" accept=".docx, .doc, .pdf" ng-model="data.moTaHinhThaiFile" name ="moTaHinhThaiFile" max-file-size="10" required class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="moTaHinhThaiFile" title="{{tooltips['moTaHinhThaiFile']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>38. Giới tính, giống: </label></td>
				<td>
					<select name="gioiTinh" title="{{tooltips['gioiTinh']}}" ng-model="data.gioiTinh" class="input-form">
						<option value="M">M (đực)</option>
						<option value="F">F (cái)</option>
						<option value="H">H (lưỡng tính)</option>
						<option value="I">I (không xác định)</option>
						<option value="U">U (không biết)</option>
						<option value="T">T (chuyển đổi)</option>
						<option value="B">B (cả đực và cái)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>39. Giai đoạn sống trong vòng đời: </label></td>
				<td><input type="text" title="{{tooltips['giaiDoanSong']}}" name ="giaiDoanSong" ng-model="data.giaiDoanSong" class="input-form"></td>
			</tr>
			<tr>
				<td><label>40. Hình vẽ:</label></td>
				<td>
					<input type="file" multiple ng-model="data.hinhVe" id="hinhVe" name="hinhVe" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
					<label for="hinhVe" title="{{tooltips['hinhVe']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>41. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac5" title="{{tooltips['thongTinKhac5']}}" name="thongTinKhac5" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">

		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU HÌNH ẢNH, PHIM, TÀI LIỆU MẪU VẬT</h3>
			<tr>
				<td><label>42. Ảnh mẫu vật<span class="has-required"> (*)</span>:</label></td>
				<td>
					<input type="file" multiple id="anhMauVat" ng-model="data.anhMauVat" name="anhMauVat" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="10" required>
					<label for="anhMauVat" title="{{tooltips['anhMauVat']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>43. Hình ảnh mẫu ngoài thực địa:</label></td>
				<td>
					<input type="file" multiple id="hinhAnhNgoaiThucDia" accept="image/*" max-file-size="10" ng-model="data.hinhAnhNgoaiThucDia" name="hinhAnhNgoaiThucDia" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="hinhAnhNgoaiThucDia" title="{{tooltips['hinhAnhNgoaiThucDia']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>44. Thông tin về phim, video: </label></td>
				<td>
					<input type="text" title="{{tooltips['videoStr']}}" name="videoStr" ng-model="data.videoStr" class="input-form" >
				</td>
				</tr>
			<tr>
				<td><label>45. Đính kèm phim, video:</label></td>
				<td>
					<input type="file" multiple accept="video/*" name ="videoFile" ng-model="data.videoFile" id="videoFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" max-file-size="100">
					<label for="videoFile" title="{{tooltips['videoFile']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr><td><label>46. Xử lý chế tác mẫu vật</label></td></tr>
			<tr>
				<td>Hình ảnh đính kèm Xử lý chế tác:</td>
				<td>
					<input type="file" multiple id="hinhAnhDinhKem" ng-model="data.hinhAnhDinhKem" name="hinhAnhDinhKem" accept="image/*" max-file-size="5" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="hinhAnhDinhKem" title="{{tooltips['hinhAnhDinhKem']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td>Đính kèm Xử lý chế tác:</td>
				<td>
					<input type="file" multiple ng-model="data.dinhKemXuLyCheTac" id="dinhKemXuLyCheTac" accept=".docx, .doc, .pdf" name="dinhKemXuLyCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="dinhKemXuLyCheTac" title="{{tooltips['dinhKemXuLyCheTac']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td>Thuộc tính Xử lý chế tác:</td>
				<td><input type="text" ng-model="data.thuocTinhXuLyCheTac" title="{{tooltips['thuocTinhXuLyCheTac']}}" name="thuocTinhXuLyCheTac" class="input-form"></td>
			</tr>
			<tr>
				<td>Phương thức xử lý chế tác:</td>
				<td><input type="text" ng-model="data.phuongThucXuLy" title="{{tooltips['phuongThucXuLy']}}" name="phuongThucXuLy" class="input-form"></td>
			</tr>
			<tr>
				<td>Thời gian xử lý chế tác:</td>
				<td><input type="text" title="{{tooltips['thoiGianXuLy']}}" name="thoiGianXuLy" ng-model="data.thoiGianXuLy" class="input-form datepicker"></td>
			</tr>
			<tr>
				<td>Người xử lý, chế tác:</td>
				<td><input type="text" ng-model="data.nguoiXuLy" title="{{tooltips['nguoiXuLy']}}" name="nguoiXuLy" class="input-form"></td>
			</tr>
			<tr>
				<td>Cơ quan xử lý, chế tác mẫu:</td>
				<td><input type="text" ng-model="data.coQuanXuLy" title="{{tooltips['coQuanXuLy']}}" name="coQuanXuLy" class="input-form" id="coQuanXuLy"></td>
			</tr>
			<tr>
				<td>Ảnh mẫu sau chế tác:</td>
				<td>
					<input type="file" id="anhMauSauCheTac" multiple ng-model="data.anhMauSauCheTac" name="anhMauSauCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="5">
					<label for="anhMauSauCheTac" title="{{tooltips['anhMauSauCheTac']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr><td><label>47. Thông tin DNA</label></td></tr>
			<tr>
				<td>Bộ phận lấy mẫu DNA (da, lông, máu, xương...):</td>
				<td><input type="text" ng-model="data.boPhanLayMauDNA" id="boPhanLayMauDNA" title="{{tooltips['boPhanLayMauDNA']}}" name="boPhanLayMauDNA" class="input-form"></td>
			</tr>
			<tr>
				<td>Trạng thái giữ mẫu DNA (khô, nước...):</td>
				<td><input type="text" ng-model="data.trangThaiGiuMauDNA" id="trangThaiGiuMauDNA" title="{{tooltips['trangThaiGiuMauDNA']}}" name="trangThaiGiuMauDNA" class="input-form"></td>
			</tr>
			<tr>
				<td>Vùng gen phân tích</td>
				<td><input type="text" ng-model="data.vungGenPhanTich" multiple title="{{tooltips['vungGenPhanTich']}}" name="vungGenPhanTich" class="input-form"></td>
			</tr>
			<tr>
				<td>Trình tự DNA</td>
				<td>
					<input type="file" multiple ng-model="data.dinhKemTrinhTuDNA" id="dinhKemTrinhTuDNA" name="dinhKemTrinhTuDNA" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected">
					<label for="dinhKemTrinhTuDNA" title="{{tooltips['dinhKemTrinhTuDNA']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td>Công bố/thông tin quốc tế (genbank...)</td>
				<td><input type="text" ng-model="data.congBoQuocTe" title="{{tooltips['congBoQuocTe']}}" name="congBoQuocTe" class="input-form"></td>
			</tr>
			<tr>
				<td><label>48. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac6" title="{{tooltips['thongTinKhac6']}}" name="thongTinKhac6" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">

		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU PHÂN BỐ VÀ GIÁ TRỊ SỬ DỤNG</h3>
			<tr>
				<td><label>49. Phân bố Việt Nam <span class="has-required"> (*)</span>:</label></td>
				<td>
				<table>
					<tr>
						<td><input type="text" ng-model="data.phanBoVietNamStr" class="input-form" title="{{tooltips['phanBoVietNamStr']}}" name="phanBoVietNamStr" required></td>
						<td>
							<input type="file" multiple ng-model="data.phanBoVietNamFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" id="phanBoVietNamFile" name ="phanBoVietNamFile">
							<label for="phanBoVietNamFile" title="{{tooltips['phanBoVietNamFile']}}"><span>No file chosen</span><strong>Choose file</strong></label>
						</td>
					</tr>
				</table>		
				</td>
			</tr>
			<tr>
				<td><label>50. Phân bố trên thế giới (nếu có):</label></td>
				<td>
					<table>
						<tr>
							<td><input type="text" ng-model="data.phanBoTrenTheGioiStr" title="{{tooltips['phanBoTrenTheGioiStr']}}" name="phanBoTrenTheGioiStr" class="input-form"></td>
							<td>
								<input type="file" id="phanBoTrenTheGioiFile" multiple ng-model="data.phanBoTrenTheGioiFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" name ="phanBoTrenTheGioiFile">
								<label for="phanBoTrenTheGioiFile" title="{{tooltips['phanBoTrenTheGioiFile']}}"><span>No file chosen</span><strong>Choose file</strong></label>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td><label>51. Giá trị sử dụng (tài nguyên)(nếu có):</label></td>
				<td>
					<input type="" id="giaTriSuDung" title="{{tooltips['giaTriSuDung']}}" name="giaTriSuDung" multiple='multiple' class="input-form flexdatalist" data-min-length='0' ng-model="data.giaTriSuDung">
				</td>
			</tr>
			<tr>
				<td><label>52. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac7" title="{{tooltips['thongTinKhac7']}}" name="thongTinKhac7" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU LƯU TRỮ, BẢO QUẢN MẪU</h3>
			<tr>
				<td><label>53. Ngày nhập mẫu: </label></td>
				<td><input type="text" ng-model="data.ngayNhapMau" title="{{tooltips['ngayNhapMau']}}" name="ngayNhapMau" class="input-form datepicker"></td>
			</tr>
			<tr>
				<td><label>54. Người giao mẫu: </label></td>
				<td><input type="text" ng-model="data.nguoiGiao" title="{{tooltips['nguoiGiao']}}" name="nguoiGiao" class="input-form"></td>
			</tr>
			<tr>
				<td><label>55. Người nhận mẫu</label></td>
				<td><input type="text" ng-model="data.nguoiNhan" title="{{tooltips['nguoiNhan']}}" name="nguoiNhan" class="input-form"></td>
			</tr>
			<tr>
				<td><label>56. Cơ quan nhập mẫu vật: </label></td>
				<td><input type="text" ng-model="data.coQuanNhapVatMau" title="{{tooltips['coQuanNhapVatMau']}}" name="coQuanNhapVatMau" class="input-form" id="coQuanNhapVatMau"></td>
			</tr>
			<tr>
				<td><label>57. Hình thức nhập mẫu:</label></td>
				<td>
					<input type="text" list="hinhThucNhapMau" class="input-form flexdatalist" data-min-length='0' ng-model="data.hinhThucNhapMau" title="{{tooltips['hinhThucNhapMau']}}" name="hinhThucNhapMau">
					<datalist id="hinhThucNhapMau">
						<option value="Thu thập">Thu thập</option>
						<option value="Hiến tặng">Hiến tặng</option>
					</datalist>
				</td>
			</tr>
			<tr>
				<td><label>58. Trao đổi mẫu: </label></td>
				<td>
					<select class="select-box" title="{{tooltips['traoDoiMau']}}" ng-model="data.traoDoiMau" name="traoDoiMau">
						<option value=""></option>
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>59. Vay mượn mẫu:</label></td>
				<td>
					<select class="select-box" title="{{tooltips['vayMuon']}}" ng-model="data.vayMuon" name="vayMuon">
						<option value=""></option>
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>60. Nơi lưu trữ mẫu:</label></td>
				<td><input type="text" ng-model="data.noiLuuTruMau" title="{{tooltips['noiLuuTruMau']}}" name="noiLuuTruMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>61. Khu lưu trữ mẫu:</label></td>
			</tr>
			<tr>
				<td>Phòng</td>
				<td><input type="text" title="{{tooltips['phong']}}" name="phong" ng-model="data.phong" class="input-form"></td>
			</tr>
			<tr>
				<td>Tủ, giá</td>
				<td><input type="text" title="{{tooltips['tuGia']}}" name="tuGia" ng-model="data.tuGia" class="input-form"></td>
			</tr>
			<tr>
				<td>Ngăn tủ, ngăn giá</td>
				<td><input type="text" title="{{tooltips['ngan']}}" name="ngan" ng-model="data.ngan" class="input-form"></td>
			</tr>
			<tr>
				<td>Hộp</td>
				<td><input type="text" title="{{tooltips['hop']}}" name="hop" ng-model="data.hop" class="input-form"></td>
			</tr>
			<tr>
				<td><label>62. Giấy phép nhập mẫu:</label></td>
				<td>
					<input type="file" multiple id="giayPhepNhapMau" ng-model="data.giayPhepNhapMau" name="giayPhepNhapMau" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*, .pdf">
					<label for="giayPhepNhapMau" title="{{tooltips['giayPhepNhapMau']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>63. Hồ sơ nhập mẫu vật đi kèm:</label></td>
				<td>
					<input type="file" multiple ng-model="data.hoSoNhapMauVatDiKem" id="hoSoNhapMauVatDiKem" name="hoSoNhapMauVatDiKem" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf">
					<label for="hoSoNhapMauVatDiKem" title="{{tooltips['hoSoNhapMauVatDiKem']}}"><span>No file chosen</span><strong>Choose file</strong></label>
				</td>
			</tr>
			<tr>
				<td><label>64. Người lập phiếu mẫu vật<span class="has-required"> (*)</span>:</label></td>
				<td><input type="text" ng-model="data.nguoiLapPhieuMauVat" title="{{tooltips['nguoiLapPhieuMauVat']}}" name="nguoiLapPhieuMauVat" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>65. Người nhập vào phần mềm:</label></td>
				<td><input type="text" ng-model="data.nguoiNhapVaoPhanMem" title="{{tooltips['nguoiNhapVaoPhanMem']}}" name="nguoiNhapVaoPhanMem" class="input-form"></td>
			</tr>
			<tr>
				<td><label>66. Thông tin khác </label></td>
				<td><input type="text" ng-model="data.thongTinKhac8" title="{{tooltips['thongTinKhac8']}}" name="thongTinKhac8" class="input-form"></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU THÔNG TIN KHÁC</h3>
				<tr>
					<td><label>67. Thông tin khác</label></td>
					<td><input type="text" ng-model="data.thongTinKhac9" title="{{tooltips['thongTinKhac9']}}" name="thongTinKhac9" class="input-form"></td>
				</tr>
			</table>
		</div>
		<center>
			<button style="margin-top: 30px;" id="add-post" type="submit" class="btn btn-success btn-lg">Thêm mẫu</button>
			<button style="margin-top: 30px;" ng-click="saveCookies()" type="button" class="btn btn-success btn-lg">Lưu bản nháp</button>
			<button style="margin-top: 30px;" ng-click="getCookies()" type="button" class="btn btn-success btn-lg">Lấy lại bản nháp</button>
		</center>
	</form>
</div>
<script type="text/javascript" src="asset/js/buttonfile/custom-file-input.js"></script>