<div class="" style="margin-top: 60px;">
	<form id="form-content">
		<center><h2>Thêm mẫu dữ liệu thực vật</h2></center>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<tr>
					<td><label>Mã đề tài (*)</label></td>
					<td>
						<input type="text" name="maDeTai" ng-model="data.maDeTai" class="input-form" required>
					</td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">SỐ HIỆU</h3>
				<tr>
					<td><label>01. Số hiệu thực địa (*):</label></td>
					<td><input type="text" title="{{tooltips[1]}}" name="soHieuThucDia" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>02. Số hiệu bảo tàng cơ sở(*):</label></td>
					<td><input type="text" title="{{tooltips[2]}}" name="soHieuBaoTangCS" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>03. Số hiệu BTTNVN:</label></td>
					<td><input type="text" title="{{tooltips[3]}}" name="soHieuBTTNVN" class="input-form"></td>
				</tr>
				<tr>
					<td><label>04. Mã kí hiệu mẫu vật quốc tế:</label></td>
					<td><input type="text" title="{{tooltips[4]}}" name="maKyHieuMauVatQuocTe" class="input-form"></td>
				</tr>

				<tr>
					<td><label>05. Các kí hiệu mẫu vật khác:</label></td>
					<td><input type="text" title="{{tooltips[5]}}" name="kyHieuMauVatKhac" class="input-form" required></td>
				</tr>
				<tr>
					<td><label>06. Thông tin khác:</label></td>
					<td><input type="text" title="{{tooltips[6]}}" name="thongTinKhac1" class="input-form" required></td>
				</tr>
			</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">TÊN MẪU</h3>
			<tr>
				<td><label>07. Tên Việt Nam (*):</label></td>
				<td><input type="text" title="{{tooltips[7]}}" name="tenVietNam" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>08. Tên địa phương:</label></td>
				<td><input type="text" title="{{tooltips[8]}}" name="tenDiaPhuong" class="input-form"></td>
			</tr>
			<tr>
				<td><label>09. Tên Tiếng Anh:</label></td>
				<td><input type="text" title="{{tooltips[9]}}" name="tenTiengAnh" class="input-form"></td>
			</tr>
			<tr>
				<td><label>10. Tên theo hệ thống PL của bảo tàng:</label></td>
				<td><input type="text" title="{{tooltips[10]}}" name="tenTheoBaoTang" class="input-form"></td>
			</tr>
			<tr><td><label>11. Tên khoa học (tên latin)</label></td></tr>
			<tr>
				<td>Tên đồng nghĩa: </td>
				<td><input type="text" title="{{tooltips[11]}}" name="tenDongNghia" id="tenDongNghia" class="input-form"></td>
			</tr>
			<tr>
				<td>Giới (*): </td>
				<td><input type="text" title="{{tooltips[12]}}" name="gioi" id="gioi" class="input-form" required></td>
			</tr>
					<tr>
				<td>Ngành (*): </td>
				<td><input type="text" title="{{tooltips[13]}}" name="nganh" id="nganh" class="input-form" required></td>
			</tr>
			<tr>
				<td>Lớp (*): </td>
				<td><input type="text" title="{{tooltips[14]}}" name="lop" id="lop" class="input-form" required></td>
			</tr>
			<tr>
				<td>Phân lớp: </td>
				<td><input type="text" id="phanLop" title="{{tooltips[15]}}" name="phanLop" class="input-form"></td>
			</tr>
			<tr>
				<td>Bộ (*): </td>
				<td><input type="text" title="{{tooltips[16]}}" name="bo" id="bo" class="input-form" required></td>
			</tr>
			<tr>
				<td>Phân bộ: </td>
				<td><input type="text" title="{{tooltips[17]}}" name="phanBo" id="phanBo" class="input-form"></td>
			</tr>
			<tr>
				<td>Liên họ: </td>
				<td><input type="text" title="{{tooltips[18]}}" name="lienHo" id="lienHo" class="input-form"></td>
			</tr>
			<tr>
				<td>Họ (*): </td>
				<td><input type="text" title="{{tooltips[19]}}" name="ho" id="ho" class="input-form" required></td>
			</tr>
			<tr>
				<td>Phân họ: </td>
				<td><input type="text" title="{{tooltips[20]}}" name="phanHo" id="phanHo" class="input-form"></td>
			</tr>
			<tr>
				<td>Tông: </td>
				<td><input type="text" title="{{tooltips[21]}}" name="tong" id="tong" class="input-form"></td>
			</tr>
			<tr>
				<td>Chi (*): </td>
				<td><input type="text" title="{{tooltips[22]}}" name="chi" id="chi" class="input-form" required></td>
			</tr>

			<tr>
				<td>Loài: </td>
				<td><input type="text" id="loai" class="input-form" title="{{tooltips[23]}}" name="loai"></td>
			</tr>
			<tr>
				<td>Dưới loài/phân loài: </td>
				<td><input type="text" title="{{tooltips[24]}}" name="duoiLoai" class="input-form" id="duoiLoai"></td>
			</tr>
			<tr>
				<td><label>12. Người định tên: </label></td>
				<td><input type="text" title="{{tooltips[25]}}" name="nguoiDinhTen" class="input-form" ></td>
			</tr>
			<tr>
				<td><label>13. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[26]}}" name="thongTinKhac2" class="input-form" required></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">SỐ LƯỢNG VÀ CHẤT LƯỢNG MẪU VẬT</h3>
			<tr>
				<td><label>14. Số lượng mẫu vật:</label></td>
				<td><input type="number" min="0" title="{{tooltips[27]}}" name="soLuongMauVat" class="input-form"></td>
			</tr>
			<tr>
				<td><label>15. Số lượng tiêu bản:</label></td>
				<td><input type="number" min = "0" title="{{tooltips[28]}}" name="soLuongTieuBan" class="input-form"></td>
			</tr>
			<tr>
				<td><label>16. Loại mẫu vật(*):</label></td>
				<td>
					<select required class="select-box" title="{{tooltips[29]}}" name="loaiMau">
						<option>Mẫu nghiên cứu</option>
						<option>Mẫu trưng bày</option>
						<option>Mẫu type</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>17. Kích thước mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[30]}}" name="kichThuocMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>18. Tình trạng mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[31]}}" name="tinhTrangMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>19. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[32]}}" name="thongTinKhac3" class="input-form" required></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU THU MẪU</h3>
			<tr>
				<td><label>20. Thời gian thu mẫu (*):</label></td>
				<td><input type="date" title="{{tooltips[33]}}" name="thoiGianThuMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>21. Người thu mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[34]}}" name="nguoiThuMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>22. Cơ quan thu mẫu: </label></td>
				<td><input type="text" id="coQuanThuMau" title="{{tooltips[35]}}" name="coQuanThuMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>23. Phương pháp thu mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[36]}}" name="phuongPhapThuMau" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>24. Địa điểm thu mẫu: </label></td>
				<td ng-controller="PlaceController">
				<table>
					<tr>
						<td>Quốc gia(*): </td>
						<td>
							<select class="select-box" ng-model="quocGia" title="{{tooltips[37]}}" name="quocGia" required>
								<option value="VietNam">Việt Nam</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Tỉnh/Thành phố(*): </td>
						<td>
							<select class="select-box" title="{{tooltips[38]}}" name="tinh" required ng-model= "$parent.tinh" ng-change="cityChange()">
								<option ng-repeat="(key, city) in cities" value="{{key}}">{{city.type +" " + city.name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Huyện(*):</td>
						<td>
							<select class="select-box" title="{{tooltips[39]}}" name="huyen" required ng-model= "$parent.huyen" ng-change="districtChange()">
								<option ng-repeat="(key, district) in districts | customCity: tinh" value="{{key}}">{{district.type + " " + district.name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Xã(*): </td>
						<td>
							<select class="select-box" ng-model="xa" title="{{tooltips[40]}}" name="xa" required>
								<option ng-repeat="(key, ward) in wards | customDistrict: huyen" value="{{key}}">{{ward.type+ " " + ward.name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Thôn/Xóm: </td>
						<td><input type="text" ng-model="thon" title="{{tooltips[41]}}" name="thon" id="thon" class="input-form"></td>
					</tr>
				</table>
				</td>
			</tr>
			<tr><td><label>25. Vị trị tọa độ theo hệ tọa độ Việt Nam 2000</label></td></tr>
			<tr>
				<td>Vĩ độ N (*): </td>
				<td><input type="text" title="{{tooltips[42]}}" name="viDo" class="input-form" required></td>
			</tr>
			<tr>
				<td>Kinh độ E (*):</td>
				<td><input type="text" title="{{tooltips[43]}}" name="kinhDo" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>26. Độ cao (*)(m): </label></td>
				<td><input type="text" title="{{tooltips[44]}}" name="doCao" class="input-form" required ></td>
			</tr>
			<tr>
				<td><label>27. Độ sâu (m):</label></td>
				<td><input type="number" title="{{tooltips[45]}}" name="doSau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>28. Vùng biển:</label></td>
				<td><input type="text" title="{{tooltips[46]}}" name="vungBien" class="input-form"></td>
			</tr>
			<tr>
				<td><label>29. Sinh học/sinh thái:</label></td>
				<td><input type="text" title="{{tooltips[47]}}" name="sinhHoc" class="input-form"></td>
			</tr>
			<tr>
				<td><label>30. Thông tin về dự án, đề tài đợt thu nhập mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[48]}}" name="thongTinDuAn" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>31. Ghi chép thực địa (*):</label></td>
				<td><input type="text" title="{{tooltips[49]}}" name="ghiChepThucDia" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>32. Bản đồ:</label></td>
				<td><input type="file" title="{{tooltips[50]}}" name="banDo" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>33. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[51]}}" name="thongTinKhac4" class="input-form" required></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU PHÂN TÍCH MẪU</h3>
			<tr>
				<td><label>34. Thời gian phân tích/giám định/định loại mẫu:</label></td>
				<td><input type="date" title="{{tooltips[52]}}" name="thoiGianPhanTich" class="input-form"></td>
			</tr>
			<tr>
				<td><label>35. Người phân tích/giám định/định loại mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[53]}}" name="nguoiPhanTich" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>36. Cơ quan/tổ chức phân tích/giám định/phân loại mẫu (*):</label></td>
				<td><input type="text" title="{{tooltips[54]}}" name="coQuanToChucPhanTich" id="coQuanToChucPhanTich" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>37. Tài liệu phân tích/giám định/phân loại đi kèm (*):</label></td>
				<td><input type="file" multiple title="{{tooltips[55]}}" name="taiLieuPhanTich" accept=".doc, .docx, .pdf" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>38. Mô tả/đặc điểm hình thái (*)</label></td>
				<td><input type="file" multiple accept=".doc, .docx, .pdf" name ="moTaHinhThaiFile" class="input-form"></td>
			</tr>
			<tr>
				<td><label>39. Hình vẽ:</label></td>
				<td><input type="file" title="{{tooltips[59]}}" name="hinhVe" class="input-form" accept="image/x-png, image/gif, image/jpeg, .docx, .doc, .pdf" ></td>
			</tr>
			<tr>
				<td><label>40. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[60]}}" name="thongTinKhac5" class="input-form" required></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU HÌNH ẢNH, PHIM, TÀI LIỆU MẪU VẬT</h3>
			<tr>
				<td><label>41. Ảnh mẫu vật (*):</label></td>
				<td><input type="file" multiple title="{{tooltips[61]}}" name="anhMauVat" class="input-form" accept="image/x-png, image/gif, image/jpeg, .pdf" required></td>
			</tr>
			<tr>
				<td><label>42. Hình ảnh mẫu ngoài thực địa:</label></td>
				<td><input type="file" accept="image/x-png, image/gif, image/jpeg, .pdf" multiple title="{{tooltips[62]}}" name="hinhAnhNgoaiThucDia" class="input-form"></td>
			</tr>
			<tr>
				<td><label>43. Thông tin về phim, video (*): </label></td>
				<td>
					<input type="text" title="{{tooltips[63]}}" name="videoStr" ng-model="data.videoStr" class="input-form" placeholder="Thông tin thêm về phim">
				</td>
			</tr>
			<tr>
				<td><label>44.Video (*):</label></td>
				<td>
					<input type="file" accept="video/mp4,video/x-m4v,video/*" name ="videoFile" ng-model="data.videoFile" class="input-form" required>
				</td>
			</tr>
			<tr><td colspan="2"><label>45. Xử lý chế tác mẫu vật: </label></td></tr>
			<tr>
				<td>Hình ảnh đính kèm Xử lý chế tác:</td>
				<td><input type="file" multiple title="{{tooltips[64]}}" name="hinhAnhDinhKem" accept="image/x-png, image/gif, image/jpeg, .pdf" class="input-form"></td>
			</tr>
			<tr>
				<td>Đính kèm xử lý chế tác:</td>
				<td><input type="file" title="{{tooltips[65]}}" name="dinhKemXuLyCheTac" accept=".docx, .pdf" class="input-form"></td>
			</tr>
			<tr>
				<td>Phương thức xử lý chế tác:</td>
				<td><input type="text" title="{{tooltips[66]}}" name="phuongThucXuLy" class="input-form"></td>
			</tr>
			<tr>
				<td>Người xử lý, chế tác:</td>
				<td><input type="text" title="{{tooltips[67]}}" name="nguoiXuLy" class="input-form"></td>
			</tr>
			<tr>
				<td>Cơ quan xử lý, chế tác mẫu:</td>
				<td><input type="text" title="{{tooltips[68]}}" name="coQuanXuLy" id="coQuanXuLy" class="input-form"></td>
			</tr>
			<tr>
				<td>Ảnh mẫu sau chế tác:</td>
				<td><input type="file" title="{{tooltips[69]}}" name="anhMauSauCheTac" class="input-form" accept="image/x-png, image/gif, image/jpeg, .pdf" ></td>
			</tr>
			<tr><td colspan="2"><label>46. Thông tin DNA</label></td></tr>
			<tr>
				<td>Vị trí lấy mẫu DNA (lá, thân, rễ,...):</td>
				<td><input type="text" id="viTriLayMauDNA" title="{{tooltips[70]}}" name="boPhanLayMauDNA" class="input-form"></td>
			</tr>
			<tr>
				<td>Mẫu DNA (khô, nước...):</td>
				<td><input type="text" id="mauDNA" title="{{tooltips[71]}}" name="trangThaiGiuMauDNA" class="input-form"></td>
			</tr>

			<tr>
				<td>Đính kèm chạy trình tự DNA</td>
				<td><input type="file" multiple title="{{tooltips[72]}}" name="dinhKemChayTrinhTuDNA" class="input-form"></td>
			</tr>

			<tr>
				<td>Trích dẫn chạy trình tự DNA</td>
				<td><input type="text" multiple title="{{tooltips[73]}}" name="trichDanTrinhTuDNA" class="input-form"></td>
			</tr>
			<tr>
				<td>Trình tự DNA</td>
				<td><input type="text" multiple title="{{tooltips[74]}}" name="trinhTuDNA" class="input-form"></td>
			</tr>
			<tr>
				<td>Đính kèm trình tự DNA</td>
				<td><input type="file" multiple title="{{tooltips[75]}}" name="dinhKemTrinhTuDNA" class="input-form"></td>
			</tr>
			<tr>
				<td>Công bố/thông tin quốc tế (genbank...)</td>
				<td><input type="text" title="{{tooltips[76]}}" name="congBoQuocTe" class="input-form"></td>
			</tr>
			<tr>
				<td><label>47. Thông tin mẫu hạt phấn</label></td>
				<td><input type="text" multiple title="{{tooltips[77]}}" name="thongTinMauHatPhan" class="input-form"></td>
			</tr>
			<tr>
				<td><label>48. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[78]}}" name="thongTinKhac5" class="input-form" required></td>
			</tr>			
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU PHÂN BỐ VÀ GIÁ TRỊ SỬ DỤNG</h3>
			<tr>
				<td><label>49. Phân bố Việt Nam (*):</label></td>
				<td>
					<input type="text" title="{{tooltips[79]}}" name="phanBoVietNamStr" class="input-form">
					<input type="file" multiple name ="phanBoVietNamFile">
				</td>
			</tr>
			<tr>
				<td><label>50. Phân bố trên thế giới (nếu có):</label></td>
				<td>
					<input type="text" title="{{tooltips[80]}}" name="phanBoTrenTheGioiStr" class="input-form">
					<input type="file" multiple name ="phanBoTrenTheGioiFile">
				</td>
			</tr>
			<tr>
				<td><label>51. Giá trị sử dụng:</label></td>
				<td><input type="text" title="{{tooltips[81]}}" name="giaTriSuDung" class="input-form"></td>
			</tr>
			<tr>
				<td><label>52. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[82]}}" name="thongTinKhac6" class="input-form" required></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
		<table>
			<h3 class="h3-title">NHÓM DỮ LIỆU LƯU TRỮ, BẢO QUẢN MẪU</h3>
			<tr>
				<td><label>53. Ngày nhập mẫu: </label></td>
				<td><input type="date" title="{{tooltips[83]}}" name="ngayNhapMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>54. Người giao mẫu: </label></td>
				<td><input type="text" title="{{tooltips[84]}}" name="nguoiGiao" class="input-form"></td>
			</tr>
			<tr>
				<td><label>55. Người nhận mẫu</label></td>
				<td><input type="text" title="{{tooltips[85]}}" name="nguoiNhan" class="input-form"></td>
			</tr>
			<tr>
				<td><label>56. Cơ quan nhập mẫu: </label></td>
				<td><input type="text" title="{{tooltips[86]}}" name="coQuanNhapVatMau" id="coQuanNhapVatMau" class="input-form"></td>
			</tr>
			<tr>
				<td><label>57. Hình thức nhập mẫu:</label></td>
				<td>
					<select class="select-box" title="{{tooltips[87]}}" name="hinhThucNhapMau">
						<option value="Thu thập">Thu thập</option>
						<option value="Hiến tặng">Hiến Tặng</option>
						<option value="Khác">Khác</option>
					</select>
				</td>
			</tr>

			<tr>
				<td><label>58. Trao đổi mẫu: </label></td>
				<td>
					<select title="{{tooltips[88]}}" class="select-box" name="traoDoiMau">
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>59. Vay mượn mẫu:</label></td>
				<td>
					<select class="select-box" title="{{tooltips[89]}}" name="vayMuon">
						<option value="Có thể">Có thể</option>
						<option value="Không thể">Không thể</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>60. Nơi lưu trữ:</label></td>
				<td><input type="text" title="{{tooltips[91]}}" name="noiLuuTru" class="input-form"></td>
			</tr>
			<tr>
					<td><label>61. Khu lưu trữ mẫu:</label></td>
			</tr>
			<tr>
				<td>Phòng</td>
				<td><input type="text" title="{{tooltips[90]}}" name="phong" ng-model="data.phong" class="input-form"></td>
			</tr>
			<tr>
				<td>Tủ, giá</td>
				<td><input type="text" title="{{tooltips[90]}}" name="tuGia" ng-model="data.tuGia" class="input-form"></td>
			</tr>
			<tr>
				<td>Ngăn tủ, ngăn giá</td>
				<td><input type="text" title="{{tooltips[90]}}" name="nganHop" ng-model="data.nganHop" class="input-form"></td>
			</tr>
			<tr>
				<td>Hộp</td>
				<td><input type="text" title="{{tooltips[90]}}" name="hop" ng-model="data.hop" class="input-form"></td>
			</tr>
			<tr>
				<td><label>62. Giấy phép nhập mẫu:</label></td>
				<td><input type="file" title="{{tooltips[92]}}" name="giayPhepNhapMau" class="input-form" accept="image/x-png, image/gif, image/jpeg, .docx, .doc, .pdf"></td>
			</tr>
			<tr>
				<td><label>63. Hồ sơ nhập mẫu vật đi kèm:</label></td>
				<td><input type="file" title="{{tooltips[93]}}" name="hoSoNhapMauVatDiKem" class="input-form" accept=".doc, docx, .pdf" ></td>
			</tr>
			<tr>
				<td><label>64. Người nhập phiếu mẫu vật (*):</label></td>
				<td><input type="text" title="{{tooltips[94]}}" name="nguoiNhapPhieuMauVat" class="input-form" required></td>
			</tr>
			<tr>
				<td><label>65. Người nhập thông tin vào phần mềm:</label></td>
				<td><input type="text" title="{{tooltips[95]}}" name="nguoiNhapVaoPhanMem" class="input-form"></td>
			</tr>
			<tr>
				<td><label>66. Thông tin khác:</label></td>
				<td><input type="text" title="{{tooltips[96]}}" name="thongTinKhac7" class="input-form" required></td>
			</tr>
		</table>
		</div>
		<div class="container map-detail" style="margin-top: 50px;">
			<table>
				<h3 class="h3-title">NHÓM DỮ LIỆU THÔNG TIN KHÁC</h3>
				<tr>
					<td><label>67. Thông tin khác</label></td>
					<td><input type="text" title="{{tooltips[97]}}" name="thongTinKhac8" class="input-form"></td>
				</tr>
			</table>
		</div>
	</form>
	<center><button style="margin-top: 30px;" type="submit" ng-click="addPost()" class="btn btn-success btn-lg">Thêm mẫu</button></center>
</div>