<div class="col-sm-10 col-sm-offset-1 col-xs-12" bs-loading-overlay bs-loading-overlay-delay="200">
	<form id="form-content" name="FormContent" ng-submit="addPost(FormContent, form)" novalidate>
		<input type="hidden" name="randomStr" value="{{randomStr}}" id="randomStr">
		<input type="hidden" name="sample" value="tho-nhuong" id="sample">
		<input type="hidden" name="fLoadFromXLSX" value="0" id="fLoadFromXLSX">
		<center><h3>Thêm mẫu dữ liệu thổ nhưỡng > Đề tài: {{maDeTai}}</h3></center>
		<div class="container-fluid">
			<ul class="nav nav-tabs group tabs">
		    	<li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)">{{"tab.soHieu" | translate }}</a></li>
		    	<li ng-class="{active: isSet(2)}"><a href ng-click="setTab(2)">{{"tab.tenMauVat" | translate }}</a></li>
		    	<li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)">{{"tab.soLuong" | translate }}</a></li>
		    	<li ng-class="{active: isSet(4)}"><a href ng-click="setTab(4)">{{"tab.thuMau" | translate }}</a></li>
		    	<li ng-class="{active: isSet(5)}"><a href ng-click="setTab(5)">{{"tab.phanTichMau" | translate }}</a></li>
		    	<li ng-class="{active: isSet(6)}"><a href ng-click="setTab(6)">{{"tab.hinhAnh" | translate }}</a></li>
		    	<li ng-class="{active: isSet(7)}"><a href ng-click="setTab(7)">{{"tab.phanBo" | translate }}</a></li>
		    	<li ng-class="{active: isSet(8)}"><a href ng-click="setTab(8)">{{"tab.luuTru" | translate }}</a></li>
		    	<li ng-class="{active: isSet(9)}"><a href ng-click="setTab(9)">{{"tab.thongTinKhac" | translate }}</a></li>
		  	</ul>
			<div class="form-group map-detail" ng-show="isSet(1)" style="padding-top: 30px;">
				<div class="row">
					<div class="col-sm-4">
						<label>01. {{"land.soHieuBTTNVN" | translate }} </label>
						<span><input type="text" title="{{tooltips['soHieuBTTNVN']}}" id="soHieuBTTNVN" name="soHieuBTTNVN" ng-model="data.soHieuBTTNVN" class="input-form form-control"></span>
					</div>
					<div class="col-sm-4">
						<label>02. {{"land.soHieuBaoTangCS" | translate }} <span class="has-required"> (*)</span>:</label>
						<span><input type="text" title="{{tooltips['soHieuBaoTangCS']}}" name="soHieuBaoTangCS" ng-model="data.soHieuBaoTangCS" class="input-form form-control" id="soHieuBaoTangCS"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>03. {{"land.soHieuThucDia" | translate }} <span class="has-required"> (*)</span>:</label>
						<input type="text" title="{{tooltips['soHieuThucDia']}}" name="soHieuThucDia" ng-model="data.soHieuThucDia" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>04. {{"land.kyHieuMauVatKhac" | translate }} </label>
						<input type="text" ng-model="data.kyHieuMauVatKhac" id="kyHieuMauVatKhac" title="{{tooltips['kyHieuMauVatKhac']}}" name="kyHieuMauVatKhac" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label for="thongTinKhac1Str">05. {{"land.thongTinKhac1Str" | translate }}:</label>
						<textarea type="text" ng-model="data.thongTinKhac1Str" title="{{tooltips['thongTinKhac1Str']}}" name="thongTinKhac1Str" id="thongTinKhac1Str" class="input-form form-control" rows="5"></textarea>
					</div>
					<div class="col-sm-6">
						<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac1File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac1File" name ="thongTinKhac1File">
						<label for="thongTinKhac1File" title="{{tooltips['thongTinKhac1File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(2)" style="padding-top: 30px;">
				<div class="row">
			        <div class="col-sm-4">
			          	<label>06. {{"land.tenTheoQuocTe" | translate }} </label>
			          	<input type="text" title="{{tooltips['tenTheoQuocTe']}}" name="tenTheoQuocTe" ng-model="data.tenTheoQuocTe" class="input-form form-control">
			        </div>
			        <div class="col-sm-4">
			          	<label>07. {{"land.nguoiDinhTen" | translate }} </label>
			          	<input type="text" title="{{tooltips['nguoiDinhTen']}}" name="nguoiDinhTen" ng-model="data.nguoiDinhTen" class="input-form form-control">
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-sm-4">
			          	<label>08. {{"land.ngayDinhTen" | translate }}: </label>
			          	<select ng-model="data.date_ndt" class="select-date">
			            	<option value="dd/mm/yyyy">Full date</option>
			            	<option value="mm/yyyy">Mon/Year</option>
			            	<option value="yyyy">Year</option>
			          	</select>
			          	<input type="text" class="input-form form-control datepicker" id="ngayDinhTen" title="{{tooltips['ngayDinhTen']}}" name="ngayDinhTen" placeholder="{{data.date_ndt}}" ng-model="data.ngayDinhTen">
			        </div>
		        	<div class="col-sm-4">
		          		<label>09. {{"land.tenVietNam" | translate }} </label>
		          		<input type="text" title="{{tooltips['tenVietNam']}}" name="tenVietNam" ng-model="data.tenVietNam" class="input-form form-control">
		        	</div>
		      	</div>
		      	<div class="row">
			        <div class="col-sm-4">
			          	<label>10. {{"land.tenDiaPhuong" | translate }} </label>
			          	<input type="text" title="{{tooltips['tenDiaPhuong']}}" name="tenDiaPhuong" ng-model="data.tenDiaPhuong" class="input-form form-control">
			        </div>
			        <div class="col-sm-4">
			          	<label>11. {{"land.tenTiengAnh" | translate }} </label>
			          	<input type="text" title="{{tooltips['tenTiengAnh']}}" name="tenTiengAnh" ng-model="data.tenTiengAnh" class="input-form form-control">
			        </div>
		      	</div>
		     	<div class="row" style="margin-top: 10px;">
			        <div class="col-sm-8">
			          	<label>12. {{"land.tenTheoBaoTang" | translate }} </label>
			          	<input type="text" title="{{tooltips['tenTheoBaoTang']}}" name="tenTheoBaoTang" ng-model="data.tenTheoBaoTang" class="input-form form-control">
			        </div>
		      	</div>
		      	<div class="row" style="margin-top: 15px;">
			        <div class="col-sm-8">
			          	<label for="thongTinKhac2Str">13. {{"land.thongTinKhac2Str" | translate }}:</label>
			          	<textarea type="text" ng-model="data.thongTinKhac2Str" title="{{tooltips['thongTinKhac2Str']}}" name="thongTinKhac2Str" id="thongTinKhac2Str" class="input-form form-control" rows="5"></textarea>
			        </div>
			        <div class="col-sm-6">
			          	<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac2File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac2File" name="thongTinKhac2File">
			          	<label for="thongTinKhac2File" title="{{tooltips['thongTinKhac2File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
			        </div>
		      	</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(3)" style="padding-top: 30px;">	
		      	<div class="row">
			        <div class="col-sm-4">
			          	<label>14. {{"land.soLuongTieuBan" | translate }} </label>
			          	<input type="number" min="0" title="{{tooltips['soLuongTieuBan']}}" name="soLuongTieuBan" ng-model="data.soLuongTieuBan" class="input-form form-control">
			        </div>
			        <div class="col-sm-4">
			          	<label>15. {{"land.loaiMauVat" | translate }} <span class="has-required"> (*)</span>:</label>
			          	<input type="text" title="{{tooltips['loaiMauVat']}}" name="loaiMauVat" ng-model="data.loaiMauVat" list="loaiMauVat" multiple='multiple' class="input-form form-control flexdatalist flexdatalist-force" data-min-length='0'>
			          	<datalist id="loaiMauVat">
			            	<option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
			            	<option value="Mẫu trưng bày">Mẫu trưng bày</option>
			            	<option value="Mẫu type">Mẫu type</option>
			          	</datalist>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="col-sm-12">
			          	<label>16. {{"land.kichThuocMau" | translate }}<span class="has-required"> (*)</span>:</label>
			        </div>
			        <div class="container-fluid">
				        <div class="row">
				          	<div class="col-sm-2">
				        		<span>{{"land.chieuCao" | translate }}: </span><br>
				        		<span class="box">
								   	<input type="text" title="{{tooltips['chieuCao']}}" name="chieuCao" ng-model="data.chieuCao" class="datatext" id="datatext">
								   	<select class="contentselect" ng-model="data.donVi_chieuCao" name="donVi_chieuCao">
								     	<option value="mm">mm</option>
								     	<option value="cm">cm</option>
								     	<option value="m">m</option>
								    </select>
							  	</span>
				          	</div>
				          	<div class="col-sm-2">
				            	<span>{{"land.chieuRong" | translate }}: </span><br>
				            	<span class="box">
								   	<input type="text" title="{{tooltips['chieuRong']}}" name="chieuRong" ng-model="data.chieuRong" class="datatext" id="datatext">
								   	<select class="contentselect" ng-model="data.donVi_chieuRong" name="donVi_chieuRong">
								     	<option value="mm">mm</option>
								     	<option value="cm">cm</option>
								     	<option value="m">m</option>
								    </select>
							  	</span>
				          	</div>
				          	<div class="col-sm-2">
				            	<span>{{"land.chieuDai" | translate }}: </span><br>
				            	<span class="box">
							    	<input type="text" title="{{tooltips['chieuDai']}}" name="chieuDai" ng-model="data.chieuDai" class="datatext" id="datatext">
								   	<select class="contentselect" ng-model="data.donVi_chieuDai" name="donVi_chieuDai">
								     	<option value="mm">mm</option>
								     	<option value="cm">cm</option>
								     	<option value="m">m</option>
								    </select>
							  	</span>
				          	</div>
				        </div>
				        <div class="row">
				          	<div class="col-sm-2">
				            	<span>{{"land.trongLuong" | translate }}: </span><br>
				            	<span class="box">
							  		<input type="text" title="{{tooltips['trongLuong']}}" name="trongLuong" ng-model="data.trongLuong" class="datatext" id="datatext">
								   	<select class="contentselect" ng-model="data.donVi_trongLuong" name="donVi_trongLuong">
										<option value="mg">mg</option>
								     	<option value="g">g</option>
								     	<option value="kg">kg</option>
								    </select>
							  	</span>
				          	</div>
				          	<div class="col-sm-2">
				            	<span>{{"land.theTich" | translate }}: </span><br>
				            	<span class="box">
								   	<input type="text" title="{{tooltips['theTich']}}" name="theTich" class="datatext" ng-model="data.theTich" id="datatext">
								   	<select class="contentselect" ng-model="data.donVi_theTich" name="donVi_theTich">
								     	<option value="ml">ml</option>
								     	<option value="l">l</option>
								    </select>
							  	</span>
				          	</div>
				        </div>
				    </div>
		    	</div>
		      	<div class="row" style="margin-top: 10px;">
			        <div class="col-sm-8">
			          	<label>17. {{"land.tinhTrangMau" | translate }} <span class="has-required">(*)</span>:</label>
			          	<input type="text" title="{{tooltips['tinhTrangMau']}}" name="tinhTrangMau" ng-model="data.tinhTrangMau" class="input-form form-control">
			        </div>
		      	</div>
	      		<div class="row" style="margin-top: 20px;">
			        <div class="col-sm-8">
			          	<label for="thongTinKhac3Str">18. {{"land.thongTinKhac3Str" | translate }}:</label>
			          	<textarea type="text" ng-model="data.thongTinKhac3Str" title="{{tooltips['thongTinKhac3Str']}}" name="thongTinKhac3Str" id="thongTinKhac3Str" class="input-form form-control" rows="5"></textarea>
			        </div>
		    		<div class="col-sm-6">
	          			<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac3File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac3File" name ="thongTinKhac3File">
	          			<label for="thongTinKhac3File" title="{{tooltips['thongTinKhac3File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
	        		</div>
	      		</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(4)" style="padding-top: 30px;">
				<div class="row">
	        		<div class="col-sm-4">
			          	<label>19. {{"land.thoiGianThuMau" | translate }} <span class="has-required">(*)</span>:</label>
			          	<select ng-model="data.date_tgtm" class="select-date">
			            	<option value="dd/mm/yyyy">Full date</option>
			            	<option value="mm/yyyy">Mon/Year</option>
			            	<option value="yyyy">Year</option>
			          	</select>
	          			<input type="text" class="input-form form-control datepicker" id="thoiGianThuMau" title="{{tooltips['thoiGianThuMau']}}" placeholder="{{data.date_tgtm}}" name="thoiGianThuMau" ng-model="data.thoiGianThuMau">
	        		</div>
	       			<div class="col-sm-4">
			          	<label>20. {{"land.nguoiThuMau" | translate }} <span class="has-required">(*)</span>:</label>
			          	<input type="text" title="{{tooltips['nguoiThuMau']}}" name="nguoiThuMau" ng-model="data.nguoiThuMau" class="input-form form-control">
	    			</div>
	      		</div>  
	     		<div class="row">
		        	<div class="col-sm-4">
		          		<label>21. {{"land.coQuanThuMau" | translate }} </label>
		          		<input type="text" id="coQuanThuMau" title="{{tooltips['coQuanThuMau']}}" name="coQuanThuMau" ng-model="data.coQuanThuMau" class="input-form form-control">
		        	</div>
			        <div class="col-sm-4">
			          	<label>22. {{"land.phuongPhapThuMau" | translate }} <span class="has-required">(*)</span>:</label>
			          	<input type="text" title="{{tooltips['phuongPhapThuMau']}}" name="phuongPhapThuMau" ng-model="data.phuongPhapThuMau" class="input-form form-control">
			        </div>
	      		</div>
				<div class="row" style="margin-top: 10px;">
			        <div class="col-sm-12">
			          	<label>23. {{"land.fDiaDiemThuMau" | translate }}: </label>
			        </div>
		        	<div class="container-fluid" ng-controller="PlaceController">
			          	<div class="row">
			            	<div class="col-sm-2">
			              		<span>{{"land.viTri" | translate }}: </span>
			            	</div>
			            	<div class="col-sm-6">
			              		<input type="radio" name="fDiaDiemThuMau" value="Trên đất liền" ng-model="data.fDiaDiemThuMau" ng-checked="true" ng-click="starDatLien()" id="datLien"> Trên đất liền
			              		<input type="radio" name="fDiaDiemThuMau" value="Trên đảo" id="datLien" ng-click="starDao()" ng-model="data.fDiaDiemThuMau"> Trên đảo
			              		<input type="radio" name="fDiaDiemThuMau" value="Trên biển" id="trenBien" ng-click="starBien()" ng-model="data.fDiaDiemThuMau"> Trên biển
			            	</div>
			          	</div>
			          	<div class="row">
				            <div class="col-sm-2">
				              	{{"land.quocGia" | translate }}<span class="has-required"> (*)</span>: 
				              	<input type="text" list="quocGia" class="input-form form-control flexdatalist" data-min-length='0' ng-model="data.quocGia" ng-change="countryChange()" title="{{tooltips['quocGia']}}" name="quocGia">
				              	<datalist id="quocGia">
				                	<option value="Việt Nam">Việt Nam</option>
				              	</datalist>
				            </div>
				            <div class="col-sm-2">
				              	{{"land.tinh" | translate }}<span ng-show="star_tinh" class="has-required"> (*)</span>: 
				              	<input type="text" list="tinh" class="input-form form-control flexdatalist" ng-model="data.tinh" ng-change="cityChange()" data-min-length='0' title="{{tooltips['tinh']}}" name="tinh">
				              	<datalist id="tinh">
				                	<option ng-repeat="city in cities | orderBy: 'name'" id="{{city.name}}" value="{{city.id}}">{{city.name}}</option>
				              	</datalist>
				            </div>
				            <div class="col-sm-2">
				             	{{"land.huyen" | translate }}<span ng-show="star" class="has-required"> (*)</span>:
				              	<input type="text" class="input-form form-control flexdatalist" title="{{tooltips['huyen']}}" id="render_districts" name="huyen" list="huyen" ng-model= "data.huyen" ng-change="districtChange()">
				              	<datalist id="huyen">
				                	<option ng-repeat="district in districts | customCity: id_tinh | orderBy: 'name'" id="{{district.name}}" value="{{district.id}}">{{district.name}}</option>
				              	</datalist>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-sm-2">
				              	{{"land.xa" | translate }}<span ng-show="star" class="has-required"> (*)</span>: 
				              	<input type="text" class="input-form form-control flexdatalist" ng-model="data.xa" id="render_wards" title="{{tooltips['xa']}}" name="xa" list="xa">
				              	<datalist id="xa">
				                	<option ng-repeat="ward in wards | customDistrict: id_huyen | orderBy:'name'" value="{{ward.id}}">{{ward.name}}</option>
				              	</datalist>
				            </div>
				            <div class="col-sm-2">
				              	{{"land.thon" | translate }}: 
				              	<input type="text" ng-model="data.thon" title="{{tooltips['thon']}}" name="thon" id="thon" class="input-form form-control">
				            </div>
				            <div class="col-sm-2">
								{{"land.tinhKhac" | translate }}: 
								<input type="text" ng-model="data.tinhKhac" title="{{tooltips['tinhKhac']}}" name="tinhKhac" id="tinhKhac" class="input-form form-control">
							</div>
			          	</div>
			        </div>
		      	</div>
	      		<div class="row" ng-controller="GoogleMapController" style="margin-top: 10px;">
	      			<div class="row">
						<div class="col-sm-5">
							<label>24. {{"land.viTriToaDo" | translate }}: </label>
						</div>
						<div class="col-sm-7">
							<input type="radio" name="fViTriToaDo" id="vitri-dms" ng-model="data.fViTriToaDo" value="dms"><span class="label label-default"> DMS</span>
							<input type="radio" name="fViTriToaDo" id="vitri-dd" ng-model="data.fViTriToaDo" value="dd"><span class="label label-default"> DD</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							{{"land.viDo" | translate }} <span class="has-required">(*)</span>:
							<input type="text" id="viDo" ng-show="data.fViTriToaDo=='dd'" title="{{tooltips['viDo']}}" name="viDo" ng-model="data.viDo" class="input-form form-control">
							<div id="dd" ng-show="data.fViTriToaDo=='dms'" style="margin-top: 5px;" title="{{tooltips['viDo']}}">
								<input type="number" step="1" id="viDo" ng-model= "data.viDo_do" ng-change="latChange()" class = "coordinates" name=""> độ
								<input type="number" step="1" id="viDo" ng-model= "data.viDo_phut" ng-change="latChange()" class = "coordinates" name=""> phút
								<input type="number" step="1" id="viDo" ng-model= "data.viDo_giay" ng-change="latChange()" class = "coordinates" name=""> giây
							</div>
						</div>
						<div class="col-sm-4">
							{{"land.kinhDo" | translate }} <span class="has-required">(*)</span>:
							<input type="text" id="kinhDo" ng-show="data.fViTriToaDo=='dd'" title="{{tooltips['kinhDo']}}" name="kinhDo" ng-model="data.kinhDo" class="input-form form-control">
							<div id="dd" ng-show="data.fViTriToaDo=='dms'" style="margin-top: 5px;" title="{{tooltips['kinhDo']}}">
								<input type="number" step="1" id="kinhDo" ng-model="data.kinhDo_do" ng-change="lonChange()" class = "coordinates" name=""> độ
								<input type="number" step="1" id="kinhDo" ng-model="data.kinhDo_phut" ng-change="lonChange()" class = "coordinates" name=""> phút
								<input type="number" step="1" id="kinhDo" ng-model="data.kinhDo_giay" ng-change="lonChange()" class = "coordinates" name=""> giây
							</div>
						</div>
						<div class="col-sm-4">
							<label> </label><br>
							<button type="button" class="btn btn-success" ng-click="showModal()">Chọn trên bản đồ</button>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-4">
						<label>25. {{"land.mauChatOViTriThuMau" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['mauChatOViTriThuMau']}}" name="mauChatOViTriThuMau" ng-model="data.mauChatOViTriThuMau" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>26. {{"land.doCao" | translate }} <span class="has-required">(*)</span>: </label>
						<input type="number" min="0" title="{{tooltips['doCao']}}" name="doCao" ng-model="data.doCao" class="input-form form-control" >
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>27. {{"land.doSau" | translate }} </label>
						<input type="number" title="{{tooltips['doSau']}}" name="doSau" ng-model="data.doSau" min="0" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>28. {{"land.doDocNoiThuMau" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="number" min="0" title="{{tooltips['doDocNoiThuMau']}}" name="doDocNoiThuMau" ng-model="data.doDocNoiThuMau" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>29. {{"land.mucNuocNgamNoiThuMau" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="number" title="{{tooltips['mucNuocNgamNoiThuMau']}}" name="mucNuocNgamNoiThuMau" ng-model="data.mucNuocNgamNoiThuMau" id="mucNuocNgamNoiThuMau" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>30. {{"land.khaNangThoatNuoc" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['khaNangThoatNuoc']}}" name="khaNangThoatNuoc" ng-model="data.khaNangThoatNuoc" id="khaNangThoatNuoc" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>31. {{"land.thoiTietKhiThuMau" | translate }} </label>
						<input type="text" title="{{tooltips['thoiTietKhiThuMau']}}" name="thoiTietKhiThuMau" ng-model="data.thoiTietKhiThuMau" id="thoiTietKhiThuMau" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>32. {{"land.dangDiaHinhNoiThuMau" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['dangDiaHinhNoiThuMau']}}" name="dangDiaHinhNoiThuMau" ng-model="data.dangDiaHinhNoiThuMau" id="dangDiaHinhNoiThuMau" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>33. {{"land.thamThucVatNoiThuMau" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['thamThucVatNoiThuMau']}}" name="thamThucVatNoiThuMau" ng-model="data.thamThucVatNoiThuMau" id="thamThucVatNoiThuMau" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>34. {{"land.thongTinDuAn" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" ng-model="data.thongTinDuAn" title="{{tooltips['thongTinDuAn']}}" name="thongTinDuAn" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>35. {{"land.ghiChepThucDia" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['ghiChepThucDia']}}" name="ghiChepThucDia" ng-model="data.ghiChepThucDia" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>36. {{"land.banDo" | translate }} </label><br>
						<input type="file" max-file-size="100" multiple id="banDo" accept=".zip, .rar" name="banDo" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="banDo" title="{{tooltips['banDo']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
					<div class="col-sm-4">
						<label>37. {{"land.ketQuaPhanTichDinhTuoi" | translate }} </label><br>
						<input type="file" max-file-size="100" multiple id="ketQuaPhanTichDinhTuoi" name="ketQuaPhanTichDinhTuoi" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf">
						<label for="ketQuaPhanTichDinhTuoi" title="{{tooltips['ketQuaPhanTichDinhTuoi']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
			        <div class="col-sm-8">
			          	<label for="thongTinKhac4Str">38. {{"land.thongTinKhac4Str" | translate }}:</label>
			          	<textarea type="text" ng-model="data.thongTinKhac4Str" title="{{tooltips['thongTinKhac4Str']}}" name="thongTinKhac4Str" id="thongTinKhac4Str" class="input-form form-control" rows="5"></textarea>
			        </div>
			        <div class="col-sm-6">
			          	<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac4File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac4File" name ="thongTinKhac4File">
			          	<label for="thongTinKhac4File" title="{{tooltips['thongTinKhac4File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
			        </div>
		      	</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(5)" style="padding-top: 30px;">
				<div class="row">
					<div class="col-sm-4">
						<label>39. {{"land.ngayPhanTichMauDat" | translate }}:</label>
						<select ng-model="data.date_ptmd" class="select-date">
	                        <option value="dd/mm/yyyy">Full date</option>
	                        <option value="mm/yyyy">Mon/Year</option>
	                        <option value="yyyy">Year</option>
	                    </select>
						<input type="text" class="input-form form-control datepicker" id="ngayPhanTichMauDat" title="{{tooltips['ngayPhanTichMauDat']}}" name="ngayPhanTichMauDat" placeholder="{{data.date_ptmd}}" ng-model="data.ngayPhanTichMauDat" >
					</div>
					<div class="col-sm-4">
						<label>40. {{"land.hoSoPhanTichMauDat" | translate }} </label><br>
						<input type="file" multiple id="hoSoPhanTichMauDat" name="hoSoPhanTichMauDat" class="inputfile customfile" data-multiple-caption="{count} file is selected" max-file-size="10" accept=".doc, .docx, .pdf">
						<label for="hoSoPhanTichMauDat" title="{{tooltips['hoSoPhanTichMauDat']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>42. {{"land.thoiGianGiamDinh" | translate }}:</label>
						<select ng-model="data.date_tggd" class="select-date">
	                        <option value="dd/mm/yyyy">Full date</option>
	                        <option value="mm/yyyy">Mon/Year</option>
	                        <option value="yyyy">Year</option>
	                    </select>
						<input type="text" class="input-form form-control datepicker" id="thoiGianGiamDinh" title="{{tooltips['thoiGianGiamDinh']}}" name="thoiGianGiamDinh" placeholder="{{data.date_tggd}}" ng-model="data.thoiGianGiamDinh" >
					</div>
					<div class="col-sm-4">
						<label>41. {{"land.ketQuaPhanTich" | translate }} <span class="has-required">(*)</span>:</label><br>
						<input type="file" multiple id="ketQuaPhanTich" name="ketQuaPhanTich" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf" max-file-size="10">
						<label for="ketQuaPhanTich" title="{{tooltips['ketQuaPhanTich']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>43. {{"land.nguoiGiamDinh" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['nguoiGiamDinh']}}" name="nguoiGiamDinh" ng-model="data.nguoiGiamDinh" id="nguoiGiamDinh" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>44. {{"land.coQuanToChucGiamDinh" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['coQuanToChucGiamDinh']}}" name="coQuanToChucGiamDinh" ng-model="data.coQuanToChucGiamDinh" id="coQuanToChucGiamDinh" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>45. {{"land.taiLieuPhanTich" | translate }}<span class="has-required"> (*)</span>:</label>
					</div>
					<div class="col-sm-5">
						<input type="text" ng-model="data.taiLieuPhanTichStr" title="{{tooltips['taiLieuPhanTichStr']}}" name="taiLieuPhanTichStr" class="input-form form-control">
					</div>
					<div class="col-sm-3">
						<input type="file" id="taiLieuPhanTichFile" multiple ng-model="data.taiLieuPhanTichFile" name="taiLieuPhanTichFile" accept=".doc, .docx, .pdf" class="inputfile customfile" data-multiple-caption="{count} file is selected" max-file-size="10">
						<label for="taiLieuPhanTichFile" title="{{tooltips['taiLieuPhanTichFile']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label for="thongTinKhac5Str">46. {{"land.thongTinKhac5Str" | translate }}:</label>
						<textarea type="text" ng-model="data.thongTinKhac5Str" title="{{tooltips['thongTinKhac5Str']}}" name="thongTinKhac5Str" id="thongTinKhac5Str" class="input-form form-control" rows="5"></textarea>
					</div>
					<div class="col-sm-6">
						<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac5File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac5File" name ="thongTinKhac5File">
						<label for="thongTinKhac5File" title="{{tooltips['thongTinKhac5File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(6)" style="padding-top: 30px;">
				<div class="row">
					<div class="col-sm-4">
						<label>47. {{"land.anhMauVat" | translate }} <span class="has-required">(*)</span>:</label><br>
						<input type="file" multiple id="anhMauVat" ng-model="data.anhMauVat" name="anhMauVat" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*" max-file-size="10">
						<label for="anhMauVat" title="{{tooltips['anhMauVat']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
					<div class="col-sm-4">
						<label>48. {{"land.hinhAnhNgoaiThucDia" | translate }} </label><br>
						<input type="file" multiple id="hinhAnhNgoaiThucDia" accept="image/*" max-file-size="10" ng-model="data.hinhAnhNgoaiThucDia" name="hinhAnhNgoaiThucDia" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="hinhAnhNgoaiThucDia" title="{{tooltips['hinhAnhNgoaiThucDia']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>49. {{"land.videoStr" | translate }} </label>
						<input type="text" title="{{tooltips['videoStr']}}" name="videoStr" ng-model="data.videoStr" class="input-form form-control" >
					</div>
					<div class="col-sm-4">
						<label>50. {{"land.videoFile" | translate }}:</label><br>
						<input type="file" max-file-size="100" multiple accept="video/*" name ="videoFile" ng-model="data.videoFile" id="videoFile" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="videoFile" title="{{tooltips['videoFile']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>	
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>51. {{"land.xuLyCheTac" | translate }}: </label>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-4">
								{{"land.thuocTinhXuLyCheTac" | translate }}:
								<input type="text" title="{{tooltips['thuocTinhXuLyCheTac']}}" name="thuocTinhXuLyCheTac" ng-model="data.thuocTinhXuLyCheTac" class="input-form form-control">
							</div>
							<div class="col-sm-4">
								{{"land.dinhKemXuLyCheTac" | translate }}:<br>
								<input type="file" max-file-size="100" multiple ng-model="data.dinhKemXuLyCheTac" id="dinhKemXuLyCheTac" accept=".docx, .doc, .pdf" name="dinhKemXuLyCheTac" class="inputfile customfile" data-multiple-caption="{count} file is selected">
								<label for="dinhKemXuLyCheTac" title="{{tooltips['dinhKemXuLyCheTac']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								{{"land.phuongThucXuLy" | translate }}:
								<input type="text" title="{{tooltips['phuongThucXuLy']}}" name="phuongThucXuLy" ng-model="data.phuongThucXuLy" class="input-form form-control">
							</div>
							<div class="col-sm-4">
								{{"land.hinhAnhDinhKem" | translate }}:<br>
								<input type="file" multiple id="hinhAnhDinhKem" ng-model="data.hinhAnhDinhKem" name="hinhAnhDinhKem" accept="image/*" max-file-size="5" class="inputfile customfile" data-multiple-caption="{count} file is selected">
								<label for="hinhAnhDinhKem" title="{{tooltips['hinhAnhDinhKem']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								{{"land.thoiGianXuLy" | translate }}:
								<select ng-model="data.date_tgct" class="select-date">
			                        <option value="dd/mm/yyyy">Full date</option>
			                        <option value="mm/yyyy">Mon/Year</option>
			                        <option value="yyyy">Year</option>
			                    </select>
								<input type="text" class="input-form form-control datepicker" id="thoiGianXuLy" title="{{tooltips['thoiGianXuLy']}}" placeholder="{{data.date_tgct}}" name="thoiGianXuLy" ng-model="data.thoiGianXuLy">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								{{"land.nguoiXuLy" | translate }}:
								<input type="text" title="{{tooltips['nguoiXuLy']}}" name="nguoiXuLy" ng-model="data.nguoiXuLy" class="input-form form-control">
							</div>
							<div class="col-sm-4">
								{{"land.coQuanXuLy" | translate }}:
								<input type="text" title="{{tooltips['coQuanXuLy']}}" name="coQuanXuLy" ng-model="data.coQuanXuLy" id="coQuanXuLy" class="input-form form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6"></br>
						<label>52. {{"land.taiLieuDiKem" | translate }} <span class="has-required">(*)</span>:</label><br>
						<input type="file" multiple ng-model="data.taiLieuDiKem" id="taiLieuDiKem" accept=".docx, .doc, .pdf" max-file-size="10" name="taiLieuDiKem" class="inputfile customfile" data-multiple-caption="{count} file is selected">
						<label for="taiLieuDiKem" title="{{tooltips['taiLieuDiKem']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label for="thongTinKhac6Str">53. {{"land.thongTinKhac6Str" | translate }}:</label>
						<textarea type="text" ng-model="data.thongTinKhac6Str" title="{{tooltips['thongTinKhac6Str']}}" name="thongTinKhac6Str" id="thongTinKhac6Str" class="input-form form-control" rows="5"></textarea>
					</div>
					<div class="col-sm-6">
						<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac6File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac6File" name ="thongTinKhac6File">
						<label for="thongTinKhac6File" title="{{tooltips['thongTinKhac6File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(7)" style="padding-top: 30px;">
				<div class="row">
					<div class="col-sm-12">
						<label>54. {{"land.phanBoVietNam" | translate }} <span class="has-required">(*)</span>:</label>
					</div>
					<div class="col-sm-4">
						<input type="text" title="{{tooltips['phanBoVietNamStr']}}" name="phanBoVietNamStr" ng-model="data.phanBoVietNamStr" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<input type="file" max-file-size="100" multiple ng-model="data.phanBoVietNamFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" id="phanBoVietNamFile" name ="phanBoVietNamFile">
						<label for="phanBoVietNamFile" title="{{tooltips['phanBoVietNamFile']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>55. {{"land.phanBoTrenTheGioi" | translate }}:</label>
					</div>
					<div class="col-sm-4">
						<input type="text" title="{{tooltips['phanBoTrenTheGioiStr']}}" name="phanBoTrenTheGioiStr" ng-model="data.phanBoTrenTheGioiStr" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<input type="file" max-file-size="100" id="phanBoTrenTheGioiFile" multiple ng-model="data.phanBoTrenTheGioiFile" class="inputfile customfile" data-multiple-caption="{count} file is selected" name ="phanBoTrenTheGioiFile">
						<label for="phanBoTrenTheGioiFile" title="{{tooltips['phanBoTrenTheGioiFile']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label>56. {{"land.giaTriSuDung" | translate }} </label>
						<input type="" title="{{tooltips['giaTriSuDung']}}" name="giaTriSuDung" multiple='multiple' class="input-form form-control flexdatalist" data-min-length='0' ng-model="data.giaTriSuDung" list="giaTriSuDung">
						<datalist id="giaTriSuDung">
							<option>Khoa học</option>
							<option>Y học</option>
							<option>Dinh Dưỡng</option>
							<option>Thẩm mĩ</option>
						</datalist>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label for="thongTinKhac7Str">57. {{"land.thongTinKhac7Str" | translate }}:</label>
						<textarea type="text" ng-model="data.thongTinKhac7Str" title="{{tooltips['thongTinKhac7Str']}}" name="thongTinKhac7Str" id="thongTinKhac7Str" class="input-form form-control" rows="5"></textarea>
					</div>
					<div class="col-sm-12">
						<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac7File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac7File" name ="thongTinKhac7File">
						<label for="thongTinKhac7File" title="{{tooltips['thongTinKhac7File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
			</div>
			<div class="form-group map-detail" ng-show="isSet(8)" style="padding-top: 30px;">
				<div class="row">
					<div class="col-sm-4">
						<label>58. {{"land.ngayNhapMau" | translate }}: </label>
							<select ng-model="data.date_nnm" class="select-date">
	                        <option value="dd/mm/yyyy">Full date</option>
	                        <option value="mm/yyyy">Mon/Year</option>
	                        <option value="yyyy">Year</option>
	                    </select>
						<input type="text" class="input-form form-control datepicker" id="ngayNhapMau" title="{{tooltips['ngayNhapMau']}}" name="ngayNhapMau" placeholder="{{data.date_nnm}}" ng-model="data.ngayNhapMau" >
					</div>
					<div class="col-sm-4">
						<label>59. {{"land.nguoiGiao" | translate }} </label>
						<input type="text" title="{{tooltips['nguoiGiao']}}" name="nguoiGiao" ng-model="data.nguoiGiao" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>60. {{"land.nguoiNhan" | translate }} </label>
						<input type="text" title="{{tooltips['nguoiNhan']}}" name="nguoiNhan" ng-model="data.nguoiNhan" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>61. {{"land.coQuanNhapVatMau" | translate }} </label>
						<input type="text" title="{{tooltips['coQuanNhapVatMau']}}" name="coQuanNhapVatMau" ng-model="data.coQuanNhapVatMau" id="coQuanNhapVatMau" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>62. {{"land.hinhThucNhapMau" | translate }} </label>
						<input type="text" list="hinhThucNhapMau" class="input-form form-control flexdatalist" data-min-length='0'  title="{{tooltips['hinhThucNhapMau']}}" ng-model="data.hinhThucNhapMau" name="hinhThucNhapMau">
						<datalist id="hinhThucNhapMau">
							<option value="Thu thập">Thu thập</option>
							<option value="Hiến tặng">Hiến tặng</option>
						</datalist>
					</div>
					<div class="col-sm-4">
						<label>63. {{"land.traoDoiMau" | translate }} </label>
						<select class="form-control" ng-model="data.traoDoiMau" title="{{tooltips['traoDoiMau']}}" name="traoDoiMau">
							<option value=""></option>
							<option value="Có thể">Có thể</option>
							<option value="Không thể">Không thể</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>64. {{"land.vayMuon" | translate }} </label>
						<select class="form-control" ng-model="data.vayMuon" title="{{tooltips['vayMuon']}}" name="vayMuon">
							<option value=""></option>
							<option value="Có thể">Có thể</option>
							<option value="Không thể">Không thể</option>
						</select>
					</div>
					<div class="col-sm-4">
						<label>65. {{"land.noiLuuTruMau" | translate }} </label>
						<input type="text" ng-model="data.noiLuuTruMau" title="{{tooltips['noiLuuTruMau']}}" name="noiLuuTruMau" class="input-form form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>66. {{"land.khuLuuTruMau" | translate }}:</label>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-3">
								{{"land.phong" | translate }}
								<input type="text" title="{{tooltips['phong']}}" name="phong" ng-model="data.phong" class="input-form form-control">
							</div>
							<div class="col-sm-3">
								{{"land.tuGia" | translate }}
								<input type="text" title="{{tooltips['tuGia']}}" name="tuGia" ng-model="data.tuGia" class="input-form form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								{{"land.ngan" | translate }}
								<input type="text" title="{{tooltips['ngan']}}" name="ngan" ng-model="data.ngan" class="input-form form-control">
							</div>
							<div class="col-sm-3">
								{{"land.hop" | translate }}
								<input type="text" title="{{tooltips['hop']}}" name="hop" ng-model="data.hop" class="input-form form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-sm-8">
						<label>69. {{"land.nguoiLapPhieuMauVat" | translate }} <span class="has-required">(*)</span>:</label>
						<input type="text" title="{{tooltips['nguoiLapPhieuMauVat']}}" name="nguoiLapPhieuMauVat" ng-model="data.nguoiLapPhieuMauVat" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>68. {{"land.hoSoNhapMauVatDiKem" | translate }} </label><br>
						<input type="file" max-file-size="100" multiple ng-model="data.hoSoNhapMauVatDiKem" id="hoSoNhapMauVatDiKem" name="hoSoNhapMauVatDiKem" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept=".doc, .docx, .pdf">
						<label for="hoSoNhapMauVatDiKem" title="{{tooltips['hoSoNhapMauVatDiKem']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label>70. {{"land.nguoiNhapVaoPhanMem" | translate }} </label>
						<input type="text" title="{{tooltips['nguoiNhapVaoPhanMem']}}" name="nguoiNhapVaoPhanMem" ng-model="data.nguoiNhapVaoPhanMem" class="input-form form-control">
					</div>
					<div class="col-sm-4">
						<label>67. {{"land.giayPhepNhapMau" | translate }} </label><br>
						<input type="file" max-file-size="100" multiple id="giayPhepNhapMau" ng-model="data.giayPhepNhapMau" name="giayPhepNhapMau" class="inputfile customfile" data-multiple-caption="{count} file is selected" accept="image/*, .pdf">
						<label for="giayPhepNhapMau" title="{{tooltips['giayPhepNhapMau']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<label for="thongTinKhac8Str">71. {{"land.thongTinKhac8Str" | translate }}:</label>
						<textarea type="text" ng-model="data.thongTinKhac8Str" title="{{tooltips['thongTinKhac8Str']}}" name="thongTinKhac8Str" id="thongTinKhac8Str" class="input-form form-control" rows="5"></textarea>
					</div>
					<div class="col-sm-8">
						<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac8File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac8File" name ="thongTinKhac8File">
						<label for="thongTinKhac8File" title="{{tooltips['thongTinKhac8File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
			</div>
			<div class="map-detail form-group" ng-show="isSet(9)" style="padding-top: 30px;">
				<div class="row">
					<div class="col-sm-8">
						<label for="thongTinKhac9Str">72. {{"land.thongTinKhac9Str" | translate }}: </label>
						<textarea type="text" ng-model="data.thongTinKhac9Str" title="{{tooltips['thongTinKhac9Str']}}" id="thongTinKhac9Str" name="thongTinKhac9Str" class="form-control input-form" rows="7"></textarea>
						<input type="file" max-file-size="100" multiple ng-model="data.thongTinKhac9File" class="inputfile" data-multiple-caption="{count} file is selected" id="thongTinKhac9File" name ="thongTinKhac9File">
						<label for="thongTinKhac9File" title="{{tooltips['thongTinKhac9File']}}"><span>{{"customfile.nofilechose" | translate }}</span><strong>{{"customfile.open" | translate }}</strong></label>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 50px;"></div>
		<div class="bottom-nav">
			<center>
				<button id="add-post" type="submit" class="btn btn-success">
					<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;  Lưu mẫu
				</button>
				<!-- <button id="add-post" type="button" class="btn btn-info">
					<span class="glyphicon glyphicon-export"></span>&nbsp;  Nhập từ mẫu trước
				</button> -->
				<js-xls onread="read" onerror="error" id="excelfile" class="excelfile btn-warning"></js-xls>
				<label for="excelfile"><strong> Nhập từ file excel </strong></label>

				<!-- <button ng-click="getCookies()" type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-open"></span>&nbsp; Lấy lại bản nháp
				</button> -->

				<div class="pull-right">
					<button id="back-to-top" type="button" class="btn btn-circle btn-default">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</button>
				</div>
			</center>
		</div>
	</form>
</div>
<script type="text/javascript" src="asset/js/buttonfile/custom-file-input.js"></script>