<div class="container">
	<div class="row">
		<h2>Cơ sở dữ liệu mẫu động vật</h2>
		<div class="row">
			<h3>1. Số hiệu</h3>
			<label>Mã kí hiệu quốc tế</label>
			<input type="text" name="" id="input" class="" value="" required="required" pattern="" title="">
			<label>Số hiệu thực địa(*)</label>
			<input type="text" name="" id="input" class="" value="" required pattern="" title="">
			<label>Số hiệu BTTNVN(*)</label>
			<input type="text" name="" id="input" class="" value="" required title="">
			<label>Các kí hiệu mẫu vật khác</label>
			<input type="text" name="" id="input" class="" value="" required="required" pattern="" title="">
		</div>

	</div>
</div>