.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.no-js .inputfile + label {
    display: none;
}

/* style 6 */

.inputfile + label {
    color: #00994c;
    border-radius: 4px;
}

.inputfile + label {
    border: 1px solid #ccc;
}

.inputfile + label span,
.inputfile + label strong {
    padding: 5px 5px;
}

.inputfile + label span {
    max-width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    color: #f1e5e6;
    /*background-color: #d3394c;*/
    background-color: #794044;
    display: inline-block;
}