<!DOCTYPE html>
<html lang="en" ng-app="museumApp">
<head>
	<!-- <base href="/app/#!"> -->
	<meta charset="UTF-8">
	<title>{{'tieude' | translate}}</title>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="asset/css/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="asset/css/customfileinput/component.css">
	<link rel="stylesheet" type="text/css" href="asset/css/main.css">
	<link rel="stylesheet" href="asset/css/font-awesome/css/font-awesome.min.css">
	<!-- framework -->
	<link rel="stylesheet" type="text/css" href="asset/css/jquery/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="asset/js/angular-loading-bar/loading-bar.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/flexdatalist/jquery.flexdatalist.min.css">
	<!-- <link rel="stylesheet" href="/admin/plugins/datatables/dataTables.bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="asset/js/angular-inline-text-editor/ite.css">

	<!-- css cho phan ban do -->
	<link rel="stylesheet" href="asset/js/leaflet/dist/leaflet.css" />
	<link rel="stylesheet" href="asset/js/leaflet-draw/dist/leaflet.draw.css" />
	<link rel="stylesheet" href="asset/js/Leaflet.ExtraMarkers/src/leaflet.extra-markers.css">
</head>
<body>
	<!-- <div ui-view="homepage"></div> -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-if="restricted.restrict">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><b>{{'nav.themmauvat.tieude' | translate }}</b> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li ng-if="restricted.restrict.cosinh.create"><a ui-sref="them-co-sinh">{{'nav.themmauvat.cosinh' | translate}}</a></li>
							<li ng-if="restricted.restrict.diachat.create"><a ui-sref="them-dia-chat">{{'nav.themmauvat.diachat' | translate}}</a></li>
							<li ng-if="restricted.restrict.dongvat.create"><a ui-sref="them-dong-vat">{{'nav.themmauvat.dongvat' | translate}}</a></li>
							<li ng-if="restricted.restrict.thonhuong.create"><a ui-sref="them-tho-nhuong">{{'nav.themmauvat.thonhuong' | translate}}</a></li>
							<li ng-if="restricted.restrict.thucvat.create"><a ui-sref="them-thuc-vat">{{'nav.themmauvat.thucvat' | translate}}</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-if="restricted.restrict">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><b>{{'nav.quanly.tieude' | translate }}</b> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li ng-if="restricted.restrict.cosinh.create"><a ui-sref="quan-ly-co-sinh">{{'nav.quanly.cosinh' | translate }}</a></li>
							<li ng-if="restricted.restrict.diachat.create"><a ui-sref="quan-ly-dia-chat">{{'nav.quanly.diachat' | translate }}</a></li>
							<li ng-if="restricted.restrict.dongvat.create"><a ui-sref="quan-ly-dong-vat">{{'nav.quanly.dongvat' | translate }}</a></li>
							<li ng-if="restricted.restrict.thonhuong.create"><a ui-sref="quan-ly-tho-nhuong">{{'nav.quanly.thonhuong' | translate }}</a></li>
							<li ng-if="restricted.restrict.thucvat.create"><a ui-sref="quan-ly-thuc-vat">{{'nav.quanly.thucvat' | translate }}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><b>{{'nav.truyvan.tieude' | translate }}</b> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="tim-kiem">{{'nav.truyvan.timkiem' | translate }}</a></li>
							<li><a ui-sref="leaflet-map">{{'nav.truyvan.bando' | translate }}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><b>{{'nav.baocao.tieude' | translate }}</b> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/log/all">{{'nav.baocao.lichsunhaplieu' | translate }}</a></li>
							
							<li><a href="/manager/statistic">{{'nav.baocao.thongke' | translate }}</a></li>
						</ul>
					</li>
					
					<li class=""><a ui-sref="document"><b>{{'nav.tailieu' | translate }}</b></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-controller="translateCtrl">
					<!-- <li><a ui-sref="tim-kiem" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a></li> -->
					<!-- <li ng-click="changeLang('eng')"><a href=""><img src="asset/image/en.gif"></a></li> -->
					<li  ng-click="changeLang('vi')"><a href=""><img src="asset/image/vi.gif"></a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><b ng-bind="restricted.user.fullname"></b><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/admin"><b>{{'nav.taikhoan.quanly' | translate }}</b></a></li>
							<li><a href="/users"><b>{{'nav.taikhoan.trangcanhan' | translate }}</b></a></li>
							<li><a href="/auth/logout"><b>{{'nav.taikhoan.dangxuat' | translate }}</b></a></li>
						</ul>
					</li>
				</ul>

				

				<form class="navbar-form navbar-right" role="search" ng-controller="SearchController">
					<div class="input-group">
				      	<!-- <input type="text" class="form-control" placeholder="Tìm kiếm..."> -->
				      	<!-- <span class="input-group-btn">
				        	<a ui-sref="tim-kiem" class="btn btn-default">
				            	<span class=" glyphicon glyphicon-search"></span>
				        	</a>
				      	</span> -->
				    </div>
				</form>
			</div>
		</div>
	</nav>
	<section style="overflow:auto; min-height: 800px;">
		<div ui-view></div>
	</section>
<!-- 	<footer style="bottom: 0px; position: absolute; width: 100%;">
		<div class="input-form form-control">&copy; Copyright. All right is reserved</div>
	</footer> -->
	<ng-include src="'views/templates/footer.template.html'" scope="" onload=""></ng-include>
	<script type="text/javascript" src="asset/js/jquery/jquery/jquery.js"></script>
	<script type="text/javascript" src="asset/js/jquery/jquery/jquery-ui.min.js"></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAa6go5wcMQwOo3DGioOqFPuHgvyXICKlY'></script>
	<script type="text/javascript" src="asset/js/jquery/bootstrap.js"></script>
	<script type="text/javascript" src="asset/js/bootstrap-notify/bootstrap-notify.js"></script>
	<script type="text/javascript" src="asset/js/angular/angular.js"></script>
	<script type="text/javascript" src="asset/js/angular-google-maps/ng-map.js"></script>
	<script type="text/javascript" src="asset/js/angular-inline-text-editor/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-inline-text-editor/rangy-core.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-inline-text-editor/rangy-classapplier.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-inline-text-editor/rangy-selectionsaverestore.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-inline-text-editor/ite.js"></script>
	<script type="text/javascript" src="asset/js/angular-ui-router/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="asset/js/spinner/spin.min.js"></script>

	<script type="text/javascript" src="asset/js/angular-translate/angular-translate.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-translate/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-translate/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-translate/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>

	<script type="text/javascript" src="asset/js/angular-ui-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="asset/js/angular-ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>
	<script type="text/javascript" src="asset/js/angularjs-slider/rzslider.js"></script>
	<script type="text/javascript" src="asset/js/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="asset/js/angular-loading-bar/loading-bar.js"></script>
	<script type="text/javascript" src="asset/js/angular-loading-overlay/angular-loading-overlay.js"></script>
	<script type="text/javascript" src="asset/js/angular-loading-overlay-http-interceptor/angular-loading-overlay-http-interceptor.js"></script>
	<script type="text/javascript" src="asset/js/angular-js-xlsx/angular-js-xlsx.js"></script>
	<script type="text/javascript" src="asset/js/angular-js-xlsx/xlsx.core.min.js"></script>
	<script type="text/javascript" src="/javascripts/flexdatalist/jquery.flexdatalist.min.js"></script>
	<script type="text/javascript" src="/javascripts/crypto-js.js"></script>

	<!-- handler -->
	<script type="text/javascript" src="app.module.js"></script>
	<script type="text/javascript" src="service.js"></script>
	<script type="text/javascript" src="app.config.js"></script>
	
	<script type="text/javascript" src="asset/js/controllers/HomeController.js"></script>
	<script type="text/javascript" src="asset/js/controllers/FormController.js"></script>
	<script type="text/javascript" src="asset/js/controllers/EditFormController.js"></script>
	<script type="text/javascript" src="asset/js/controllers/ManageController.js"></script>
	<script type="text/javascript" src="asset/js/controllers/SearchController.js"></script>
	<script type="text/javascript" src="asset/js/filter/placeFilter.js"></script>
	<script type="text/javascript" src="asset/js/controllers/OfflineController.js"></script>
	<script type="text/javascript" src="asset/js/filter/propertyFilter.js"></script>
	<script type="text/javascript" src="asset/js/angular-messages/angular-messages.min.js"></script>
	<script type="text/javascript" src="asset/js/controllers/LeafletMapController.js"></script>
	<script type="text/javascript" src="asset/js/controllers/TestController.js"></script>
	<script type="text/javascript" src="asset/js/controllers/GuestViewsController.js"></script>
	<script type="text/javascript" src="asset/js/angular-paging/paging.min.js"></script>
	<script type="text/javascript" src="asset/js/dirPagination.js"></script>

	<!-- Thu vien phan ban do -->
	<script src="asset/js/leaflet/dist/leaflet.js"></script>
	<script src="asset/js/leaflet-draw/dist/leaflet.draw-src.js"></script>
	<script src="asset/js/angular-simple-logger/dist/angular-simple-logger.js"></script>
	<script src="asset/js/ui-leaflet/dist/ui-leaflet.js"></script>
	<script src="asset/js/ui-leaflet-draw/dist/ui-leaflet-draw.js"></script>
	<script src="asset/js/Leaflet.ExtraMarkers/src/leaflet.extra-markers.js"></script>
</body>
</html>