app.factory('AuthService', ['$http', function($http){
	
	return ({
		// hostAnimal : 'http://localhost:8000/content/dong-vat/auto',
		hostName: 'http://localhost:8000',
		deleteP: deleteP
	});

	function deleteP(id, urlDelete){
		$http({
			method: 'DELETE',
			url: urlDelete,
			headers: {'Content-Type': 'application/json'},
			data: {id: id}
		}).then(function (res) {
			$route.reload();
		}, function (err) {
			console.log(err);
		});
	}
}]);

//Autocomplete
// app.directive('autoComplete', function($timeout) {
//     return function(scope, iElement, iAttrs) {
//         iElement.autocomplete({
//             source: scope[iAttrs.uiItems],
//             select: function() {
//                 $timeout(function() {
//                   iElement.trigger('input');
//                 }, 0);
//             }
//         });
//     };
// });