module.exports = {
	app: {
		port: '8000'
	},
	database: {
		url: 'mongodb://mongodbuser:mongodbpassword@127.0.0.1:27017/museum'
	},
	environment: {
		env: 'development'
	},
	mailconfig : {
		service: 'gmail',
	    auth: {
	        user: '',
	        pass: ''
	    }
	},
	recaptcha : {
		sitekey : '',
		secretkey: ''
	}
}