module.exports = {
	app: {
		port: '8001',
		nonSecurePort: '8000',
		domain: 'baotangvn.online',
		mode: 'https',
		sessionCookieName: 'sessionid'
	},
	database: {
		url: 'mongodb://mongodbuser:mongodbpassword@127.0.0.1:27017/museum'
	},
	environment: {
		env: 'development'
	},
	mailconfig : {
		service: 'gmail',
	    auth: {
	        user: '',
	        pass: ''
	    }
	},
	recaptcha : {
		sitekey : '',
		secretkey: ''
	},
	noThreads: 'optimal',
	libreoffice: 'libreoffice',
	ssl: {
		privateKey: '',
		certificate: '',
	}
}