module.exports = {
	app: {
		port: '8000'
	},
	database: {
		url: 'mongodb://mongodbuser:mongodbpassword@127.0.0.1:27017/museum'
	},
	environment: {
		env: 'development'
	},
	mailconfig : {
		service: 'gmail',
	    auth: {
	        user: 'chienminhnguyen196@gmail.com',
	        pass: 'nqmpkpxvpjydtgxv'
	    }
	},
	recaptcha : {
		sitekey : '6LctfhoUAAAAAC2hVTKPoaVgfDXJP3OsQy3SF1en',
		secretkey: '6LctfhoUAAAAAOqw3KYeqYV8yCvOBwSIHxOBemo2'
	}
}