html {
	padding: 0;
	margin: 0;
	height: 100%;
    font-style: 13px;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    overflow: auto;
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif;*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  padding-top: 60px;
  min-height: 100%;
  /*font-family: serif;*/
}

.coordinates{
    width: 50px; 
    border-width: 1px; 
    border-radius: 3px;
    padding-left: 5px;
}

.h3-title{
    color: rgb(141,49,36);
}

.select-box{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    width: 300px;
}

.select-date{
    border-radius: 4px;
}
/*------------------customize checkbox-----------*/

.check-box{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #bdc3c7;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    box-sizing: content-box ;
    width: 20px;
    height: 20px;
    margin: 0px;
    border-width: 0;
    transition: all .3s linear;
}
.check-box:checked{
    background-color: #e74c3c;
}
.check-box:focus{
    outline: 0 none;
    box-shadow: none;
}

.tenvietnam{
    margin-left: 30px;
}


/*------------------customize checkbox----------*/



/*------------------NAVBAR---------------------*/
.navbar-default{
	background-color: #0e8110;
}

.navbar-brand{
    /*background-color: mediumturquoise;*/
}
.navbar-default .navbar-brand:hover{
    background-color: #d3fdaf;
    color: #000;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #d3fdaf;
}

.navbar-default .navbar-nav > .open > a:focus{
    background-color: #d3fdaf;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-nav > li > a {
}

.dropbtn {
    cursor: pointer;
    color: white;
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-menu{
    background-color: azure;
    border: 0px;
}

.dropdown-content a {
	border-radius: 0px 4px 4px 0px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color:  #19C662;
}

a.nav{
	text-decoration: none;
	color: #fff;
}

a.nav:hover{
	color: #000;
}

.dropdown:hover .dropdown-content {
    transition: width 1s;
    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d3fdaf;
    color: #000;
}

#loading-bar .bar {
  position: relative;
}
/*------------------END-NAVBAR--------------------*/

/*------------------FORM_DATA---------------------*/
.has-error{
    border-color: #a94442;
}

.has-required{
    color: red;
}
.text-errors{
    color: red;
}
/*--------------New--------------*/
.row {
    margin-left: 5px;
}

*:focus {
    outline: none;
}

.align-td{
    text-align: right;
}
.datatext {
    border: #ccc 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 30px;
    /*width: 50px;*/
    /*position:relative;*/
    padding-left: 5px;
    margin-top: 5px;
}
.contentselect {
    border: #ccc 1px solid; 
    height:30px;
    /*border-radius: 4px; */
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    margin-top: 5px;
}

.tab-content > .tab-pane {
    background-color: #F3F6F9;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.2) !important;
    border-radius: 4px;
}

.tabs > li > a {
    border: 1px solid #ddd;
    margin: 0px;
    padding: 10px 10px;
}

.tabs > li.active > a, .tabs > li.active > a:hover, .tabs > li.active > a:focus {
    background-color: #F3F6F9;
}

.group > li > a{
    /*background-color: #1a439a;*/
    /*color: #fff;*/
}

.group > li > a:hover{
    background-color: #f5f5f5;
    color: #000;
}

.modal-input{
    top: 30px;
}

.select-date{
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*--------------end-New--------------*/
/*-------------END-FORM_DATA----*/

@media screen and (min-width : 992px){
    .map-detail{
        background-color: #F3F6F9;
        padding: 15px;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.2) !important;
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid #ddd;
    }

/*    .input-form{
        height: 25px;
        padding: 4px 7px;
        border-color: #d2e3ae;
        border-radius: 4px;
        margin: 5px;
        border: 1px solid #ccc;
    }*/
}

@media screen and (max-width : 992px){
    .map-detail{
        background-color: #F3F6F9;
        padding: 15px; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
        /*width: 800px;*/
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid #ddd;
    }
/*    .input-form{
        padding: 5px;
        border-color: #d2e3ae;
        border-radius: 4px;
        margin: 5px;
        border: 1px solid #ccc;
    }*/
}

@media only screen and (max-width: 768px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
      color: #000;  
    }
    .map-detail{
        /*width: 800px;*/
        margin-left: auto;
        margin-right: auto;
        background-color: #F3F6F9;
        padding: 15px;
        box-shadow: 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
        border-left: 1px solid #ddd;
    }

/*    .input-form{
        padding: 5px;
        border-color: #d2e3ae;
        border-radius: 4px;
        margin: 5px;
        border: 1px solid #ccc;
    }*/
}

/*  480px hoặc nhỏ hơn */
@media screen and (max-width: 480px) {
    .map-detail{
        background-color: #F3F6F9;
        padding: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
        border-left: 1px solid #ddd;
    }

/*    .input-form{
        padding: 5px;
        border-color: #d2e3ae;
        border-radius: 4px;
        margin: 5px;
        border: 1px solid #ccc;
    }*/
}

/* --------------RESPONSIVE LAYOUT------------------*/

/* -------------Phan button phia duoi cung----------*/
.bottom-nav {
    position: fixed;
    width: 80%;
    margin: auto;
    bottom: 10px;
    padding: 5px;
}

.toggle-nav {
 display: block;
 text-align: right;
}
.toggle-nav ul li {
    /*margin-top: 5px;*/
    /*width: 100%;*/
}

.btn-circle{
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
