html {
	padding: 0;
	margin: 0;
	height: 100%;
    font-style: 15px;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	overflow: auto;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}


.map-detail{
    background-color: #F3F6F9;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.input-form{
    padding: 5px;
    border-color: #d2e3ae;
    border-radius: 4px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
}

.h3-title{
    color: rgb(141,49,36);
}

.select-box{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    width: 300px;
}

/*------------------NAVBAR---------------------*/
.navbar-default{
	background-color: #19C662;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #d3fdaf;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-nav > li > a {
}

.dropbtn {
    cursor: pointer;
    color: white;
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-content a {
	border-radius: 0px 4px 4px 0px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color:  #19C662;
}

a.nav{
	text-decoration: none;
	color: #fff;
}

a.nav:hover{
	color: #000;
}

.dropdown:hover .dropdown-content {
     transition: width 1s;
    -webkit-transition: width 1s; /* Safari 3.1 to 6.0 */
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d3fdaf;
    color: #000;
}

#loading-bar .bar {
  position: relative;
}
/*------------------END-NAVBAR---------------------*/

/*------------------FORM_DATA---------------------*/
.has-error{
    border-color: #a94442;
}

.has-required{
    color: red;
}
.text-errors{
    color: red;
}
/*--------------New--------------*/
.row {
    margin-left: 5px;
}
*:focus {
    outline: none;
}

.align-td{
    text-align: right;
}
.datatext {
    border-top: #ccc 1px solid; 
    border-left: #ccc 1px solid;
    border-radius: 4px;
    border-bottom: #ccc 1px solid;
    height: 30px;
    position:relative;
    margin: 3px;
}
.contentselect {
    border-top: #ccc 1px solid; 
    height:30px;
    border-radius: 4px; 
    border-bottom: #ccc 1px solid;
    border-left:none;
}
/*--------------end-New--------------*/
/*------------------END-FORM_DATA---------------------*/

/*------------------DETAILS---------------------*/
/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
*/
/*------------------END-DETAILS---------------------*/
@media screen and (max-width : 992px){

}

@media only screen and (max-width: 768px){

}

/*  480px hoặc nhỏ hơn */
@media screen and (max-width: 480px) {

}

/* --------------RESPONSIVE LAYOUT----------- */