<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- jQuery library -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<style>
    /* The Modal (background) */

    .my-modal {
        /*display: none; /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 150px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */

    .modal-content {
        position: absolute;
        left: 50%;
        background-color: #fefefe;
        margin: auto;
        /* padding: 20px; */
        border: 1px solid #888;
        width: 40%;
    }
    /* The Close Button */

    .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    div#modal-list-symbol {
        display: flex;
        justify-content: space-between;
        overflow: auto;
        height: 180px;
    }

    div#modal-list-symbol button {
        width: 10%;
    }

    #model-header {
        cursor: move;
        padding-top: 5px;
        background-color: #a8a8a8;
        overflow: auto;
    }
</style>

<!-- The Modal -->
<div id="myModal" class="my-modal">

    <!-- Modal content -->
    <div id="modal-content" class="modal-content row" style="padding-bottom:5px;">
        <div id="model-header" class="modal-head">
            <div class="col-md-12">
                <h3>Bảng kí tự đặc biệt
                    <span class="close" ng-click="close()">&times;</span>
                </h3>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-6 form-group" ng-init="option = 'op0'">
                <select class="form-control" ng-model="option">
                    <option value="op0">All Symbol</option>
                    <option value="op1">Mathematical Operators</option>
                    <option value="op2">Greek and Coptic</option>
                    <option value="op3">Latin1 Supplement</option>
                    <option value="op4">Latin Extended A</option>
                    <option value="op5">Latin Extended B</option>
                    <option value="op6">Modifier Letters</option>
                    <option value="op7">Diacritical Marks</option>
                    <option value="op8">Cyrillic</option>
                    <option value="op9">Cyrillic Supplement</option>
                    <option value="op10">Currency Symbols</option>
                    <option value="op11">Letterlike Symbols</option>
                    <option value="op12">Arrows</option>
                    <option value="op13">Geometric Shapes</option>

                </select>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-12" id="modal-list-symbol">
                <div ng-if="option == 'op0'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8704, 8959)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(880, 1023)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(161, 255)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(256, 383)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(384, 591)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(688, 767)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(768, 879)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(1024, 1279)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(1280, 1327)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>

                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8352, 8383)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>

                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8448, 8527)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>

                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8592, 8703)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>

                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(9632, 9727)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>

                <div ng-if="option == 'op1'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8704, 8959)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op2'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(880, 1023)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op3'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(161, 255)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op4'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(256, 383)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op5'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(384, 591)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op6'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(688, 767)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op7'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(768, 879)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op8'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(1024, 1279)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op9'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(1280, 1327)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op10'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8352, 8383)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op11'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8448, 8527)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op12'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(8592, 8703)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>
                <div ng-if="option == 'op13'">
                    <button type="button" ng-repeat="symbol in makeSymbolsByRange(9632, 9727)" class="btn btn-default btn-sm" ng-click="addSymbol(symbol)">
                        <span ng-bind="symbol"></span>
                    </button>
                </div>

            </div>

        </div>
        <div class="col-md-12" style="padding-top:5px; padding-bottom:5px;">
            <button type="button" class="btn btn-default pull-right" ng-click="close()">Đóng</button>
        </div>
    </div>

</div>

<script>
    //Make the DIV element draggagle:
    dragElement(document.getElementById(("modal-content")));

    function dragElement(elmnt) {
        var pos1 = 0,
            pos2 = 0,
            pos3 = 0,
            pos4 = 0;
        if (document.getElementById("model-header")) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById("model-header").onmousedown = dragMouseDown;
        } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>