<div class="container map-detail" style="margin-top: 50px;">
	<ul style="list-style-type:none;" class="list-group">
		<li ui-sref-active="is-active"><a ui-sref="quan-ly-co-sinh" class="list-group-item">Các mẫu cổ sinh</a></li>
		<li ui-sref-active="is-active"><a ui-sref="quan-ly-dia-chat" class="list-group-item">Các mẫu địa chất</a></li>
		<li ui-sref-active="is-active"><a ui-sref="quan-ly-dong-vat" class="list-group-item">Các mẫu động vật</a></li>
		<li ui-sref-active="is-active"><a ui-sref="quan-ly-tho-nhuong" class="list-group-item">Các mẫu thổ nhưỡng</a></li>
		<li ui-sref-active="is-active"><a ui-sref="quan-ly-thuc-vat" class="list-group-item">Các mẫu thực vật</a></li>
	</ul>
</div>