<div class="container map-detail" style="margin-top: 50px;" ng-if="data">
	<script src="/javascripts/FileSaver.js"></script>
	<center><h2>Các mẫu vật đã đăng</h2></center>
	<div style="margin-bottom: 10px;">
		<button type="button" class="btn btn-success" ng-click="selectAll()">Select all</button>
		<button type="button" class="btn btn-primary" ng-click="export('pdf')"><span class="glyphicon glyphicon-download"></span> Xuất pdf</button>
		<button type="button" class="btn btn-primary" ng-click="export('docx')"><span class="glyphicon glyphicon-download"></span> Xuất docx</button>
		<button type="button" class="btn btn-primary" ng-click="export('xlsx')"><span class="glyphicon glyphicon-download"></span> Xuất xlsx</button>
	</div>
	<div id="download-progress-bar-container" style="margin-bottom: 10px; margin-top: 20px; margin-left: 0px; display: none">
		<div class="container" style="padding-left: 0px;">
			
			<div class="progress">
				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" id="download-progress-bar">
					70%
				</div>
			</div>
		</div>
	</div>
	<div class="list-group" ng-repeat="(key, post) in data">
		<li class="list-group-item">		
			<table>
				<tr>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" class="check-box" ng-model="post.selected" data-id='/content/{{link}}/{{post._id}}?display='>
							</label>
						</div>
					</td>
					<td>
						<p><b>Tên mẫu: </b><a style="text-decoration: none" href="/content/{{link}}/{{post._id}}?display=html"><span class="label label-info">{{post.tenVietNam}}</span></a></p>
						<p><b>Người thu mẫu: </b>{{post.nguoiThuMau}}</p>
						<p style="display: none"><b>Id: </b>{{post._id}}</p>
						<p><b>Ngày đăng: </b>{{post.created_at | date: "dd-MM-yyyy hh:mm:ss"}}</p>
					</td>
					<td style="right: 0px; position: absolute;">
						<a class="btn btn-{{post.fApproved ? 'primary' : 'warning'}}" href="#!/{{link}}/chinh-sua/{{post._id}}" role="button"><span class="glyphicon glyphicon-{{post.fApproved ? 'ok' : 'warning-sign'}}"></span>{{post.fApproved ? ' Đã phê duyệt' : ' Chưa phê duyệt'}}</a>
						<a class="btn btn-success" href="#!/{{link}}/chinh-sua/{{post._id}}" role="button"><span class="glyphicon glyphicon-pencil"></span>Chỉnh sửa</a>
						<a class="btn btn-danger" ng-click="deletePost(post._id)" href="" role="button"><span class="glyphicon glyphicon-trash"></span> Xóa bài đăng</a>
					</td>
				</tr>
			</table>
		</li>
	</div>
</div>

<div class="container map-detail" style="margin-top: 50px;" ng-if="!data">
	<h2>Đang tải dữ liệu...</h2>
</div>