<div class="container map-detail" style="margin-top: 50px;" ng-if="allPostAnimal">
	<div class="list-group" ng-repeat="(key, post) in allPostAnimal">
		<li class="list-group-item">
			<span>{{post._id}}</span>
			<a class="btn btn-success" href="#!/dong-vat/chinh-sua/{{post._id}}" role="button">Chỉnh sửa</a>
			<a class="btn btn-danger" ng-click="deletePost(post._id)" href="" role="button">Xóa bài đăng</a>
		</li>
	</div>
</div>

<div class="container map-detail" style="margin-top: 50px;" ng-if="!allPostAnimal">
	<h2>Không có dữ liệu!</h2>
</div>
