<div class="container map-detail" style="margin-top: 50px;">
	<div class="list-group">
		<a href="#!/bai-dang/dong-vat" class="list-group-item">Các bài đăng động vật</a>
		<a href="#!/bai-dang/thuc-vat" class="list-group-item">Các bài đăng thực vật</a>
		<a href="#!/bai-dang/co-sinh" class="list-group-item">Các bài đăng cổ sinh</a>
		<a href="#!/bai-dang/tho-nhuong" class="list-group-item">Các bài đăng thổ nhưỡng</a>
		<a href="#!/bai-dang/dia-chat" class="list-group-item">Các bài đăng địa chất</a>
	</div>
</div>