<script src="/javascripts/FileSaver.js"></script>
<div class="container-fluid">
	<div id="download-progress-bar-container" style="margin-bottom: 10px; margin-top: 20px; margin-left: 0px; display: none">
		<div class="container" style="padding-left: 0px;">
			<div class="progress">
				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" id="download-progress-bar">
					70%
				</div>
			</div>
		</div>
	</div>
	<center><h3><b>Quản lý mẫu vật đã đăng</b></h3></center>
	<table class="table">
		<thead>
			<tr>
				<th colspan="7">
					<button class="btn btn-sm btn-success" style="cursor: pointer; float: right; border-radius: 0px;" ng-click="selectAll()"><span class="glyphicons glyphicons-ok"></span> Select all</button>

					<div class="dropdown" style="float: right;">
						<button class="btn btn-sm btn-primary" style="border-radius: 0px;"><span class="glyphicon glyphicon-export"></span> Trích xuất <b class="caret"></b></button>
						<input type="hidden" name="link" ng-bind="link" id="input" class="form-control" value="">
						<div class="dropdown-content" ng-controller="ExportFileController">
					    	<a ng-click="export('pdf')"><span class="glyphicon glyphicon-download"></span> Xuất pdf</a>
					    	<a ng-click="export('docx')"><span class="glyphicon glyphicon-download"></span> Xuất docx</a>
					    	<a ng-click="export('xlsx')"><span class="glyphicon glyphicon-download"></span> Xuất xlsx</a>
					    	<a ng-click="export('zip')"><span class="glyphicon glyphicon-download"></span> Xuất zip</a>
						</div>
					</div>
					
					<!-- <div class="btn-group" data-toggle="buttons">
						<label class="btn btn-success active">
							<input type="checkbox" ng-model="selectall" ng-click="selectAll()">
							<span class="glyphicon glyphicon-ok" ng-click="selectAll()"></span>
						</label>
					</div> -->
				</th>
			</tr>
		</thead>
	</table>
	<table id="managerpost" class="map-detail  table table-striped table-bordered">
		<thead>
			<tr>
				<th>STT</th>
				<th>Tên mẫu vật</th>
				<th>Tên người lập phiếu</th>
				<th>Thông tin cơ bản</th>
				<th>Ngày đăng</th>
				<th>Trạng thái</th>
				<th>Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, post) in data">
				<td>{{key + 1}}</td>
				<td>
					<input type="checkbox" class="check-box" style="margin: 0px;" ng-model="post.selected" data-id='/content/{{link}}/{{post._id}}?display='>
					<a class="tenvietnam" style="text-decoration: none" href="/content/{{link}}/{{post._id}}?display=html"><span class="label label-info">{{post.tenVietNam ? post.tenVietNam : 'Mẫu vật'}}</span></a>
				</td>
				<td>
					{{post.nguoiLapPhieuMauVat ? post.nguoiLapPhieuMauVat : 'Chưa có tên'}}
				</td>
				<td>
					<span>Người thu mẫu: </span>{{post.nguoiThuMau ? post.nguoiThuMau : 'Chưa có tên'}}				
				</td>
				<td>
					{{post.created_at | date: "yyyy-MM-dd hh:mm:ss"}}
				</td>
				<td>
					<label class="label label-{{post.fApproved ? 'success' : 'warning'}}">{{post.fApproved ? ' Đã phê duyệt' : ' Chưa phê duyệt'}}</label>
				</td>
				<td>
					<div ng-if="link == 'dong-vat'" ng-controller="ModalCtrl">
						<button data-toggle="popover" data-trigger="hover" data-content="Duplicate" class="btn btn-xs btn-info" ng-if="restricted.restrict.dongvat.edit" ng-click="duplicateFile(post._id, link)">
							<i class="glyphicon glyphicon-duplicate"></i>
						</button>
						<button data-toggle="popover" data-trigger="hover" data-content="Chỉnh sửa" class="btn btn-xs btn-success" ng-if="restricted.restrict.dongvat.edit" ui-sref= "chinh-sua-dong-vat({id : post._id})">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button data-toggle="popover" data-trigger="hover" data-content="Xoá mẫu"  class="btn btn-xs btn-danger" ng-if="restricted.restrict.dongvat.delete" ng-click="showModal(post._id, link)">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>

					<div ng-if="link == 'thuc-vat'" ng-controller="ModalCtrl">
						<button data-toggle="popover" data-trigger="hover" data-content="Duplicate" class="btn btn-xs btn-info" ng-if="restricted.restrict.dongvat.edit" ng-click="duplicateFile(post._id, link)">
							<i class="glyphicon glyphicon-duplicate"></i>
						</button>
						<button ng-if="restricted.restrict.thucvat.edit" ui-sref = "chinh-sua-thuc-vat({id : post._id})" data-toggle="popover" data-trigger="hover" data-content="Chỉnh sửa" class="btn btn-xs btn-success">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button ng-if="restricted.restrict.thucvat.delete" ng-click="showModal(post._id, link)" data-toggle="popover" data-trigger="hover" data-content="Xoá mẫu vật" class="btn btn-xs btn-danger">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>

					<div ng-if="link == 'co-sinh'" ng-controller="ModalCtrl">
						<button data-toggle="popover" data-trigger="hover" data-content="Duplicate" class="btn btn-xs btn-info" ng-if="restricted.restrict.dongvat.edit" ng-click="duplicateFile(post._id, link)">
							<i class="glyphicon glyphicon-duplicate"></i>
						</button>
						<button ng-if="restricted.restrict.cosinh.edit" ui-sref = "chinh-sua-co-sinh({id : post._id})" data-toggle="popover" data-trigger="hover" data-content="Chỉnh sửa" class="btn btn-xs btn-success">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button ng-if="restricted.restrict.cosinh.delete" ng-click="showModal(post._id, link)" data-toggle="popover" data-trigger="hover" data-content="Xoá mẫu vật" class="btn btn-xs btn-danger">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>

					<div ng-if="link == 'tho-nhuong'" ng-controller="ModalCtrl">
						<button data-toggle="popover" data-trigger="hover" data-content="Duplicate" class="btn btn-xs btn-info" ng-if="restricted.restrict.dongvat.edit" ng-click="duplicateFile(post._id, link)">
							<i class="glyphicon glyphicon-duplicate"></i>
						</button>
						<button ng-if="restricted.restrict.thonhuong.edit" ui-sref = "chinh-sua-tho-nhuong({id : post._id})" data-toggle="popover" data-trigger="hover" data-content="Chỉnh sửa" class="btn btn-xs btn-success">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button ng-if="restricted.restrict.thonhuong.delete" ng-click="showModal(post._id, link)" data-toggle="popover" data-trigger="hover" data-content="Xoá mẫu vật" class="btn btn-xs btn-danger">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>

					<div ng-if="link == 'dia-chat'" ng-controller="ModalCtrl">
						<button data-toggle="popover" data-trigger="hover" data-content="Duplicate" class="btn btn-xs btn-info" ng-if="restricted.restrict.dongvat.edit" ng-click="duplicateFile(post._id, link)">
							<i class="glyphicon glyphicon-duplicate"></i>
						</button>
						<button ng-if="restricted.restrict.diachat.edit" ui-sref = "chinh-sua-dia-chat({id : post._id})" data-toggle="popover" data-trigger="hover" data-content="Chỉnh sửa" class="btn btn-xs btn-success">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button ng-if="restricted.restrict.diachat.delete" ng-click="showModal(post._id, link)" data-toggle="popover" data-trigger="hover" data-content="Xoá mẫu vật" class="btn btn-xs btn-danger">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<style type="text/css">
	.dropbtn {
	    background-color: #337ab7;
	    color: white;
	    border: none;
	    cursor: pointer;
	    padding: 8px;
	    border-radius: 4px;
	}

	.dropdown {
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 200px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 999;
	    border-radius: 4px;
	   	transform: translateY(0em);
	   	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    cursor: pointer;
	}

	.dropdown-content a:hover {background-color: #337ab7}

	.dropdown:hover .dropdown-content {
	    display: block;
	}

	.dropdown:hover .dropbtn {
	    background-color: #204d74;
	    color: white;
	}
</style>
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
	$(document).ready(function () {
		setTimeout(function(){
			$('#managerpost').DataTable({
				"paging": true,
				"lengthChange": true,
				"searching": true,
				"ordering": true,
				"info": true,
				"autoWidth": true,
				"language": {
				    "decimal":        "",
				    "emptyTable":     "Không có dữ liệu",
				    "info":           "<strong>Đang xem từ _START_ tới _END_ trong tổng số _TOTAL_ bản ghi</strong>",
				    "infoEmpty":      "<strong>Đang xem từ 0 tới 0 trong tổng số 0</strong>",
				    "infoFiltered":   "(Lọc trong _MAX_ mẫu)",
				    "infoPostFix":    "",
				    "thousands":      ",",
				    "lengthMenu":     "Xem _MENU_ mẫu vật",
				    "loadingRecords": "Đang tải...",
				    "processing":     "Đang xử lý...",
				    "search":         "<b>Tìm kiếm:</b>",
				    "zeroRecords":    "<b>Không tìm thấy nội dung</b>",
				    "paginate": {
				        "first":      "Đầu trang",
				        "last":       "Cuối trang",
				        "next":       "Sau",
				        "previous":   "Trước"
				    },
				    "aria": {
				        "sortAscending":  ": activate to sort column ascending",
				        "sortDescending": ": activate to sort column descending"
				    }
				}
			}).order([0, 'asc']).draw();
		}, 1000);
	});
</script>

<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function (argument) {
			$('[data-toggle="popover"]').popover();
		}, 500)
	})
</script>