<div class="container map-detail" style="margin-top: 50px;">
	<div class="list-group">
		<a href="#!/bai-dang/dong-vat" class="list-group-item">Các mẫu động vật</a>
		<a href="#!/bai-dang/thuc-vat" class="list-group-item">Các mẫu thực vật</a>
		<a href="#!/bai-dang/co-sinh" class="list-group-item">Các mẫu cổ sinh</a>
		<a href="#!/bai-dang/tho-nhuong" class="list-group-item">Các mẫu thổ nhưỡng</a>
		<a href="#!/bai-dang/dia-chat" class="list-group-item">Các mẫu địa chất</a>
	</div>
</div>