<div class="modal-header">
  <!-- <h4>Chọn những trường cần trích xuất: </h4> -->
  <h4>Lựa chọn những trường cần trích xuất: </h4>

</div>
<div class="modal-body">
	<input type="text" title="{{tooltips['fields']}}" name="fields" class=" col-xs-12 input-form form-control flexdatalist-force" data-min-length='0' multiple='multiple' ng-model="data.fields" list="fields">
	<datalist id="fields">
		<option ng-repeat="(key, value) in fields" value="{{key}}">{{value}}</option>
	</datalist>
	<label>Không chọn gì để trích xuất tất cả các trường!</label>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">Trích xuất</button>
    <button class="btn btn-danger" ng-click="cancel()">Huỷ</button>
</div>
<script type="text/javascript">
	setTimeout(function () {
		$('.flexdatalist-force').flexdatalist({
			minLength: 0,
			selectionRequired: true,
			valuesSeparator: "_-_",
			valueProperty: "value"
		});
	}, 500)
</script>
